<h2 class="text-3xl font-bold text-navy font-display">Your alerts</h2>
<p class="mt-5 text-2xl font-normal text-navy">
  Alerts are sent to your email at
  <%= current_user.email %>
  <%= link_to "Change", edit_user_registration_path, class: "text-orange underline font-bold" %>
</p>
<% if alerts.empty? %>
  <p class="mt-4 text-2xl font-bold text-navy">You do not have any alerts<p>
<% else %>
  <ul>
    <% alerts.each do |alert| %>
      <%= render "alert", alert: %>
    <% end %>
  </ul>
<% end %>
