<h1 class="text-xl font-bold text-navy">Your account</h1>
<p class="mt-1 text-4xl font-bold text-navy font-display">
  <%= current_user.name_with_fallback %>
</p>

<div class="grid-cols-3 gap-16 mt-10 md:grid">
  <div class="mb-8">
    <%= render "menu" %>
  </div>
  <div class="col-span-2">
    <%= render "index_content", alerts: @alerts %>
  </div>
</div>
