<%= render "menu" %>
<hr class="mt-10 text-navy">
<h2 class="mt-8 text-3xl font-bold text-navy font-display">Your alerts</h2>
<%= render "alerts", alerts: @alerts %>

<%
=begin
%>

<p>
  Alerts are sent to your email at
  <%= current_user.email %>
  <%= link_to "Change", edit_user_registration_path %>
</p>

<%
=end
%>
