<div class="grid-cols-3 gap-16 md:grid">
  <div>
    <%= render "menu" %>
  </div>
  <div class="col-span-2">
    <h2 class="mt-8 text-3xl font-bold text-navy font-display">Your alerts</h2>
    <%= render "alerts", alerts: @alerts %>
  </div>
</div>

<%
=begin
%>

<p>
  Alerts are sent to your email at
  <%= current_user.email %>
  <%= link_to "Change", edit_user_registration_path %>
</p>

<%
=end
%>
