%h3= @geocode_query.query

:css
  #geocoding-map {
    height: 500px;
  }

%dl
  %dt Google address
  %dd= @geocode_query.result("google").full_address
  %dt Mappify address
  %dd= @geocode_query.result("mappify").full_address

-# rubocop:disable Layout/FirstHashElementIndentation
#geocoding-map{
  data: {
    google: {
      lat: @geocode_query.result("google").lat,
      lng: @geocode_query.result("google").lng,
      html: render("geocode_results/result", result: @geocode_query.result("google"))
    },
    mappify: {
      lat: @geocode_query.result("mappify").lat,
      lng: @geocode_query.result("mappify").lng,
      html: render("geocode_results/result", result: @geocode_query.result("mappify"))
    }
  }
}
-# rubocop:enable Layout/FirstHashElementIndentation
