%p
  It's possible your local authority may not be included yet.
  You can check by clicking #{link_to "here", authorities_path}.
  If it isn't, please sign up so you can receive alerts as soon as they're available.
  You may also contact your local council and encourage them to join our
  #{link_to "Application Tracking program", "http://www.planning.nsw.gov.au/en-au/buildinginnsw/e-planningfornsw/applicationtracking.aspx"}.
