/* Place your application-specific stylesheets for the admin panel here */

/*
.logo {
  height: 50px;
  width: 150px;
  background: transparent url(/images/logo.gif) no-repeat;
  text-indent: -10000px;
}

*/
