<% content_for :page_title, "Great! Now check your email" %>

<%= render Tailwind::CentreBlockWithImage.new(extra_classes: "mt-16") do |c| %>
  <% c.with_heading.with_content(yield :page_title) %>
  <% c.with_image do %>
    <%= image_tag("tailwind/illustration/check-email.svg") %>
  <% end %>

  <div class="flex flex-col gap-6 text-xl text-navy">
    <p>
      You will shortly receive an email from PlanningAlerts.org.au.
    </p>
    <p>
      <strong>Click on the link</strong> in the email
      to confirm your email address. Then you will have finished creating
      your account.
    </p>
    <p>
      If you don't get an email in the next few minutes, try checking your spam filter.
    </p>
  </div>
<% end %>
