<section class="main-content__header">
  <%= button_to "Resend email", resend_admin_comment_path(page.resource), disabled: page.resource.last_delivered_successfully %>
  <%= button_to "Confirm", confirm_admin_comment_path(page.resource), disabled: page.resource.confirmed %>
</section>
