/* @group Defaults */

html { background: #000; height: 100%; margin-bottom: 1px; }
body { color: #000; font-family: "Lucida Grande", Helvetica, Arial, sans-serif; font-size: 75%; }
label { display: block; font-weight: bold; margin-bottom: 5px; margin-top: 0px; }
strong { font-weight: bold; }
em { font-style: italic; }
dl { margin: 14px 0 20px 0; }
dt { font-weight: bold; margin: 0 0 5px 0; }
dd { font-size: 18px; margin: 0 0 15px 0; }

/* @end */

/* @group Links */

a, 
a:visited,
a:link { color: #000; font-weight: normal; text-decoration: none; }
a:hover { color: #333; text-decoration: underline; }
a.on { color: #333; font-weight: bold; text-decoration: underline; }

/* @end */

/* @group Wrappers */

#header_wrapper {
  background: #000;
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}

#wrapper { background: #FFF; }

#content_wrapper {
  background: #FFF;
  min-height: 400px;
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}

/* @end */

/* @group Header */

#header {
  background: #000;
  color: #FFF;
  margin: 0 auto;
  padding: 1em 0;
}

#header h1 {
  display: block;
  float: left;
  font-size: 2em;
  margin-right: 0.25em;
}

#header a { color: #FFF; }
#header .left { float: left; }
#header .right { float: right; margin-top: 1em; }
#header .left ul { display: block; float: left; margin-top: 1em; }
#header .left li, #header .right li { display: inline; padding-left: 0.5em; }

/* @end */

/* @group Content */

#content { float: left; padding: 1.5em 0; width: 700px; }

#content h2 { font-size: 1.5em; font-weight: bold; margin: 0 0 0.5em 0; }
#content h2 a { font-weight: bold; }
#content h2 small { font-size: 0.75em; }
#content h2 small a { color: #666; }
#content h3 { font-size: 1.25em; font-weight: bold; margin: 1em 0; }
#content h4 { margin: 1em 0; }
#content ol { margin: 1em 2em; }
#content ul { margin: 0 1.5em; }
#content li { list-style: square; line-height: 20px; }
#content ul li { list-style: square; }
#content p { margin: 0 0 1em 0; }
#content p a { text-decoration: underline; }
#content p a:hover { color: #408BB6; }
#content table.typus { background: #000; margin: 1em 0;  }
#content h2+table.typus { margin: 0; }

#content pre {
  background: #000;
  color: #FFF;
  font-size: 1.25em;
  margin: 1em 0;
  overflow: auto;
  padding: 1em;
}

#content blockquote {
  border-left: 1px solid #999;
  font-size: 1.25em;
  font-family: georgia;
  margin: 1em;
  padding: 0 1em;
}

/* @end */

/* @group Sidebar */

#sidebar {
  float: left;
  margin-left: 20px;
  padding: 1.5em 0;
  width: 220px;
}

#sidebar h2 { font-size: 1.5em; font-weight: bold; }
#sidebar h3 { margin: 1em 0; }
#sidebar p { margin: 1em 0; }
#sidebar p a { text-decoration: underline; }
#sidebar label { font-size: 15px; }
#sidebar form { margin-bottom: 1.25em; }
#sidebar ul { margin: 1em 0; }
#sidebar code { color: green; font-size: 1.25em; }
#sidebar small { font-size: 0.85em; }

/* @end */

/* @group Footer */

#footer_wrapper { background: #000; }
#footer { background: #000; margin: 0 auto; width: 940px; }
#footer .left { float: left; }
#footer .right { float: right; }
#footer a { color: #FFF; font-weight: normal; text-decoration: underline; }
#footer a:hover { color: #408BB6; }

#footer p {
  color: #FFF;
  font-size: 0.9em;
  line-height: 18px;
  padding: 1em 0;
}

/* @end */

/* @group Fieldsets */

fieldset { margin: 0; padding: 0; }
fieldset ol { margin: 0!important; }
fieldset ol li { list-style: none!important; margin: 1em 0!important; }
fieldset small { font-size: 0.9em; font-weight: normal; }

fieldset.inputs { }

  fieldset.inputs input[type='text'], 
  fieldset.inputs input[type='password'] {
    border: 1px solid #999;
    font-size: 20px;
    padding: 5px;
    width: 691px;
  }

  fieldset.inputs input[type='text']:focus, 
  fieldset.inputs input[type='password']:focus, {
    background: #FFFCE1;
  }

  fieldset.inputs textarea {
    border: 1px solid #999;
    font-family: "Courier";
    font-size: 14px;
    padding: 3px;
    width: 691px;
  }

  fieldset.inputs select { border: 1px solid #999; font-size: 1.20em; }

  fieldset.inputs textarea:focus { background: #FFFCE1; }
  fieldset.inputs label.inline_label { display: inline; }

fieldset.buttons { }

/* @end */

/* @group Content Tables */

#content table.typus { width: 100%; }
#content table.typus small { font-size: 0.8em; }
#content table.typus th { color: #FFF; font-weight: normal; padding: 4px; }
#content table.typus th a { color: #FFF!important; }
#content table.typus td.right { text-align: right; }
#content table.typus tr.even { background: #FFF!important; }
#content table.typus tr.even:hover,
#content table.typus tr.odd:hover { background: #000!important; color: #FFF; }
#content table.typus tr.even:hover a,
#content table.typus tr.odd:hover a { color: #FFF!important; }
#content table.typus tr.odd { background: #F5F5F5; }
#content table.typus span.inactive { color: #888; }
#content table.typus td { border: none; font-weight: normal; padding: 3px 4px; vertical-align: top; }

/* @end */

/* @group Rails Errors */

.fieldWithErrors input { background: #FBE3E4; border: 1px solid #8A1F11!important; }

.errorExplanation {
  background: #FBE3E4;
  border: 2px solid #FBC2C4;
  color: #8a1f11;
  padding: 0 10px;
}

.errorExplanation h3 { display: none; }
.errorExplanation p { font-weight: bold; margin: 15px 0 10px 0!important; padding: 0 5px; }
.errorExplanation ul { margin: 0 0 10px 25px!important; }
.errorExplanation ul li { list-style: square!important; margin: 0!important; }

/* @end */

/* @group Search Box */

input#search { border: 1px solid #999; font-size: 1.2em; padding: 3px; }

/* @end */

/* @group Date search boxes */

input.date_input { border: 1px solid #999; margin-bottom: 1em;}

/* @end */

/* @group Login Page Dialog */

#bottom_dialog {
  color: #FFF;
  font-size: 0.9em;
  line-height: 18px;
  margin: 0 auto;
  padding: 0 1.5em;
  text-align: center;
  width: 420px;
}

#bottom_dialog a { color: #FFF; font-weight: bold; }

#dialog {
  background: #FFF;
  border: 0.5em solid #408BB6;
  margin: 5em auto 1em auto;
  padding: 0 1.5em;
  width: 35em;
}

#dialog h1 { font-size: 2em; font-weight: bold; margin: 0.5em 0; }
#dialog h1 a { font-weight: bold; }
#dialog h1 a:hover { color: #000; text-decoration: underline; }
#dialog li { margin: 1em 0; }
#dialog li a { display: inline; font-size: 11px; margin: 0.5em; }

#dialog input.text {
  border: 1px solid #999;
  font-size: 2em;
  padding: 0.25em;
  width: 16.75em;
}

#dialog input.button { margin: 0.5em 0; }
#dialog .errorExplanation ul { margin: 10px 0 10px 0!important; }
#dialog .errorExplanation li { font-weight: bold; list-style: none!important; }

/* @end */

/* @group Pagination */

.pagination {
  border-bottom: 1px solid #F5F5F5;
  border-top: 1px solid #F5F5F5;
  margin: 1.5em auto 0 auto;
  padding: 1em;
  text-align: center;
}

.pagination a {
  color: #333;
  margin: 2px;
  padding: 2px 3px;
  text-decoration: none;
}

.pagination a:hover,
.pagination a:active { background: #000; color: #FFF; }

.pagination span.current {
  background-color: #408BB6;
  color: #FFF;
  font-weight: bold;
  margin: 2px;
  padding: 2px 3px;
}

.pagination span.disabled { color: #DDD; margin: 2px; padding: 2px 3px; }

/* @end */

/* @group Success, notice and error boxes */

.error,
.notice, 
.success { border: 1px solid #CCC; font-weight: bold; margin: 0 0 1em 0; }
.error p,
.notice p, 
.success p { font-weight: bold; margin: 0!important; padding: 1em; }
.error { background: #FBE3E4; border-color: #FBC2C4; color: #8A1F11; }
.error a { color: #8A1F11; }
.notice { background: #FFF6BF; border-color: #FFD324; color: #514721; }
.notice a { color: #514721; }
.success { background: #E6EFC2; border-color: #C6D880; color: #264409; }
.success a { color: #264409; }

/* @end */

/* @group Microformats */

.box { border: 1px solid #D3D3D3; margin: 1em 0; padding: 10px; }
.box:hover { border: 1px solid #999; }
.box .preview { float: left; margin: 0 15px 0 0; width: 200px; }
.box .content h2 { font-size: 16px!important; margin: 0 0 10px 0!important; }
.box .content h3 { font-size: 14px!important; margin: 0 0 10px 0!important; }
.box .content blockquote p { font-size: 16px!important; }
.box .content p { font-size: 12px!important; margin: 0 0 10px 0!important; }
.box .content ul { margin: 0 0 10px 20px!important; }
.box .metadata { float: left; width: 350px; }
.box .metadata ul { margin: 0!important; padding: 0!important; }
.box .metadata ul li { list-style: none!important; }
.box .actions ul { margin: 0!important; }
.box .actions ul li { display: inline; list-style: none!important; }

.box .actions {
  float: right;
  position: relative;
  top: 0;
  right: 0;
  text-align: right;
}

/* @end */

/* @group Clean Me */

.box_relationships { border-top: 1px dotted #D3D3D3; padding: 1.5em 0; }

/* @end */

/* @group Hacks */

.clear { clear: both; }
.tip { color: #666; font-size: 10px; margin: -10px 0 10px 0!important; }

/* @end */

/* @group Sprite */

.sprite { background: url(../../images/admin/ui-icons.png) no-repeat; text-indent: -10000px; }
.trash { background-position: -177px -97px; height: 15px; width: 15px; }
.unrelate { background-position: -145px -129px; height: 15px; width: 15px; }

/* @end */