<% content_for :page_title, "Now check your email" %>

<div class="login-block">
  <h2><%= yield :page_title %></h3>

  <%= render "svg/email" %>

  <p>
    You will shortly receive an email from PlanningAlerts.org.au.
    <span class="highlight">Click on the link in the email</span>
    to complete the final step to activate your account.
  </p>
  <p>
    If you don't get an email in the next few minutes, try checking your spam filter.
  </p>
</div>
