!!!
%html{lang: "en"}
  = render "shared/html_head", rss: @rss
  %body
    .container
      = render "application/header", with_navigation: true, alert_count: @alert_count
      -# = render "application/main"
      %main{role: "main"}
        .jumbotron
          .col-sm-8.mx-auto
            %h1 Navbar examples
            %p
              This example is a quick exercise to illustrate how the navbar and its contents work. Some navbars extend the width of the viewport, others are confined within a
              = succeed "." do
                %code .container
              %a{href: "/docs/4.2/examples/navbar-static/"} top
              and
              %a{href: "/docs/4.2/examples/navbar-fixed/"} fixed top
              examples.
            %p At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu button to toggle the collapsed content.
            %p
              %a.btn.btn-primary{href: "/docs/4.2/components/navbar/", role: "button"} View navbar docs »
      -# = render "shared/stats"
      -# = render "shared/donations"
      -# = render "application/footer"
    -# = render "shared/end_matter", with_maps_scripts: true
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js", integrity: "sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut", crossorigin:"anonymous"}
    %script{src: "https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js", integrity: "sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k", crossorigin:"anonymous"}
