<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap</title>
  <%= stylesheet_link_tag    "bootstrap/all", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "bootstrap/all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>