- content_for :page_title, 'Thank you for backing PlanningAlerts'

.registration-success-page
  %h1.page-title Thank you for backing PlanningAlerts!
  %p
    We’re processing your donation and will send through a receipt shortly.
  %p
    You can cancel your monthly donations at any time, just
    #{ mail_to "contact@planningalerts.org.au", "email us at contact@planningalerts.org.au" }.
