- content_for :page_title, 'Back PlanningAlerts'

.backer-hero-image
  .backers-page.backers-page-light-theme
    .container.main
      #content
        %div.backers-intro
          %h1.page-title
            You should be informed and have your say on changes to&nbsp;your local area.
          %p
            PlanningAlerts exists as a free, independent project
            because people like you back it with a small monthly&nbsp;donation.
        = form_tag backers_path, class: 'backers-payment-form' do
          %fieldset.amount-setter
            %label
              %span.amount-setter-label-text Choose your contribution
              %div.amount-setter-container
                %div.amount-setter-input
                  %i &#36;
                  %input{type: "text", value: "3.50", placeholder: "0.00", required: "required"}
                %span Per month
          %p
            %button.button-action{type: 'submit'}
              Donate $3.50 each month
          %p.quiet.small
            Donations over $2 are tax deductible.
.backers-this-week
  .container
    %h2 Because of backers like you, here’s our week on PlanningAlerts
    %ul
      %li
        %p
          %span.number 76,559
          emails sent to subscribers
      %li
        %p
          %span.number 499
          new people joined PlanningAlerts
      %li
        %p
          %span.number 141
          new comments on applications
.backers-thankyou
  .title-container.container
    %h2
      Thank you to all our backers and amazing volunteer contributors who make this all possible
      %span— Henare, Kat and Luke from the OpenAustralia Foundation
  %figure
    = image_tag path_to_image("daveb_hackfest_photo.jpg"), alt: "Photograph of people with laptops working on PlanningAlerts together."
    %figcaption
      %p.container
        Volunteer contributors making PlanningAlerts available in more parts of Australia
        at our April 2016 Hackfest at Frontyard in Marrickville, Sydney.
        = link_to "Photo by BIKE Sydney", "https://twitter.com/BIKESydney/status/723686583786852353"
