- content_for :page_title, 'Back PlanningAlerts'

.backers-page
  = form_tag backers_path, id: 'backers-payment-form' do
    %h1.page-title
      Because you should be informed and have your say on changes to your local area.

    %p
      PlanningAlerts exists as a free, independent project
      because people like you back it with a small monthly donation.

    %p
      %button.button-action{type: 'submit', id: "button-pro-signup"}
        Back PlanningAlerts

    %p.quiet.small
      Donations over $2 are tax deductible.
