- content_for :page_title, 'Back PlanningAlerts'

.backers-page
  .container.main
    #content
      %h1.page-title
        Because you should be informed and have your say on changes to your local area.

      = form_tag backers_path, class: 'backers-payment-form' do
        %p
          PlanningAlerts exists as a free, independent project
          because people like you back it with a small monthly donation.

        %p
          %button.button-action{type: 'submit'}
            Become a PlanningAlerts Backer

        %p.quiet.small
          Donations over $2 are tax deductible.
