<% content_for :page_title, "Your comments" %>

<%= render Tailwind::Heading.new(tag: :h2).with_content(yield(:page_title)) %>

<% if @comments.empty? %>
  <p class="mt-12 text-xl text-navy">You haven't made any comments yet.</p>
<% else %>
  <ol class="mt-20">
    <% @comments.each do |comment| %>
      <li class="mb-12 border-b border-light-grey">
        <%= render "comment", comment: %>
      </li>
    <% end %>
  </ol>
  <%= render Tailwind::SimplePager.new(collection: @comments) %>
<% end %>
