- content_for :page_title, "Try out the new design"
%h1.page-title Try out the new design

- if Flipper.enabled?(:switch_themes, current_user)
  %p
    This is where we explain what the new design is, why it's cool, and what people need to do to try it out. (e.g. install bugherd browser plugin).
  %p
    Some key things:
    %ul
      %li You are special because you can try out the new design
      %li
        This is what you will get
        -# TODO: Screenshot of new design
      %li
        This is what you need to promise to do (let us know about problems). This is your part of the deal. We ask you to please send feedback to us about any problems you encounter using the new design.
        We've made it easy to do this using a tool called BugHerd, which is available on the right hand side of the screen when you're on the new design. See screenshot.
      %li
        Please install the BugHerd browser extension at <a href="https://www.bugherd.com/extensions">www.bugherd.com/extensions</a>. It is available for Chrome, Firefox, Edge and Safari.
        You can let us know about problems through BugHerd even if you don't install the browser extension but if you do it will automatically add screenshots when giving feedback
        which makes things much much easier for us.
        -# TODO: Show screenshot of submitting feedback with BugHerd.
      %li If you opt-in to try out the new design you can switch back at any stage until we roll it out to everybody

    = button_to "Switch over to the new design", toggle_theme_path, class: "button button-action button-rounded"
- else
  %p
    It looks like you're not on the list to try out the new design just yet. Sorry!
  %p
    Contact us if you think this is a mistake.
