- content_for :page_title, "Switch design"
%h1.page-title Switch design

- if Flipper.enabled?(:switch_themes, current_user)
  %p
    Thanks for helping us by trying out the new design!

    = button_to "Switch to the new design", toggle_theme_path, class: "button button-action button-rounded"
- else
  %p
    It looks like you're not on the list to try out the new design just yet. Sorry!
  %p
    Contact us if you think this is a mistake.
