- content_for :page_title, "Try out the new design"
%h1.page-title Try out the new design

- if Flipper.enabled?(:switch_themes, current_user)
  %p
    This is where we explain what the new design is, why it's cool, and what people need to do to try it out. (e.g. install bugherd browser plugin).
  %p
    Some key things:
    %ul
      %li You are special because you can try out the new design
      %li This is what you will get
      %li This is what you need to promise to do (let us know about problems)
      %li Install bugherd
      %li If you opt-in to try out the new design you can switch back at any stage until we roll it out to everybody

    = button_to "Switch over to the new design", toggle_theme_path, class: "button button-action button-rounded"
- else
  %p
    It looks like you're not on the list to try out the new design just yet. Sorry!
  %p
    Contact us if you think this is a mistake.
