<% content_for :page_title, "Thank you for reporting a comment" %>

<div class="mb-8">
  <%= pa_link_to "< Back to application", @comment.application, extra_classes: "text-xl" %>
</div>

<%= render Tailwind::Heading.new(tag: :h1) do %>
  <%= yield :page_title %>
<% end %>

<div class="flex flex-col items-center gap-8 px-20 py-12 mt-16 text-xl lg:flex-row text-navy bg-light-grey">
  <div>
    <p>
      Thank you for noticing!
    </p>

    <p class="mt-6">
      A moderator will review the comment in light of your report and our guidelines and see if it should be removed or not.
      Either way we'll get back to you.
    </p>

    <p class="mt-6">
      Your action helps keep community discussions respectful and safe.
    </p>
  </div>
  <%= image_tag "tailwind/illustration/thank_you.svg", alt: "Illustration of a woman giving a thumbs up" %>
</div>
