<%# TODO: Add real content %>
<article class="flex gap-6">
  <div class="text-navy text-7xl">”</div>
  <div>
    <p class="text-2xl text-navy">What size are the proposed lots?</p>

    <%# TODO: Smaller line height? %>
    <div class="mt-2 text-xl font-bold text-navy">Margaret Minogue</div>
    <div class="text-xl text-navy">About 3 hours ago</div>
    <%# TODO: Add disclosure icon %>
    <%# TODO: Make it work %>
    <%# TODO: Progressive enhancement? %>
    <div class="text-xl font-bold text-fuchsia">Delivered to the planning authority</div>
    <div>
      <%# TODO: Link to correct place %>
      <%= link_to "Report this comment", "#", class: "text-fuchsia text-xl underline" %>
    </div>
  </div>
</article>
