<%# TODO: Currently this flash message appears in the wrong place %>
<div class="m-4 font-normal leading-9">
  <h2 class="text-3xl font-bold">Thanks, your comment has been sent</h2>
  <p>
    Your comment has been sent to <span class="font-bold"><%= comment.comment_recipient_full_name %></span> and posted below.  
  </p>
  <%# TODO: Not sure how this link should be styled %>
  <%= link_to "Share your comment on Facebook", "https://www.facebook.com/sharer/sharer.php?u=#{comment_url(Comment.first)}&t=", class: "underline" %>
</div>
