.bundle
.env.development
db/*.sqlite3
log/*.log
tmp/cache
tmp/pids
tmp/sass-cache
tmp/binlog
tmp/rspec_guard_result
tmp/capybara
tmp/miniprofiler
tmp/sitemaps
tmp/boundaries
tmp/restart.txt
tmp/storage
coverage
storage/*
rerun.txt
webrat.log
.DS_Store
planningalerts-app.sublime-workspace
planningalerts-app.sublime-project

#IntelliJ
*.iml
.generators
.rakeTasks

.vscode

/app/assets/builds/*
!/app/assets/builds/.keep

/config/credentials/production.key
/config/credentials/development.key

database-migrate-commands.production
