.bundle
db/*.sqlite3
log/*.log
tmp/cache
tmp/pids
tmp/sass-cache

log/searchd.development.pid
config/database.yml
config/development.sphinx.conf
db/sphinx/development/*
rerun.txt
public/about.html
public/api/*.html
public/faq.html
public/getinvolved.html
public/index.html
public/stylesheets/compiled
public/sitemap.xml
public/sitemap*.xml.gz
public/javascripts/all.js
public/javascripts/mxn_bundle.js
webrat.log
.DS_Store