addons:
  firefox: latest
language: ruby

before_install:
  - gem install bundler:1.17.3

before_script:
  - cp config/database.yml.example config/database.yml
  - bundle exec rake db:setup
  # But we want to have an empty test database to start with (not populated by seeds.rb)
  - bundle exec rake db:test:prepare
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter -d before-build
after_script:
  - ./cc-test-reporter -d after-build -t simplecov --exit-code $TRAVIS_TEST_RESULT

script:
  # - bundle exec rake
  # # Also fail if any static type checking fails
  # - bundle exec srb
  # - bundle exec rubocop
  # Also make sure that our tapioca stuff is up to date
  - RAILS_ENV=test bundle exec tapioca gems --verify
  - RAILS_ENV=test bundle exec tapioca dsl --verify
  - bundle exec tapioca check-shims

services:
  - mysql
  - redis

dist: xenial
