@import "compass/css3";
@import "mixins";

// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$base-font-size: 16px;
$blueprint-font-size: $base-font-size;
$blueprint-font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;

// Susy grid settings
// ---------------------------------------------------------------------------

@import "susyone";

// ---------------------------------------------------------------------------
// Basic Grid

$column-width   : 1.825em;
$gutter-width   : 0.7em;
$grid-padding   : $gutter-width * 2;

$container-style: fluid;

$show-grid-backgrounds: false;

@import "colours";
