@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($content) {
  @include experimental(animation, $content, -webkit, -moz, not -o, not -ms, official);
}

@mixin boxed-content {
  display: block;
  padding: 10px;
  background-color: $lightest-cool-highlight;
  color: $cool-highlight;
  border-radius: .5em;
}

// Make content not visible but available to screen readers
// http://a11yproject.com/posts/how-to-hide-content/
@mixin sr-only {
  position: absolute !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden;
  clip: rect(0,0,0,0);
}

.sr-only {
  @include sr-only();
}
