<%= render Tailwind::Heading.new(tag: :h1).with_content("Request an API key") %>

<%= render Tailwind::Heading.new(tag: :h2).with_content("The Planning Alerts API is a paid service") %>

<p class="mt-8 text-2xl text-navy">
  The PlanningAlerts API costs $2499 per month. We have a very straightforward short contract. We invoice monthly.
  Let's have a conversation to get things started.
  Fill out this form and we'll go from there.
</p>

<p class="mt-8 text-2xl text-navy">
  Under certain very specific circumstances we may grant you access to the API for free. You must:
</p>

<ul class="pl-6 mt-8 text-2xl list-disc list-outside text-navy">
  <li>
    Not be making money in any way using the API or in a related service - some more words that explain this in detail
  </li>
  <li>
    Not be funded
  </li>
  <li>
    Not unduly restricting access to the end result - should be available to the public
  </li>
  <li>
    You have don't oodles lying around that you could use to pay for API access
  </li>
</ul>
