- if @application.on_notice_to
  %p= on_notice_text(@application)
- unless @application_authority_councillors
  %p
    Your comment and details will be sent to
    %strong #{@application.authority.full_name}.
    - unless @application.official_submission_period_expired?
      They’ll consider your submission when they decide whether to approve this application.
    Your name and comment will be posted publicly here as well.
%p
  If you have made a donation to a Councillor and/or gift to a Councillor or Council employee you may
  #{link_to("need to disclose this", faq_path(:anchor => "disclosure"))}.
