%p
  - if @councillors
    Post a comment for the planning authority
    or one of your elected local councillors.
  - else
    Your comment and details will be sent to
    %strong #{@application.authority.full_name}.
    - unless @application.official_submission_period_expired?
      They’ll consider your submission when they decide whether to approve this application.
  Your&nbsp;name and comment will be posted publicly above.