%p.notice.notice-comment-confirmed
  Thanks.
  = link_to 'Your comment', comment_path(@comment)
  has been sent to
  = @comment.councillor ? "local councillor #{@comment.councillor.name}" : @comment.application.authority.full_name
  and is now visible on this page.
