<%# TODO: Do we want to right align the arrow with the expanded content? %>
<%# TODO: We probably want to visually separate the whole component from its surroundings %>
<%# TODO: We don't want the content to fill the full width %>
<div class="text-lg text-navy">
  <%= render "comments/delivery_status_text_short", comment: %>
  <div class="inline-block ml-1">
    <%= render Tailwind::InfoPopupComponent.new do %>
      <%= render "comments/delivery_status_text_long", comment: %>
    <% end %>
  </div>
</div>
