%p
  To comment on this application you will need to go to the
  original source on #{link_to application.authority.full_name, application.info_url}
  and find any instructions from there.
%p
  This is because unfortunately we don't know an email address for this authority
  to send official comments to. If you can find one please #{link_to "let us know", documentation_contact_path}.

- if application.on_notice_to
  %p= on_notice_text(application)
