%span
  %strong Your comment has not been sent
  because you filled out the prototype for our new form.
  Thanks for your help!
  %br
  = link_to application_path(@application) do
    You can still leave a comment on the normal application page.

