- content_for :page_title, "Confirmed"
.attention
  %h3 Thanks, your comment has been confirmed and sent
  %p
    Your comment has been sent to #{@comment.application.authority.full_name} and is visible on #{link_to "the application page", @comment.application}.
