- content_for :page_title, "Recent comments"
%h1.page-title Recent comments
= paginated_section @comments, :previous_label => "« Newer", :next_label => "Older »" do
  %ol#comments
    = render @comments, with_link: true
