<%# TODO: This whole page has not had any design applied to it yet %>

<% content_for :page_title, @description %>
<%= render HeadingComponent.new(tag: :h1).with_content(@description) %>

<div class="flex flex-col my-8 border-b divide-y divide-light-grey2 border-light-grey2">
  <% @comments.each do |comment| %>
    <%= render "comment_with_application", comment: %>
  <% end %>
</div>

<%# TODO: Speed up controller by using without_count after removing old theme %>
<%= render SimplePagerComponent.new(collection: @comments) %>
