- content_for :page_title, "We're sorry, but something went wrong (500)"
.attention
  %h3 We're sorry, but something went wrong
  %p We've been notified about this issue and we'll take a look at it shortly.
  %p= link_to "Go to the home page", root_url
