%dt#disclosure
  Why do I need to disclose if I've made a donation to a Councillor and/or gift to a Councillor or Council employee
  when commenting on a planning application?
%dd
  = render "disclosure_explanation"
