%dt
  What kind of license is the data available under?
%dd
  The data via the #{link_to "API", api_howto_path} is licensed under the
  <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0 license</a>.
  The license granted in relation to the 'Work' should be read broadly to relate not only copyright but all other IP
  rights present in this dataset including, for example, any Database rights.
