<li class="mb-6 break-inside-avoid">
  <div class="ml-6">
    <%= link_to application do %>
      <div class="text-orange"><%= application.address %></div>
      <div class="font-normal text-blue"><%= pluralize(application.visible_comments_count, "comment") %></div>
    <% end %>
  </div>
</li>
