<h3 class="font-semibold text-4xl text-blue mt-20">Top 20 commented planning applications</h3>
<p class="text-xl text-blue mt-4">
  Some planning applications attract considerably more community interest than others.
  We bring you the trending applications so you can see what people find most popular or contentionus.
</p>
<ol class="columns-2 list-decimal text-fuchsia font-bold text-xl pl-10 mt-10">
  <li class="break-inside-avoid mb-6">
    <div class="ml-6">
      <div class="text-orange">2 Club Court, Strathfieldsaye 3551, VIC</div>
      <div class="text-blue font-normal">13 comments</div>
    </div>
  </li>
  <li class="break-inside-avoid mb-6">
    <div class="ml-6">
      <div class="text-orange">179 Albion Street, Brunswick VIC 3056</div>
      <div class="text-blue font-normal">11 comments</div>
    </div>
  </li>
  <li class="break-inside-avoid mb-6">
    <div class="ml-6">
      <div class="text-orange">257 Albert Street, Brunswick VIC 3056</div>
      <div class="text-blue font-normal">11 comments</div>
    </div>
  </li>
  <li class="break-inside-avoid mb-6">
    <div class="ml-6">
      <div class="text-orange">49 Newcombe Street, Portarlington, VIC</div>
      <div class="text-blue font-normal">28 days ago</div>
    </div>
  </li>
  <li class="break-inside-avoid mb-6">
    <div class="ml-6">
      <div class="text-orange">11 John Batman Avenue, Werrington County NSW 2747</div>
      <div class="text-blue font-normal">9 comments</div>
    </div>
  </li>
</ol>
<div class="font-bold text-xl text-yellow text-right">> View all top 20</div>
