<%# TODO: Extract this into a component, so it can be reused without remimplenting the component %>
<% if path_to_prev_page(applications) %>
  <div class="text-2xl">
    <%= pa_link_to "< Previous page", path_to_prev_page(applications) %>
  </div>
<% end %>
