<div class="flex justify-between">
  <div x-data
        <%# This handles both when google maps is ready before alpine and the other way around %>
        x-init="if('google' in window) initialiseBasicMapWithMarker($refs.map)"
        x-on:map-loaded.window="initialiseBasicMapWithMarker($refs.map)">
    <%= tag.div class: "bg-google-maps-green w-[528px] h-[528px]",
                data: { lat: application.lat, lng: application.lng, address: application.address, zoom: 16 },
                "x-ref" => "map" %>
  </div>
  <div x-data
       x-init="if('google' in window) initialisePano($refs.pano)"
       x-on:map-loaded.window="initialisePano($refs.pano)">
    <%= tag.div class: "w-[528px] h-[528px]",
                data: { lat: application.lat, lng: application.lng, address: application.address },
                "x-ref" => "pano" %>
  </div>
</div>

<%
=begin
%>

- if application.location
  -# If just showing the map make it twice as wide
  .application#map_div{ { "data-lat": application.lat, "data-lng": application.lng, "data-address": application.address, "data-zoom": 16 }, class: ("double" if Flipper.enabled?(:disable_streetview_in_app, current_user)) }
    %noscript= google_static_map(application, size: "350x330")

  - unless Flipper.enabled?(:disable_streetview_in_app, current_user)
    .details
      #pano{ data: { lat: application.lat, lng: application.lng, address: application.address } }
        %noscript= google_static_streetview(application, size: "350x330")

<%
=end
%>
