<% content_for :page_title, "Top 20 most commented" %>

<%= render Tailwind::Heading.new(tag: :h1) do %>
  <%= yield :page_title %>
<% end %>

<p class="mt-12 text-2xl text-navy">
  This page shows you the top 20 most commented on applications from across Australia in the last six months.
</p>

<section class="mt-8">
  <%= render Tailwind::Heading.new(tag: :h2).with_content("Journalist?") %>
  <p class="text-2xl text-navy">
    When you include information from Planning Alerts in a story or post, please cite it by including a link with a full URL.
    That way your readers can see the facts for themselves, understand the broader context and write their own comment.
  </p>
</section>

<div class="mt-16 mb-8 divide-y divide-light-grey2 border-y border-light-grey2">
  <%= render partial: "application", collection: @applications %>
</div>
