<div class="relative mt-16">
  <section class="inline-block p-8 text-xl text-white sm:px-14 sm:py-12 bg-lavender rounded-xl">
    <%= content %>
  </section>
  <div class="w-0 h-0 absolute -top-16 left-8 sm:left-16
    border-l-[15px] border-l-transparent
    border-b-[65px] border-b-lavender
    border-r-[15px] border-r-transparent">
  </div>
</div>
