<%# TODO: Ensure that the heading styling matches up with the standard styling elsewhere %>
<%# TODO: Add styling for h4 %>
<div class="prose prose-xl prose-pre:bg-light-grey prose-pre:text-navy prose-pre:rounded-none prose-td:border-2 prose-td:border-white prose-td:bg-light-grey prose-td:px-4 prose-th:px-4 prose-th:py-3 prose-th:text-white prose-th:bg-navy prose-th:whitespace-nowrap max-w-none prose-h3:font-sans prose-h3:text-xl prose-h3:font-bold prose-h2:font-display prose-h2:text-2xl prose-h2:font-bold prose-a:underline prose-a:font-bold prose-a:text-fuchsia hover:prose-a:text-fuchsia-darker focus:prose-a:outline-none focus:prose-a:bg-sun-yellow prose-h1:text-3xl prose-h1:font-display prose-h1:font-bold prose-ul:pl-6 prose-li:pl-0 prose-li:my-0 prose-li:marker:text-navy">
  <%= content %>
</div>
