<div class="relative inline-block">
  <div class="inline-block <%= @box_classes %> font-bold text-white bg-lavender">
    <%= content %>
  </div>
  <div class="w-0 h-0 absolute <%= @alignment %>
    border-l-transparent border-t-lavender border-r-transparent
    <%= @arrow_classes %>">
  </div>
</div>
