%form{ :method => "post", :action => @form_action }
  %fieldset
    %input{ :name => "_is_postback", :value => "1", :type => "hidden" }
  .attention
    %h3 Thanks, your alert has been activated
    %p
      You will now receive email alerts for any planning applications we find near
      %strong= @alert.address
      (within approximately #{meters_in_words(@alert.area_size_meters)}).
      If this alert doesn't cover everywhere you are interested in
      %span.highlight
        = link_to "you can sign up for multiple alerts", signup_path
