<%# This template is generated automically by maizzle and should not be edited by hand! Go to "maizzle/src/templates". %>
<x-main>
  <div class="font-sans text-lg sm:px-4 text-navy dark-mode:text-white">
    <table align="center">
      <tr>
        <td class="w-[552px] max-w-full">
          <x-logo />

          <x-spacer height="32px" />

          <content />

          <!-- TODO: Style divider correctly -->
          <x-divider />

          <x-footer-text />
          <x-spacer height="144px" />
        </td>
      </tr>
    </table>
  </div>
</x-main>