%button{formaction: new_authority_councillor_contribution_path, class: "button"} Add another councillor
= f.submit "Submit #{@councillor_contribution.suggested_councillors.length} new councillors", class: "button-action"
