<% content_for :page_title, "Unsubscribed" %>

<div class="max-w-lg mx-auto text-xl text-navy">
  <p>Done!</p>

  <p class="mt-4">
    <% if @alert %>
      You will no longer receive alerts for:
      <span class="block font-bold"><%= @alert.address %></span>
    <% else %>
      You will no longer receive alerts.
    <% end %>
  </p>
  <p class="mt-4">
    <%= pa_link_to "Resubscribe", new_profile_alert_path(address: @alert&.address) %>
  </p>
  <div class="mt-24">
    <%= image_tag "tailwind/illustration/goodbye.svg", alt: "Illustration of someone waving goodbye" %>
  </div>
</div>
