%p
  This comment was submitted via PlanningAlerts, a free service run by the charity
  = link_to "the OpenAustralia Foundation", "https://www.oaf.org.au"
  for the public good.
  = link_to "View this application on PlanningAlerts", application_url(comment.application, protocol: "https")
