%table{:style => "padding-left: 15px; padding-bottom: 15px;"}
  %tr
    %td{:colspan => "2", :style => "padding-bottom: 5px;"}
      = link_to application.address, application_url(:id => application.id, :utm_source => 'alerts', :utm_medium => 'email'), :style => "font-size: 18px; font-weight: bold; color: #f2630c;"
  - if application.location
    %tr
      %td{:style => "padding: 5px; width: 155px;"}
        = google_static_map(application, :zoom => 14, :size => "150x150")
      %td{:style => "padding: 5px;"}
        = google_static_streetview(application, :fov => 60, :size => "150x150")
  %tr
    %td{:colspan => "2", :style => "vertical-align: top;"}
      = application.description