%div.comment
  %p
    %span
      = comment.name
      commented on
    #{link_to comment.application.address, comment_url_with_tracking(comment: comment, theme: @theme)}:
  = Sanitize.clean(ApplicationController.helpers.simple_format(truncate(comment.text, :length => 700)), Sanitize::Config::BASIC).html_safe
