%div(style="margin-left: 15px; margin-right: 15px; background: #fafafa")
  = Sanitize.clean(ApplicationController.helpers.simple_format(truncate(comment.text, :length => 700)), Sanitize::Config::BASIC).html_safe
  %p
    %span(style="color: #989898")
      by
      = comment.name
      on
    = link_to comment.application.address, application_url(comment.application, host: @host, anchor: "comment#{comment.id}", utm_medium: "email", utm_source: "alerts"), style: "color: #f2630c; font-weight: bold;"
