.email-donation-banner.box
  %table
    %tr
      %td
        .email-donation-banner-button-container
          = link_to "Back PlanningAlerts", new_donation_url, class: 'email-donation-banner-button'
        %p PlanningAlerts exists as a free, independent project because people like you back it with a small monthly donation.
