%p
  PlanningAlerts is a free service run by the charity OpenAustralia Foundation.
%p
  %strong This service depends on donations from people like you for its survival.
  If you use this service
  #{link_to "please consider donating", donate_url(host: @host, utm_medium: "email", utm_source: "alerts"), style: "color: #f2630c;"}.
