%p
  You can
  = link_to "change the size", area_alert_url(id: alert.confirm_id)
  of the area you’re interested in or
  #{link_to "unsubscribe from alerts for this address", unsubscribe_alert_url(id: alert.confirm_id)}.
