%p
  %strong Find PlanningAlerts useful?
  Support this charity-run project with a #{link_to "tax deductible donation", donate_url(protocol: @protocol, host: @host, utm_medium: "email", utm_source: "alerts")}.
%p
  PlanningAlerts is a free service run by the independent charity #{link_to 'OpenAustralia Foundation', 'https://www.openaustraliafoundation.org.au/'}.
  Discover our #{link_to 'other projects', 'https://www.openaustraliafoundation.org.au/projects/'}.
