%div{:style => "margin: 6px 11px 25px; padding: 15px; background: #DECEB3; -moz-border-radius: 10px; -khtml-border-radius: 10px; -webkit-border-radius: 10px;"}
  %p
    Check the address for typing errors such as ww.example.com instead of www.example.com
  %p
    If you are unable to load any pages, check your computer's network connection.
  %p
    If your computer or network is protected by a firewall or proxy, make sure that
    Firefox is permitted to access the Web.
