%p
  You like finding out what's happening in your local area but what about <strong>what's
  happening in Government</strong>? That's exactly what our latest project lets you do:
%p
  Introducing <a href="http://tinyurl.com/righttoknowpa" style="color: #A60201;">
  Right To Know</a>!
%p Now back to our regularly scheduled programming...