.box.comments-header
  - if @replies.count == 1
    The following <strong>new reply</strong> by a local councillor has
  - else
    The following <strong>new replies</strong> by local councillors have
  been posted on comments near you
= render :partial => "reply", :collection => @replies
