%div{:style => "margin: 6px 11px 25px; padding: 15px; background: #D0FFFF; -moz-border-radius: 10px; -khtml-border-radius: 10px; -webkit-border-radius: 10px;"}
  %p
    You like finding out what's happening in your local area but what about <strong>what's
    happening in Government</strong>? That's exactly what our latest project lets you do:
  %p
    Introducing <a href="http://tinyurl.com/righttoknowpa" style="color: #A60201;">
    Right To Know</a>!
  %p Now back to our regularly scheduled programming...
