.trial-banner.box
  = link_to "Subscribe now", new_subscription_url(email: @alert.email), class: 'trial-banner-button'
  %p
    Your
    = link_to "trial subscription", new_subscription_url(email: @alert.email)
    has
    = pluralize(@alert.subscription.trial_days_remaining, "day")
    remaining
