.trial-banner.box
  %table
    %tr
      %td
        .trial-banner-button-container
          = link_to "Subscribe now", new_subscription_url_with_tracking(alert: @alert, utm_content: "button_link"), class: 'trial-banner-button'
        %p
          Your
          = link_to "trial subscription", new_subscription_url_with_tracking(alert: @alert, utm_content: "text_link")
          has
          - if @alert.expired_subscription?
            expired
          - else
            #{pluralize(@alert.subscription.trial_days_remaining, "day")} remaining
