.trial-banner.box
  %table
    %tr
      %td
        .trial-banner-button-container
          = link_to "Subscribe now", new_subscription_url(subscribe_from_email_tracking_params(alert: @alert, utm_content: "button_link").merge(email: @alert.email)), class: 'trial-banner-button'
        %p
          Your
          = link_to "trial subscription", new_subscription_url(subscribe_from_email_tracking_params(alert: @alert, utm_content: "text_link").merge(email: @alert.email))
          has
          - if @alert.expired_subscription?
            expired
          - else
            #{pluralize(@alert.subscription.trial_days_remaining, "day")} remaining
