.trial-banner.box
  %table
    %tr
      %td
        .trial-banner-button-container
          = link_to "Subscribe now", new_subscription_url(@trial_subscriber_analytics_params.merge(email: @alert.email)), class: 'trial-banner-button'
        %p
          Your #{link_to "trial subscription", new_subscription_url(@trial_subscriber_analytics_params.merge(email: @alert.email))}
          has #{pluralize(@alert.subscription.trial_days_remaining, "day")} remaining
