.trial-banner.box
  %table
    %tr
      %td
        .trial-banner-button-container
          = link_to "Subscribe now", new_subscription_url(analytics_params(utm_campaign: "trial_subscriber").merge(utm_content: "button_link", email: @alert.email)), class: 'trial-banner-button'
        %p
          Your #{link_to "trial subscription", new_subscription_url(analytics_params(utm_campaign: "trial_subscriber").merge(utm_content: "text_link", email: @alert.email))}
          has
          - if @alert.expired_subscription?
            expired
          - else
            #{pluralize(@alert.subscription.trial_days_remaining, "day")} remaining
