.trial-banner.box
  - # TODO: make day count dynamic
  %p Trial subscription 13 days remaining
  %p
    You’ll need an active subscription to
    get alerts for applications near several addresses or to
    use them for commercial purposes.

  = link_to "Subscribe now", new_subscription_url
