.trial-banner.box
  %p
    Trial subscription
    = @alert.subscription.trial_days_remaining
    days left
  = link_to "Subscribe now", new_subscription_url(email: @alert.email), class: 'trial-banner-button'
