!!!
%html
  %body{:style => "font-family:sans-serif;"}
    %div{:style => "background: #878787; padding: 5px 0 5px 10px; margin-bottom:5px"}
      %a{:href => "http://www.planningalerts.org.au/", :style => "color: white; font-weight:bold; font-size: 20px; text-decoration:none;"}
        PlanningAlerts
    = render "advert"
    - unless @comments.empty?
      = render "comments"
    - unless @applications.empty?
      = render "applications"
    = render :partial => "footer"
