// Only apply the blueprint form styles to forms with
// a class of "bp". This makes it easier to style
// forms from scratch if you need to.

//form {
//  @include blueprint-form; }

@import "formtastic_base";
@import "fancy-buttons";

//$fb-light-text: $font-color;
$fb-gradient-style: matte;
$fb-font-size: 1.3em;
$fb-line-height: 1em;

.actions input { 
  margin-top: 1em;
  @include fancy-button($orange); 
  font-weight: normal;
}

.formtastic {
  @include float-form(100%, 25%, 70%, 0, "buttons-left", "left", "select-auto");
  margin-top: 2em;
  margin-bottom: 2em;
  li {
    margin-bottom: 0.5em;
    &.error {
      background: inherit;
      border: inherit;
      color: inherit;
      input, textarea, select {
        background: $yellow;
      }
    }
  }
  .inline-hints {
    @include quiet;
    font-size: 0.8em;
  }
  div.inline-hints p {
    padding-top: 0.5em;
  }
  .inline-errors {
    color: $orange;
  }
  li.string input, li.email input {
    font-size: 1.3em;
  }
}

.formtastic.alert {
  abbr {
    display: none;
  }
}

// Special formatting for specific forms

.formtastic#new_comment {
  @include float-form(100%, 15%, 84%, 0, "buttons-left", "left", "select-auto");
}

.formtastic#new_report {
  @include float-form(950px, 190px, 754px, 0, "buttons-left", "left", "select-auto");
}

.formtastic#new_comment, .formtastic#new_report {
  textarea, input {
    font-family: $blueprint-font-family;
    font-size: 100%;
  }
  div.inline-hints p {
    padding-top: 0.5em;
  }
}

// Override things set by compass I think
// Bit of a nasty hack
body form.alert {
  background: inherit;
  border-color: inherit;
  padding: inherit;
  margin-bottom: 2em;
  border: inherit;
}

form.donate {
  input[type="submit"] {
    @include fancy-button($orange); 
    font-weight: normal;
    margin-left: 1em;
  }
  input#amount_donate, label, span {
    font-size: 1.3em;
  }
  label {
    //margin-left: 1em;
  }
}

#sidebar .formtastic.alert {
  @include float-form(100%, 25%, 100%, 0, "buttons-left", "left", "select-auto");
  margin-top: 0;
  font-size: 75%;
  background: $almostwhite;
  //border: solid 1px $grey;
  // Make text field sit nicely at the expected full width
  input {
    box-sizing:border-box;
  }
  .label {
    /* Use seriously old-school way of hiding these labels so that placeholder polyfill can still work */
    left: -999em;
    position: absolute;
    /* This is only used when the placeholder polyfill is active */
    span.placeholder {
      font-size: 1.3em;
    }
  }
  .actions {
    padding-left: 0;
  }
  .inline-hints {
    margin-left: 0;
  }
  padding: 12px;
  p {
    margin-bottom: 1em;
  }
}


