// Import the non-default scaffolding module to help us get started.
@import "blueprint/scaffolding";

// This configuration will only apply the
// blueprint styles to pages with a body class of "bp"
// This makes it easier to have pages without blueprint styles
// when you're using a single/combined stylesheet.

body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction; }

// Remove the scaffolding when you're ready to start doing visual design.
// Or leave it in if you're happy with how blueprint looks out-of-the-box
//@include blueprint-scaffolding("body");

@import "compass/utilities/lists/horizontal-list";

body {
  background: #ddd;
}

#container {
  background: white;
}

// Layout elements - i.e. those on every page
#header {
  //margin: auto;
  height: 125px;
  background: url(/images/banner.png) repeat-x center 0;
  //position: relative;
  #banner {
    @include float-left;
    //margin-left: 10px;
    margin-top: 6px;
    h1 {
      margin-bottom: 0;
      //white-space: nowrap;
      //padding: 20px 240px 0 0;
      font-size: 2.5em;
      a {
        color: $yellow;
        text-decoration: none;
      } 
      span {
        color: $orange; }
        sup {
          font-size: 0.3em;
          text-transform: uppercase;
        } 
      }
      h2 {
        font-style: italic;
        font-size: 1.15em;
    //  border-bottom-style: none;
    //  white-space: nowrap;
    //  top: 0;
    //  padding: 53px 0 0 240px;
        em {
          text-decoration: underline; } 
        }
  }
}

#statsbanner {
//position: absolute;
//right: 30px;
//top: 30px;
  padding-left: 73px;
  background: url(/images/plane.png) no-repeat 0 center; 
  @include float-right;
  //margin-right: 10px;
  margin-top: 25px;
}

#stats {
  margin: 0;
  @include quiet;
  font-size: 0.9em;
  //line-height: 1em;
  background: white;
  padding-left: 5px;
  padding-right: 5px;
  a {
      text-decoration: none;
      @include quiet;
    }
}

#menu {
  background: $grey;
  margin-bottom: 3em;
  font-size: 0.9em; 
  ul {
    @include horizontal-list;
    @include float-right;
    //width: $page_width;
    //margin: 0 auto;
    li {
      padding-top: 0.25em;
      padding-bottom: 0.25em;
      a {
        margin-left: 0.5em;
        margin-right: 0.5em;
        color: white;
        text-decoration: none; 
      }
      &.selected {
        background: $orange;
      } 
    } 
  } 
}

#footer {
  border-top: dotted 1px $grey;
  padding-top: 1em;
  margin-bottom: 1em;
  margin-top: 2em;
  font-size: 0.9em;
  ul {
    @include horizontal-list;
    @include float-left;
  }
  #oaf {
    @include float-right;
  }
  #mobile {
    text-align: center;
    clear: both;
  }
}

// Content

@import "compass/utilities/general/min";
@import "compass/utilities/links/hover-link";

p a, li a, span a, dd a, dt a, div a {
  @include hover-link;
}

.disclaimer {
  @include quiet;
  font-size: 0.8em; }

#content {
  @include min-height(500px);
  //min-height: 500px; 
}

#map_div, #pano {
  @include float-right;
  margin-bottom: 10px;
  margin-left: 10px;
  clear: right;
}

/* Attention grabbers */
div.attention {
  text-align: center;
}

#privacy, #spnBeta, .explanation {
//text-align: center;
padding-left: 75px;
padding-right: 75px;
  font-size: 0.8em;
  @include quiet;
  //line-height: 1.4em;
  em {
    font-weight: bold;
    font-style: normal; 
  } 
}

.appinfo {
  @include quiet;
  font-size: 0.8em;
  line-height: 1.3em; 
}

.pagination {
  text-align: center;
  margin-bottom: 1em;
}

/* api */
div.apiitem {
  border: dotted 1px $grey;
  background: $almostwhite;
  padding: 0.5em;
  margin-top: 1em;
  code {
    background: white;
    display: block;
    padding: 10px;
    border: solid 1px $grey;
  }
  p {
    font-size: 0.8em;
  } 
}

p.apiexamples {
  position: relative;
  top: 1em; 
}

#hLicenseInfo {
  background: url(/images/salicense.png) no-repeat right 1em;
  padding-top: 1em;
  padding-bottom: 8px; 
}

body dl dt {
  margin-top: 0.5em;
  font-weight: normal;
}

dl.faq dt {
  color: $orange;
}

ul#subscribe {
  @include no-bullets;
  padding: 0.5em 0.5em 0 0.5em;
  margin-right: 0;
  background: $almostwhite;
  border: solid 1px $grey;
  img {
    vertical-align: middle;
    margin-right: 0.5em;
  }
  li {
    margin-bottom: 0.5em;
  }
}

#application .alert {
  width: 450px;
  p {
    margin-bottom: 1em;
  }
  font-size: 75%;
  background: $almostwhite;
  padding: 1em;
  border: solid 1px $grey;
  .label {
    display: none;
  }
  .actions {
    padding-left: 0;
  }
  .inline-hints {
    margin-left: 0;
  }
  #alert_address, #alert_email {
    width: 440px;
  }
}

ol#comments {
  @include no-bullets;
  padding-left: 0;
  margin-right: 0;
}

div.comment {
  padding: 1em;
  background: #fafafa;
  .report {
    //display: none;
    opacity: 0;
  }
}

div.comment:hover {
  background: #f0f0f0;
  -webkit-transition: background .1s linear;  
  -moz-transition: background .1s linear;  
  -o-transition: background .1s linear;  
  -ms-transition: background .1s linear;  
  transition: background .1s linear;
  .report {
    //display: inline;
    opacity: 100;
    -webkit-transition: opacity .1s linear;  
    -moz-transition: opacity .1s linear;  
    -o-transition: opacity .1s linear;  
    -ms-transition: opacity .1s linear;  
    transition: opacity .1s linear;
  }  
}

.comment {
  margin-bottom: 1em;

  p:last-child {
    margin-bottom: 0;
  }
  .author {
    @include quiet;
  }
  .report {
    @include float-right;
  }
}

body h4 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

#application {
  ul#subscribe {
    clear: both;
  }

  p.dates, p.more, p.source, p.no_alerted {
    color: #777;
  }
}

.match {
  @include highlight;
}

.contributors, .authorities, .sizes {
  @include no-bullets;
}

.news {
  @include no-bullets;
  ul {
    padding-left: 0;
  }
  li {
    padding-bottom: 0.5em;
  }
  .blog-feed {
    @include column(10);
  }
  .twitter-feed {
    @include prepend(2);
    @include column(10, true);
  }
  .date {
    @include quiet;
    font-size: 0.8em;
  }
}

.notice {
  a {
    color: $link_color !important;
  }
}

// Social buttons
#social {
  margin-right: 1em;
  margin-bottom: 1em;
  height: 149px;
  width: 55px;
  float: left;
  .fb-like {
    margin-bottom: 1em;
  }
}
