// Page layout can be done using mixins applied to your semantic classes and IDs
// For instance this layout defines a two column layout on pages with
// a body class of "two-col".
//
// The markup would look like:
//    <div id="container">
//      <div id="header"></div>
//      <div id="sidebar"></div>
//      <div id="content"></div>
//      <div id="footer"></div>
//    </div>
//
// and the layout would look like:
//    +------------------------+
//    |        #header         |
//    +--------+---------------+
//    |        |               |
//    |#sidebar|    #content   |
//    |        |               |
//    +------------------------+
//    |        #footer         |
//    +--------+---------------+

//@import "compass/utilities/links/link-colors";

.container {
  @include container;
  //@include susy-grid-background;
}

#header, #menu, #page, #footer {
  @include span-columns(24 omega, 24);
}

#main {
  @include span-columns(18, 24);
}

#sidebar {
  @include span-columns(6 omega, 24)
}