%ul.tabs-list
  %li.tab-header-and-content
    = link_to "Comment", "#", class: "tab-link is-active"
    .tab-content
      = render "comments_area"
  %li.tab-header-and-content
    = link_to "Message your councillors", "#", class: "tab-link"
    .tab-content
      = render 'councillor_message_form'
