<p class="mt-8">
  We are a free service brought to you by the charity the
  <%= pa_link_to "OpenAustralia Foundation", "https://www.oaf.org.au" %>.
  Donations and other kinds of support allow us to add more local authorities,
  including yours!
</p>
<p class="mt-6">
  Check out our <%= pa_link_to "get involved", get_involved_path %> section for
  ways to help us get your search results.
</p>
