.trending.container
  %div
    %h4 Trending planning applications across Australia
    %p
      The top recent applications from across Australia that have received the
      most comments

    %ol.applications= render applications

    = link_to "More&hellip;".html_safe, trending_applications_path, class: "cta"
