%a.twitter-share-button{ href: "https://twitter.com/share", data: {text: "Look at what's planned for #{application.address}", via: "planningalerts", related: "planningalerts,openaustralia", count: "vertical" } }
