%a(href="https://twitter.com/share" class="twitter-share-button" data-text="Look at what's planned for #{application.address}" data-via="planningalerts" data-related="planningalerts,openaustralia" data-count="vertical")
