- content_for :page_title, "Most active applications in the last four weeks"

%h3 Most active applications in the last four weeks

#main
  %p
    This shows the top 20 recent applications that have had the
    most comments made on them. A high number of comments is a strong signal
    that an application has a large amount of community interest.

#main
  = render "applications", :applications => @applications

#sidebar
  .box
    %h4 Journalist?
    %p
      Then this page is for you! If you use information from
      PlanningAlerts for a story please cite it in your story by including a full
      link (e.g. https://...) to the application in question. This helps your readers
      by being able to directly be involved in the community discussion.
