- content_for :page_title, "Most active applications in the last four weeks"

%h3 Newsworthy applications

#main
  %p
    Some applications attract considerably more community interest than others.
  %p
    This page shows you recent applications from across Australia that have
    received the most comments.

#main
  = render "applications", :applications => @applications

#sidebar
  .box
    %h4 Writing about one of these applications?
    %p
      When you include information from PlanningAlerts in a story or post,
      please cite it by including a link with a <strong>full URL</strong>. That way your
      readers can see the facts for themselves, understand the broader context
      and write their own comment.
