- content_for :page_title, @description
%h2.title= @description
= paginated_section @applications, :previous_label => "Newer", :next_label => "Older", :inner_window => 1, :outer_window => 0 do
  .list
    = render :partial => "application.mobile", :as => :application, :collection => @applications
