%dt#broken_scraper
  The data in my local area seems out of date. What's going on?
%dd
  We use <a href="http://en.wikipedia.org/wiki/Screen_scraping">screen scrapers</a> to gather planning data from
  local councils and from time to time their website may change and break our scraper. You can help by providing
  a
  = link_to "donation", new_donation_path
  or
  #{link_to "volunteering", get_involved_path} to help us fix it.
