<% content_for :page_title, "Thank you!" %>

<%= render CentreBlockWithImageComponent.new(extra_classes: "mt-16") do |c| %>
  <%# TODO: This page needs a proper design %>
  <% c.with_heading.with_content(yield :page_title) %>
  <% c.with_image do %>
    <%= image_tag "illustration/thank_you2.svg", class: "mx-auto" %>
  <% end %>

  <div class="text-xl text-navy">
    <p>
      Thank you for getting in touch. We will get back to you as soon as we can.
    </p>

    <p class="mt-8">
      We are a tiny team with a very large email inbox. So, it probably will take us a little while to get back to you.
      We try to get back to everyone but sometimes things slip through the cracks. So please be kind.
    </p>

    <p class="mt-8">
      <%= pa_link_to "Go to home", root_path %>
    </p>
  </div>
<% end %>
