%dt#broken_scraper
  The data in my local area seems out of date. What's going on?
%dd
  This service currently uses <a href="http://en.wikipedia.org/wiki/Screen_scraping">screen scrapers</a>
  to gather planning data from planning authorities and from time to time their website may change
  and break these scrapers. We are working together with planning authorities on a more reliable
  solution via the
  #{link_to "Application Tracking program", "http://www.planning.nsw.gov.au/en-au/buildinginnsw/e-planningfornsw/applicationtracking.aspx"}.
