%dt
  Can I have a copy of the data?
%dd
  Yes. You can use the #{link_to "PlanningAlerts.org.au API", api_howto_url(host: "www.planningalerts.org.au")} which provides the same data that powers this site except with national coverage.
