%dt
  Do you cover the whole of NSW?
%dd
  No, but we are working on it. There is a list of the planning authorities we currently cover
  #{link_to "here", authorities_path}. Not every planning authority publishes their planning data
  online so some places will always be missing.
