%section.trending
  %h4 Trending planning applications across Australia
  %p The most commented on recent applications

  = render partial: "application_trending", collection: applications, as: :application

  = link_to "More&hellip;".html_safe, trending_applications_path
