<p>Hello!</p>

<p>Someone has requested a link to change your password.</p>

<p>You don't currently have an active password or name set for your account (which you have automatically
because you are signed up for email alerts or have commented on PlanningAlerts).</p>

<p>You can activate your account by following the link below</p>

<p><%= link_to "Activate my account", edit_password_url(@user, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
