---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Bathurst%20Rd&key=AIzaSyCmIXlJq_d6R-9vaPDr1Fx5eUr1Jl1Oc6Q&region=au&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Bathurst Road",
                       "short_name" : "Bathurst Rd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Orange",
                       "short_name" : "Orange",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Orange City Council",
                       "short_name" : "Orange",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "New South Wales",
                       "short_name" : "NSW",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Australia",
                       "short_name" : "AU",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "2800",
                       "short_name" : "2800",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Bathurst Rd, Orange NSW 2800, Australia",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : -33.2845982,
                          "lng" : 149.1199622
                       },
                       "southwest" : {
                          "lat" : -33.29868810000001,
                          "lng" : 149.1052521
                       }
                    },
                    "location" : {
                       "lat" : -33.2922564,
                       "lng" : 149.1117986
                    },
                    "location_type" : "GEOMETRIC_CENTER",
                    "viewport" : {
                       "northeast" : {
                          "lat" : -33.2845982,
                          "lng" : 149.1199622
                       },
                       "southwest" : {
                          "lat" : -33.29868810000001,
                          "lng" : 149.1052521
                       }
                    }
                 },
                 "place_id" : "ChIJH0G9qSnTEWsRqlyxiB7h3Fg",
                 "types" : [ "route" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "Bathurst Road",
                       "short_name" : "Bathurst Rd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Katoomba",
                       "short_name" : "Katoomba",
                       "types" : [ "[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Sowerby%20St&key=AIzaSyCmIXlJq_d6R-9vaPDr1Fx5eUr1Jl1Oc6Q&region=au&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Bruce%20Road&key=AIzaSyCmIXlJq_d6R-9vaPDr1Fx5eUr1Jl1Oc6Q&region=au&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=&key=AIzaSyCmIXlJq_d6R-9vaPDr1Fx5eUr1Jl1Oc6Q&region=au&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "Invalid request. Missing the 'address', 'components', 'latlng' or 'place_id' parameter.",
           "results" : [],
           "status" : "INVALID_REQUEST"
        }
  recorded_at: Wed, 09 Jan 2019 01:32:37 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=rxsd23dfj&key=AIzaSyCmIXlJq_d6R-9vaPDr1Fx5eUr1Jl1Oc6Q&region=au&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Wed, 09 Jan 2019 01:32:38 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=New%20York&key=AIzaSyCmIXlJq_d6R-9vaPDr1Fx5eUr1Jl1Oc6Q&region=au&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_co[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=24%20Bruce%20Road,%20Glenbrook,%20NSW%202773&key=AIzaSyCmIXlJq_d6R-9vaPDr1Fx5eUr1Jl1Oc6Q&region=au&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
          [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Glenbrook,%20NSW&key=AIzaSyCmIXlJq_d6R-9vaPDr1Fx5eUr1Jl1Oc6Q&region=au&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "addr[...]
