---
http_interactions:
- request:
    method: post
    uri: https://mappify.io/api/rpc/address/autocomplete/
    body:
      encoding: UTF-8
      string: '{"streetAddress":"24 Bruce Road, Glenbrook, NSW 2773","formatCase":true}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1258-z6z7XyCQwYjDTB0iOoOHvUhSYKk"
      X-Ratelimit-Limit:
      - '2500'
      X-Ratelimit-Remaining:
      - '2496'
    body:
      encoding: UTF-8
      string: '{"type":"completeAddressRecordArray","result":[{"buildingName":null,"flatNumberPrefix":null,"flatNumber":null,"flatNumberSuffix":null,"levelNumber":null,"numberFirst":24,"numberFirstPrefix":null,"numberFirstSuffix":null,"numberLast":null,"numberLastPrefix":null,"numberLastSuffix":null,"streetName":"BRUCE","streetType":"ROAD","streetSuffixCode":null,"suburb":"GLENBROOK","state":"NSW","postCode":"2773","location":{"lat":-33.77260864,"lon":150.62426298},"streetAddress":"24
        Bruce Road, Glenbrook NSW 2773"},{"buildingName":null,"flatNumberPrefix":null,"flatNumber":null,"flatNumberSuffix":null,"levelNumber":null,"numberFirst":26,"numberFirstPrefix":null,"numberFirstSuffix":null,"numberLast":null,"numberLastPrefix":null,"numberLastSuffix":null,"streetName":"BRUCE","streetType":"ROAD","streetSuffixCode":null,"suburb":"GLENBROOK","state":"NSW","postCode":"2773","location":{"lat":-33.77256919,"lon":150.62449466},"streetAddress":"[...]
