--- 
http_interactions: 
- request: 
    method: get
    uri: http://maps.google.com/maps/api/geocode/json?address=A%20test%20address&region=au&sensor=false
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
      Alternate-Protocol: 
      - 80:quic
    body: 
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }

  recorded_at: Sun, 22 Sep 2013 19:09:07 GMT
- request: 
    method: get
    uri: http://maps.google.com/maps/api/geocode/json?address=24%20Bruce%20Road%20Glenbrook&region=au&sensor=false
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
      Alternate-Protocol: 
      - 80:quic
    body: 
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "24",
                       "short_name" : "24",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Bruce Road",
                       "short_name" : "Bruce Rd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Glenbrook",
                       "short_name" : "Glenbrook",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "New South Wales",
                       "short_name" : "NSW",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Australia",
                       "short_name" : "AU",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "2773",
                       "short_name" : "2773",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "24 Bruce Road, Glenbrook NSW 2773, Australia",
                 "geometry" : {
                    "location" : {
                       "lat" : -33.772607,
                       "lng" : 150.624245
                    },
                    "location_type" : "ROOFTOP",
                    "viewport" : {
                       "northeast" : {
                          "lat" : -33.7712580197085,
                          "lng" : 150.6255939802915
                       },
                       "southwest" : {
                          "lat" : -33.7739559802915,
                          "lng" : 150.6228960197085
                       }
                    }
                 },
                 "types" : [ "street_address" ]
              }
           ],
           "status" : "OK"
        }

  recorded_at: Sun, 22 Sep 2013 19:29:53 GMT
- request: 
    method: get
    uri: http://maps.google.com/maps/api/geocode/json?address=24%20Bruce%20Road,%20Glenbrook&region=au&sensor=false
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
      Alternate-Protocol: 
      - 80:quic
    body: 
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                [...]
[...]
- request: 
    method: get
    uri: https://www.openaustraliafoundation.org.au/category/projects/planningalerts-org-au/feed/
    body: 
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Etag: 
      - "\"6efa4820af1a9ba70cdf119829823c70\""
      Content-Type: 
      - text/xml; charset=UTF-8
      Last-Modified: 
      - Thu, 12 Sep 2013 03:34:05 GMT
      X-Pingback: 
      - https://www.openaustraliafoundation.org.au/xmlrpc.php
    body: 
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <rss version=\"2.0\"\n\
        \txmlns:content=\"http://purl.org/rss/1.0/modules/content/\"\n\
        \txmlns:wfw=\"http://wellformedweb.org/CommentAPI/\"\n\
        \txmlns:dc=\"http://purl.org/dc/elements/1.1/\"\n\
        \txmlns:atom=\"http://www.w3.org/2005/Atom\"\n\
        \txmlns:sy=\"http://purl.org/rss/1.0/modules/syndication/\"\n\
        \txmlns:slash=\"http://purl.org/rss/1.0/modules/slash/\"\n\
        \t>\n\n\
        <channel>\n\
        \t<title>the OpenAustralia Foundation &#187; PlanningAlerts.org.au</title>\n\
        \t<atom:link href=\"https://www.openaustraliafoundation.org.au/category/projects/planningalerts-org-au/feed/\" rel=\"self\" type=\"application/rss+xml\" />\n\
        \t<link>https://www.openaustraliafoundation.org.au</link>\n\
        \t<description>Transforming democracy in Australia</description>\n\
        \t<lastBuildDate>Thu, 12 Sep 2013 03:34:05 +0000</lastBuildDate>\n\
        \t<language>en-US</language>\n\
        \t<sy:updatePeriod>hourly</sy:updatePeriod>\n\
        \t<sy:updateFrequency>1</sy:updateFrequency>\n\
        \t\n\
        \t\t<item>\n\
        \t\t<title>What&#8217;s new with PlanningAlerts, part 2</title>\n\
        \t\t<link>https://www.openaustraliafoundation.org.au/2012/09/10/whats-new-with-planningalerts-part-2/</link>\n\
        \t\t<comments>https://www.openaustraliafoundation.org.au/2012/09/10/whats-new-with-planningalerts-part-2/#comments</comments>\n\
        \t\t<pubDate>Mon, 10 Sep 2012 00:30:33 +0000</pubDate>\n\
        \t\t<dc:creator>Matthew Landauer</dc:creator>\n\
        \t\t\t\t<category><![CDATA[Development]]></category>\n\
        \t\t<category><![CDATA[PlanningAlerts.org.au]]></category>\n\n\
        \t\t<guid isPermaLink=\"false\">http://www.openaustraliafoundation.org.au/?p=1296</guid>\n\
        \t\t<description><![CDATA[In part one, we covered some of the new features that we\xE2\x80\x99ve added in the last couple of months. Next, we\xE2\x80\x99ll cover the myriad of improvements, some small, some large, that we\xE2\x80\x99ve made to existing features. Most of these, as a normal person using the site, individually you might never notice the difference. Small aesthetic [&#8230;]]]></description>\n\
        \t\t\t\t<content:encoded><![CDATA[<p>In <a title=\"What\xE2\x80\x99s new with PlanningAlerts, part 1\" href=\"http://www.openaustraliafoundation.org.au/2012/09/05/whats-new-with-planningalerts-part-1/\">part one</a>, we covered some of the new features that we\xE2\x80\x99ve added in the last couple of months. Next, we\xE2\x80\x99ll cover the myriad of improvements, some small, some large, that we\xE2\x80\x99ve made to existing features.</p>\n\
        <p>Most of these, as a normal person using the site, individually you[...]
- request: 
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=PlanningAlerts
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="xxxxxxxxxxx", oauth_nonce="9b86caa361d67bb607b2985e8a11d6f5", oauth_signature="TDiNYVK1mxCbUvK9iQbGECGllzE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1379879012", oauth_token="xxxxxxxxxxx", oauth_version="1.0"
  response: 
    status: 
      code: 401
      message: Unauthorized
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"errors\":[{\"message\":\"Invalid or expired token\",\"code\":89}]}"
  recorded_at: Sun, 22 Sep 2013 19:43:33 GMT
recorded_with: VCR 2.5.0
