---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=planningalerts
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 16 Dec 2018 20:10:09 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 214993a620acc1922dac78b3b700f344
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '898'
      X-Rate-Limit-Reset:
      - '1544991040'
      X-Response-Time:
      - '375'
      X-Transaction:
      - 00b52228003274d7
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Wed Nov 21 23:51:45 +0000 2018","id":1065392354255749120,"id_str":"1065392354255749120","text":"@wheelyweb
        definitely agree that things would be improved by showing a selection of trending
        applications in differ\u2026 https:\/\/t.co\/z8XDZOz7kK","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"wheelyweb","name":"Joe
        Ortenzi \ud83c\udde8\ud83c\udde6 \ud83c\uddee\ud83c\uddf9 \ud83c\uddec\ud83c\udde7
        \ud83c\udde6\ud83c\uddfa","id":8376792,"id_str":"8376792","indices":[0,10]}],"urls":[{"url":"https:\/\/t.co\/z8XDZOz7kK","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1065392354255749120","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[117,140]}]},"source":"\u003ca
        href=\"http:\/\/frontapp.com\" rel=\"nofollow\"\u003eFront\u003c\/a\u003e","in_reply_to_status_id":1065391766520528896,"in_reply_to_status_id_str":"1065391766520528896","in_reply_to_user_id":8376792,"in_reply_to_user_id_str":"8376792","in_reply_to_screen_name":"wheelyweb","user":{"id":97544430,"id_str":"97544430","name":"PlanningAlerts","screen_name":"PlanningAlerts","location":"Australia","description":"Find
        out and have your say about Planning and Development Applications near you.
        An @OpenAustralia Foundation project","url":"http:\/\/t.co\/r13J7Rc0jM","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/r13J7Rc0jM","expanded_url":"http:\/\/www.planningalerts.org.au","display_url":"planningalerts.org.au","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1454,"friends_count":1035,"listed_count":64,"created_at":"Thu
        Dec 17 22:55:21 +0000 2009","favourites_count":10,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":803,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"2B2B2B","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/583720959\/Screen_shot_2009-12-21_at_00.32.02_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/583720959\/Screen_shot_2009-12-21_at_00.32.02_normal.png","profile_link_color":"1D3D61","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Wed
        Nov 21 23:46:57 +0000 2018","id":1065391145876828160,"id_str":"1065391145876828160","text":"@wheelyweb
        the focus of PlanningAlerts is still very much on finding out what is happening
        locally near you. So, we\u2026 https:\/\/t.co\/kXoTcuBAIy","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"wheelyweb","name":"Joe
        Ortenzi \ud83c\udde8\ud83c\udde6 \ud83c\uddee\ud83c\uddf9 \ud83c\uddec\ud83c[...]
