@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	-webkit-text-size-adjust: none;
}


/* clearfix hack */
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
} 
.clearfix {display: inline-block;} 
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

a {
	color: #f2630c;
	text-decoration: none;
	outline: 0
}
a img {
	border: 0;
}
h1 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 12px;
	color: #f2630c;
}
h2 {
	font-size: 14px;
}
h3 {
}
h4 {
	font-weight: bold;
	font-size: 12px;
}

.title {
	line-height: 20px;
	background: #fcfbbd;
	padding: 12px 16px;
}

.pagination {
	line-height: 33px;
	font-size: 14px;
	font-weight: bold;
	display: block;	
	color: #333;
	background: url(../images/mobile/nav.png) repeat-x 0 0;
}

.prev_page {
	padding: 0 16px 0 32px;
	background: url(../images/mobile/back.png) no-repeat 16px center
}

.next_page {
	padding: 0 32px 0 16px;
	background: url(../images/mobile/next.png) no-repeat 62px center;
	float: right;
}

.page {}
.head {
	background: url(../images/mobile/hd.png) repeat-x 0 0;
	height: 33px;
}
.body {
	clear: both;
	background: #fff;
	border-bottom: solid 3px #f2630c;
}
.foot {
}


.nrm {
	font-weight: normal;
	font-size: 12px;
}

.info {
	padding: 14px 16px;
}
.highlight {
	background: #fcfbbd;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin: 11px 11px 25px;
	padding: 15px;
}


/* header elements */
.logo a {
	display: block;
	height: 33px;
	background: url(../images/mobile/logo.png) no-repeat 0 0px;
	text-indent: -999em;
}
.list {
	list-style: none;
}
.list li {
	padding: 13px 15px;
	border-bottom: solid 1px #e8e8e8;
}
.list li:last-child {
	border-bottom: 0
}

/* green arrow bullet */
.arrow {
	display: block;
	background: url(../images/mobile/sprite.png) no-repeat -256px 9px;
	font-weight: bold;
	padding: 10px 0 10px 30px;
}

/* date nav arrows */ 
.left {
	background: url(../images/mobile/sprite.png) no-repeat 1px -100px;
	text-indent: -999em;
	width: 12px;
	height: 16px;
	display: inline-block;
}
.left:hover, .left.active {
	background-position: 1px -85px;
}
.right {
	background: url(../images/mobile/sprite.png) no-repeat -12px -85px;
	text-indent: -999em;
	width: 12px;
	height: 16px;
	display: inline-block;
}
.right:hover, .right.active {
	background-position: -12px -100px;
}


/* dotted borders and list items */
.dots {
	border-bottom: dotted 1px #d1d1d1;
}
.dots_t {
	border-top: dotted 1px #d1d1d1;
}
ul.dots {
	border-bottom: 0;
	list-style: none;
	border-top: dotted 1px #d1d1d1;
	font-size: 14px;
}
ul.dots li {
	border-bottom: dotted 1px #d1d1d1;
}
ul.dots .info_right {
	font-weight: normal;
	float: right;
	display: inline-block;
	width: 70px;
	text-align: left;
}

.all_tweets_link {
	border: solid 1px #e7e7e7;
	padding: 6px 10px 5px;
	color: #474c4e;
	font-weight: normal;
}
.tweeps_link {
	border: solid 1px #e7e7e7;
	border-right: 0;
	background: url(../images/mobile/tweep.png) no-repeat right top;
	padding: 6px 10px 5px;
	padding-right: 29px;
	color: #474c4e;
	font-weight: normal;
}
.active {
	font-weight: bold;
	color: #ec0b8d;
}

.tweep {
	background: url(../images/mobile/tweep.png) no-repeat right 9px;
}
.tweep .text {
	padding-right: 27px;
}

/* background colors */
.bg_grey {
	background: #e7e7e7; 
}

/* text colors */
.red {
	color: #ed1c24;
}
.pink {
	color: #ec0b8d;
}
.blue {
	color: #0090d0;
}
.grey {
	color: #999;
}

/* sizes */
.sml {
	font-size: 10px;
}
.med {
	font-size: 12px;
	font-weight: normal;
}
a.sml {
	font-weight: normal;
}
.lrg {
	font-size: 14px;
}

/* widths */
.size1of5 {
	width: 18.5%;
}
.size1of4 {
	width: 25%;
}


/* cancel default margin */
.mrg_none {
	margin: 0;
}

/* positioning */
.toLeft {
	float: left
}
.toRight {
	float: right
}
.toMiddle {
	overflow: hidden;
}

/* alignment */
.c {
	text-align: center;
}

.mobile {
  text-align: center;
  margin: 13px;
}