<% content_for :page_title, "Your comments" %>

<h2 class="text-3xl font-bold text-navy font-display"><%= yield(:page_title) %></h2>

<% if @comments.empty? %>
  <%# TODO: We don't yet have a design for this bit %>
  <p class="text-2xl text-navy">You have not made any comments</p>
<% else %>
  <ol class="mt-20">
    <% @comments.each do |comment| %>
      <li class="mb-12 border-b border-light-grey">
        <%= render "comment", comment: %>
      </li>
    <% end %>
  </ol>
  <%# TODO: Design the pagination %>
  <%= paginate @comments %>
<% end %>
