<% content_for :page_title, "Switch design" %>

<h2 class="text-3xl font-bold text-navy font-display"><%= yield(:page_title) %></h2>

<p class="mt-12 text-2xl text-navy">
  Thanks for helping us by trying out the new design!
</p>

<div class="mt-12">
  <%= pa_button_to "Switch back to the original design", toggle_theme_path %>
</div>
