%p
  NSW PlanningAlerts is brought to you by
  #{link_to "Planning & Infrastructure, NSW", "http://www.planning.nsw.gov.au/"}.
  It is powered by
  = link_to "PlanningAlerts.org.au", "http://www.planningalerts.org.au/"
  from the
  #{link_to "OpenAustralia Foundation", "http://www.openaustraliafoundation.org.au"}.
