%div{:style => "background: #878787; padding: 5px 0 5px 10px; margin-bottom:5px"}
  = link_to "NSW PlanningAlerts", root_url(host: @host), style: "color: white; font-weight:bold; font-size: 20px; text-decoration:none;"
