<div class="relative font-black text-7xl font-display text-warm-grey">
  <%= image_tag "tailwind/illustration/coverage.svg", alt: "" %>
  <div class="absolute left-16 top-14">
    <%= Authority.percentage_population_covered_by_all_active_authorities.to_i %><span class="text-4xl">%</span>
  </div>
</div>
