<li class="[counter-increment:section] before:[content:counter(section)] before:text-fuchsia before:font-normal before:text-4xl relative before:absolute">
  <div class="pl-10">
    <%= render "application_trending_content", application: %>
  </div>
</li>
