<li class="[counter-increment:section] before:[content:counter(section)] before:text-navy before:font-normal before:text-3xl relative before:absolute">
  <div class="pl-10">
    <%= render "home/application_trending_content", application: %>
  </div>
</li>
