<div class="mb-12 sm:grid sm:items-center sm:grid-cols-2 sm:gap-7">
  <%# This is using a different style than the standard Heading component %>
  <%= render Tailwind::Heading.new(tag: :h1, size: "3xl", extra_classes: "sm:text-4xl leading-tight sm:leading-snug") do %>
    Find out for free what is being built and knocked down in your area, anywhere in Australia.
  <% end %>
  <div class="mt-9 sm:mt-0 justify-self-end">
    <%= image_tag "tailwind/illustration/banner.svg", alt: "", size: "465x340" %>
  </div>
</div>
