<section class="text-navy">
  <h3 class="mt-20 text-4xl font-semibold">How it works</h3>
  <p class="mt-6 text-xl">Planning Alerts is a free service which searches as many planning authority websites (Councils or state
    authorities) as it can find. Then it emails you details of applications near you.</p>
  <ol class="grid gap-20 mt-16 text-center md:gap-6 md:grid-cols-3">
    <li class="p-8 pt-16 text-xl bg-light-grey [counter-increment:section] relative">
      <div class="absolute inline-block -top-10">
        <div class="before:[content:counter(section)] flex items-center relative -left-10 justify-center bg-lavender w-20 h-20 rounded-full before:text-white before:font-semibold before:text-3xl">
        </div>  
      </div>
      <h4 class="pb-4 text-2xl font-semibold">Search</h4>
      <%= image_tag "tailwind/search-illustration.svg", width: 200, class: "mx-auto mb-5" %>
      Search for an address you're interested in using the search bar
    </li>
    <li class="p-8 pt-16 text-xl bg-light-grey [counter-increment:section] relative">
      <div class="absolute inline-block -top-10">
        <div class="before:[content:counter(section)] flex items-center relative -left-10 justify-center bg-lavender w-20 h-20 rounded-full before:text-white before:font-semibold before:text-3xl">
        </div>  
      </div>
      <h4 class="pb-4 text-2xl font-semibold">Get notified!</h4>
      <%= image_tag "tailwind/get-notified-illustration.svg", width: 200, class: "mx-auto mb-8" %>
      Sign up to receive email notifications about future developments in your email.
    </li>
    <li class="p-8 pt-16 text-xl bg-light-grey [counter-increment:section] relative">
      <div class="absolute inline-block -top-10">
        <div class="before:[content:counter(section)] flex items-center relative -left-10 justify-center bg-lavender w-20 h-20 rounded-full before:text-white before:font-semibold before:text-3xl">
        </div>  
      </div>
      <h4 class="pb-4 text-2xl font-semibold">Comment</h4>
      <%= image_tag "tailwind/comment-illustration.svg", width: 200, class: "mx-auto" %>
      Look through the applications that interest you and comment on them. Comments get sent directly
      to council and are posted publicly on our site.
    </li>
  </ol>
  <div class="pt-8">
    <%= link_to "> Learn more about Planning Alerts", about_path, class: "text-xl font-bold text-yellow" %>
  </div>
</section>