<%# TODO: The words here are a start and are good in spirit but not totally accurate so need updating %>
<section class="pt-12 pb-16">
  <%# TODO: Non-standard style %>
  <%= render Tailwind::Heading.new(tag: :h2, size: "4xl", extra_classes: "pb-8").with_content("How is this free?") %>
  <div class="flex flex-col gap-8 lg:flex-row">
    <div>
      <p class="text-2xl text-navy">
        We are passionate about civic engagement.
        We've dedicated 10 years of mostly unpaid time to making tools for everyday folks to be
        better informed, better heard in the halls of Australian councils, parliaments etc.
      </p>
      <p class="pt-6 text-2xl text-navy">
        We think this stuff should be free.
        So we fund everything through donations and a small income from our API.
      </p>
      <p class="pt-6 text-2xl text-navy">
        We are currently 2.5 people working part time to keep this running.
        We pay ourselves a very lean living wage.
      </p>
      <p class="pt-6 text-2xl text-navy">
        Sometimes we miss emails. Sometimes we go away with the kids and things break.
        We refuse to respond to your emails with auto replies because that's just frustrating
        for everyone.
      </p>
      <p class="pt-6 text-2xl text-navy">
        It's not perfect. It's human and made with love.
      </p>
    </div>
    <figure class="flex-shrink-0">
      <div class="flex flex-col gap-4 md:flex-row lg:flex-col">
        <%= image_tag "tailwind/home_office.jpg", alt: "Photo of home office", size: "455x342" %>
        <figcaption class="text-lg text-navy  max-w-[455px]">
          Our home office in Northern NSW where 2 people work part time and 1 person works
          remotely to keep this service running.
        </figcaption>
      </div>
    </figure>
  </div>
</section>
