<%# TODO: The words here are a start and are good in spirit but not totally accurate so need updating %>
<section class="pt-12 pb-16">
  <h2 class="pb-8 text-4xl font-bold text-navy font-display">How is this free?</h2>
  <p class="text-2xl text-navy">
    We are passionate about civic engagement.
    We've dedicated 10 years of mostly unpaid time to making tools for everyday folks to be
    better informed, better heard in the halls of Australian councils, parliaments etc. 
  </p>
  <p class="pt-6 text-2xl text-navy">
    We think this stuff should be free. 
    So we fund everything through donations and a small income from our API. 
  </p>
  <p class="pt-6 text-2xl text-navy">
    We are currently 2.5 people working part time to keep this running.
    We pay ourselves a very lean living wage. 
  </p>
  <p class="pt-6 text-2xl text-navy">
    Sometimes we miss emails. Sometimes we go away with the kids and things break.
    We refuse to respond to your emails with auto replies because that's just frustrating
    for everyone. 
  </p>
  <p class="pt-6 text-2xl text-navy">
    It’s not perfect. It's human and made with love.
  </p>
</section>
