<h3 class="mt-20 text-4xl font-semibold text-navy">Top 20 commented planning applications</h3>
<p class="mt-4 text-xl text-navy">
  Some planning applications attract considerably more community interest than others.
  We bring you the trending applications so you can see what people find most popular or contentionus.
</p>
<ol class="pl-10 mt-10 text-xl font-bold list-decimal columns-1 md:columns-2 gap-x-10 text-fuchsia">
  <%= render partial: "home/application_trending", collection: applications, as: :application %>
</ol>
<div class="text-right">
  <%= link_to "> View all top 20", trending_applications_path, class: "text-xl font-bold text-yellow" %>
</div>
