#donations-wrapper
  .donations-banner.container.media
    %h4 Find PlanningAlerts useful?
    %p.media-body This independent project is run by a local charity, the OpenAustralia Foundation, and is powered by small donations from the people who use it to stay informed about development in their local&nbsp;area. If you find it useful, chip in to support&nbsp;our&nbsp;work.
    = link_to "Donate", "https://www.openaustraliafoundation.org.au/donate/planningalerts/", class: "button button-rounded button-large button-action media-object"
