#donations-wrapper
  .donations-banner.container
    %h4 Find PlanningAlerts useful?
    
    = link_to "Donate", "https://www.openaustraliafoundation.org.au/donate/planningalerts/", class: "button button-rounded button-large button-action"
