#donations-wrapper
  .donations-banner.container
    %h4 Find PlanningAlerts useful?
    %p This independent project is run by a local charity, the OpenAustralia Foundation  and is powered by small donations from the people who use it to stay informed about development in their local area. If you find it useful, chip in to support our work.
    = link_to "Donate", "https://www.openaustraliafoundation.org.au/donate/planningalerts/", class: "button button-rounded button-large button-action"
