- cache 'news', :expires_in => 1.hour do
  .news
    .blog-feed
      %h4 News via the blog
      = render_rss_feed
      = link_to "More&hellip;".html_safe, "http://www.openaustraliafoundation.org.au/category/projects/planningalerts-org-au/"
    .twitter-feed
      %h4 and via Twitter
      = render_twitter_feed('PlanningAlerts')
      = link_to "More&hellip;".html_safe, "http://twitter.com/PlanningAlerts"
