- cache 'news', :expires_in => 3.hours do
  .news
    %h4 News
    %ul
      = render_rss_feed
      -#:plain
      -#  <li>
      -#    <a href="https://twitter.com/PlanningAlerts/status/349077518608896000">
      -#      <div class="body">@chris_bloke Thanks Chris</div>
      -#      <div class="date">24 June 2013</div>
      -#    </a>
      -#  </li>
      -#  <li>
      -#    <a href="https://twitter.com/PlanningAlerts/status/349072461884690432">
      -#      <div class="body">We've sent over 8 million planning applications to people around Australia. How about that?</div>
      -#      <div class="date">24 June 2013</div>
      -#    </a>
      -#  </li>
      -#  <li>
      -#    <a href="https://twitter.com/PlanningAlerts/status/333054893914984449">
      -#      <div class="body">We've fixed our Ballarat scraper after the council changed its website a while back. Addresses &amp; descriptions should make a lot more sense!</div>
      -#      <div class="date">11 May 2013</div>
      -#    </a>
      -#  </li>
      -#  <li>
      -#    <a href="https://twitter.com/PlanningAlerts/status/329086917041868800">
      -#      <div class="body">@morebento See "I work for a local council or planning authority and would like to make our data available": http://t.co/R37Kl0qPT5</div>
      -#      <div class="date">30 April 2013</div>
      -#    </a>
      -#  </li>
    = link_to "More news on the Open Australia blog", "http://www.openaustraliafoundation.org.au/category/projects/planningalerts-org-au/", :class => "cta"
