#tweets-wrapper
  - unless Rails.env.test?
    - cache 'tweets', expires_in: 30.minutes do
      .tweets.container
        %div
          %h4 Tweets from PlanningAlerts
          %ul
            = render_twitter_feed("PlanningAlerts")
            -#:plain
            -#  <li>
            -#    <a href="https://twitter.com/PlanningAlerts/status/349077518608896000">
            -#      <div class="body">@chris_bloke Thanks Chris</div>
            -#      <span class="date">24 June 2013</span>
            -#    </a>
            -#  </li>
            -#  <li>
            -#    <a href="https://twitter.com/PlanningAlerts/status/349072461884690432">
            -#      <div class="body">We've sent over 8 million planning applications to people around Australia. How about that?</div>
            -#      <span class="date">24 June 2013</span>
            -#    </a>
            -#  </li>
          = link_to "Follow us on @PlanningAlerts", "http://www.twitter.com/PlanningAlerts", class: "cta"
