<section class="pb-12">
  <%= render Tailwind::HeadingComponent.new(tag: :h1, extra_classes: "mt-6 sm:mt-12").with_content("Most commented applications") %>
  <ol class="grid mt-10 text-xl font-bold gap-y-6 columns-1 [counter-reset:section]">
    <%= render partial: "applications/trending", collection: applications.limit(3), as: :application %>
  </ol>
  <div class="pt-14">
    <%= pa_link_to "View top 20 commented applications", trending_applications_path, extra_classes: "text-xl" %>
  </div>
</section>
