<div class="main-content__header">
  <h1 class="main-content__page-title">Administration Panel</h1>
</div>
<div class="main-content__body">
  <a href="https://en.wikipedia.org/wiki/With_great_power_comes_great_responsibility">With great power comes great responsibility</a>
</div>
