<div class="max-w-6xl px-10 mx-auto my-32">
  <% if Flipper.enabled?(:switch_themes, current_user) %>
    <%= button_to "Toggle theme", toggle_theme_path, class: "text-blue hover:text-white border border-blue hover:bg-blue focus:ring-4 focus:outline-none focus:ring-blue font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" %>
  <% end %>
</div>
