<footer class="bg-gray-700 text-white px-4 py-2 space-y-4">
  <h2 class="text-3xl">PlanningAlerts</h2>
  <p class="text-gray-400">
    Find out for free what is being built and knocked down in your area and receive email alerts when something new is planned.
  </p>
  <ul>
    <li>Create alert</li>
    <li>Privacy</li>
    <li>Help</li>
    <li>Contact us</li>
    <li>Get the Data (API)</li>
  </ul>
  <div class="bg-gray-600 p-6 space-y-4">
    <p>
      Your tax deductible donations keep this site running. We can't do it without you.
    </p>
    <%= link_to "Donate now", donate_url,
                class: "inline-block focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900",
                title: "Make a donation to support PlanningAlerts",
                onClick: "_gaq.push(['_trackEvent', 'Donations', 'click donation link', 'donations footer banner']);" %>
  </div>
  <% if current_user&.admin? %>
    <%= button_to "Toggle theme (visible only admins)", toggle_theme_path, class: "text-black bg-white hover:bg-gray-200 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
  <% end %> 
</footer>
