<div class="pt-2 bg-orange">
  <%= render Tailwind::ContainerComponent.new do %>
    <%= render "menu" %>
  <% end %>
</div>
<div class="pt-4 pb-5 sm:pb-6 sm:pt-8 bg-yellow">
  <%= render Tailwind::ContainerComponent.new do %>
    <%= render "logo_block" %>
  <% end %>
</div>
