<div class="pt-8 pb-6 bg-yellow">
  <div class="max-w-6xl px-10 mx-auto">
    <div class="flex justify-between">
      <%= render "logo_block" %>
      <%= render "menu" %>
    </div>
  </div>
</div>
