<div class="pt-2 bg-orange">
  <%= render Tailwind::ContainerComponent.new do %>
    <div class="flex flex-row-reverse">
      <%= render "menu" %>
    </div>
  <% end %>
</div>
<div class="pt-8 pb-6 bg-yellow">
  <%= render Tailwind::ContainerComponent.new do %>
    <%= render "logo_block" %>
  <% end %>
</div>
