<div class="pt-2 bg-orange">
  <div class="max-w-6xl px-10 mx-auto">
    <div class="flex flex-row-reverse">
      <%= render "menu" %>
    </div>
  </div>
</div>
<div class="pt-8 pb-6 bg-yellow">
  <div class="max-w-6xl px-10 mx-auto">
    <%= render "logo_block" %>
  </div>
</div>
