<div>
  <div>
    <span class="px-5 py-2 text-[#EEEEEE] bg-fuchsia font-extrabold text-5xl inline-block font-['Inter_var']">
      Planning Alerts
    </span>
  </div>
  <div>
    <span class="px-5 py-1 bg-lavender text-white inline-block font-display text-sm font-medium">
      Email alerts of planning applications near you
    </span>
  </div>
  <div>
    <span class="px-5 py-2 text-blue inline-block text-sm font-medium font-['Inter_var']">
      An OpenAustralia Foundation project
    </span>
  </div>
</div>
