<div>
  <div>
    <span class="px-5 py-2 text-[#EEEEEE] bg-fuchsia font-extrabold text-5xl inline-block font-['Inter_var']">
      Planning Alerts
    </span>
  </div>
  <div>
    <span class="inline-block px-5 py-1 text-sm font-medium text-white bg-lavender font-display">
      Email alerts of planning applications near you
    </span>
  </div>
  <div>
    <span class="px-5 py-2 text-navy inline-block text-sm font-medium font-['Inter_var']">
      An OpenAustralia Foundation project
    </span>
  </div>
</div>
