<ul class="font-medium text-lg flex items-start space-x-6 text-blue">
  <li class="border-b-4">Home</li>
  <li>Applications</li>
  <li>FAQ</li>
  <li>About</li>
  <li><%= render "application/svg/user" %></li>
</ul>
