<ul class="font-medium text-lg flex space-x-6 text-blue">
  <li>Home</li>
  <li>Applications</li>
  <li>FAQ</li>
  <li>About</li>
  <li>
    <svg class="fill-blue" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3
    .org/2000/svg">
    <g>
    <circle cx="12.5162" cy="10.5259" r="5.60583" />
    <ellipse cx="12.9167" cy="22.5384" rx="10.0104" ry="8.00833" />
    </g>
    </svg>
  </li>
</ul>
