<% content_for :page_title, "404 - Not Found" %>

<div class="flex flex-col items-center max-w-2xl m-auto text-center">
  <%= image_tag "tailwind/illustration/404.svg", class: "my-24" %>

  <%= render Tailwind::Heading.new(tag: :h1) do %>
    The page you were looking for doesn't exist
  <% end %>

  <p class="my-8 text-2xl text-navy">
    You may have mistyped the address or the page may have moved.
  </p>

  <p class="text-2xl text-navy">
    <%= pa_link_to "Go to our home page", root_url %>
  </p>
</div>