#sidebar .formtastic.alert {
  @include boxed-content;
  margin-top: 0;

  .label {
    /* Use seriously old-school way of hiding these labels so that placeholder polyfill can still work */
    left: -999em;
    position: absolute;

    /* This is only used when the placeholder polyfill is active */
    span.placeholder {
      padding-top: .2em;
      font-size: .8em;
    }
  }

  .inline-hints {
    margin-left: 0;
  }

  p, .stringish input {
    font-size: 0.9em;
  }

  p {
    margin-bottom: 1em;
  }

  input, textarea {
    width: 100%;
  }

  .actions {
    padding: 0;

    &, li {
      width: 100%;
    }

    li {
      display: block;
      float: none;
    }
  }
}
