.formtastic#new_add_comment, .formtastic#new_report {
  @include float-form(100%, 100%, 100%, 0, "buttons-left", left, "select-auto");
  margin-top: 0;

  label {
    margin: .75em 0 .25em;
    padding: 0;
    font-size: 1em;
  }

  /* This is only used when the placeholder polyfill is active */
  .label span.placeholder {
    padding-top: 0.8em;
    //font-size: 1em;
  }

  textarea {
    padding: 0.5em;
  }

  textarea, input {
    font-family: $blueprint-font-family;
    font-size: 100%;
  }

  .inline-hints,
  .inline-errors {
    margin: 0;
  }

  label abbr[title="required"] {
    @include sr-only();
  }

  .actions {
    padding: 0;
    // Formtastic overrides
    width: 100%;

    li {
      text-align: left !important;
    }
  }

  [aria-hidden="true"] {
    display: none;
  }
}

#comment-base-inputgroup {
  h4 {
    margin: 0;
  }

  label p {
    margin: .5em 0 !important;
  }
}

#comment-receiver-inputgroup {
  margin-top: 1em !important;

  legend {
    display: block;
    margin-bottom: 1em !important;
    font-weight: 500;
  }

  // Nasty formtastic overrides
  .receiver-select-radio {
    width: auto !important;
    float: left !important;
    clear: left !important;
  }
}

.receiver-type-option {
  + label {
    margin-top: 0 !important;
    padding: 0 0 .5em .5em !important;
    width: 80% !important;
  }
}

#councillors-list-toggler {
  ~ .councillor-select-list {
    margin: 0 0 2em 1em;
    display: none;

    @include at-breakpoint(30em) {
      margin: 0 0 2em 2em;
    }
  }

  &:checked ~ .councillor-select-list {
    display: block;
  }
}

.councillor-select-list {
  margin: 0 0 0 2em;
  padding: 1em 0 0;
  list-style: none;
  clear: both;

  &.open {
    @include at-breakpoint(50em) {
      display: flex !important;
      flex-wrap: wrap;
    }
  }

  footer {
    clear: both;
  }
}

.councillor-select-list-intro {
  margin: 0 0 1.5em 0 !important;
  width: 80%;
}

.councillor-select-radio {
  @include sr-only();
  position: relative !important;
  float: left;
  opacity: 0;
}

.councillor-select-label {
  margin: 0 0 .5em !important;
  padding: 0 0 .5em 0 !important;
  width: 80% !important;
  cursor: pointer;

  @include at-breakpoint(50em) {
    flex: 0 0 49%;
  }

  .councillor-option {
    display: table;
    display: flex;
    justify-content: flex-start;
  }

  .councillor-image-wrapper,
  .councillor-details {
    vertical-align: top;
    display: table-cell;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .councillor-image-wrapper {
    padding: 0 1em 0 0;
    flex: 0 0 auto;
  }

  .councillor-image {
    width: 4em;
    height: 4em;
    border: .25em solid $content-background;

    @include at-breakpoint(30em) {
      width: 5em;
      height: 5em;
    }
  }

  .p-name,
  .p-org {
    display: block;
  }

  .p-name {
    font-weight: normal;
    font-size: 1.25em;
    padding-right: .5em;
  }

  .p-org {
    font-weight: normal;
  }

  :hover + &,
  :focus + &  {
    color: $link-hover-color;

    .councillor-image {
      border-color: $formal-comment-border-color;
    }
  }

  :checked + & {
    color: $link-active-color;

    .councillor-image {
      border-color: $link-active-color;
    }
  }
}
