// TODO: These forms styles are very repetitive with #new_add_comment and .formtastic child styles
//       They just don't have the .formatastic overrides.
//       There is probably a refactor to make these the base/raw form styles
//       and to move them into _form.scss
.councillor-contribution-form {
  .councillor-contribution-instructions {
    margin-bottom: 2em;
  }

  .councillor-contribution-label {
    display: block;
    margin: .75em 0 .25em;
    padding: 0;
    font-size: 1em;
    font-weight: 500;
  }

  legend {
    margin: 0 0 1em;
    display: block;
    font-weight: 500;
  }

  input,
  textarea {
    display: block;
    padding: .25em;
    font-family: $blueprint-font-family;
    font-size: 100%;
  }

  textarea {
    margin-bottom: 1em;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
  }

  fieldset {
    margin-bottom: 1em;
  }
}

.councillor-contribution-councillors {
  padding-bottom: 2em;

  input,
  dd {
    font-size: 1.2em;
  }

  dt {
    color: $cool-highlight;
  }
}

.button-add-input {
  margin-top: 1em;
  font-size: 1em !important;
}

.councillor-contribution-actions {
  text-align: right;

  .councillor-contribution-form-councillor-input & {
    @supports (display: grid) {
      @include at-breakpoint(55em) {
        padding: 1em;
        background: $lightest-cool-highlight;
        border-radius: 1em;
        text-align: center;
      }
    }

    p {
      display: none;

      @supports (display: grid) {
        @include at-breakpoint(55em) {
          display: block;
          margin: 1em 0 0;
        }
      }
    }
  }
}
