.registration-page,
.registration-success-page {
  max-width: 43em;
  padding-bottom: 4em;

  @include at-breakpoint(40em) {
    padding-bottom: 8em;
  }

  @include at-breakpoint(60em) {
    padding-bottom: 9em;
  }

  p {
    @include at-breakpoint(40em) {
      font-size: 1.175em;
    }
  }
  .small {
    font-size: 0.9em;
  }
}

p.form-processing {
  margin: 0 0 .2em;
  font-size: 1.25em;
  font-weight: bold;
}
