= form_tag donations_path, class: 'donations-payment-form', id: "donation-payment-form" do
  %fieldset.amount-setter
    %label
      %span.amount-setter-label-text Choose your contribution
      %div.amount-setter-container
        %div.amount-setter-input
          %i &#36;
          - # TODO: Add more helpful restrictions on input to make this as easy as possible
          = number_field_tag :amount, price, pattern: "[0-9]*", required: "required", min: 1, title: "Enter the number of dollars you’d like to donate monthly"
  %div= render partial: "stripe_monthly_button", locals: {email: email, price: price}
  %div= render partial: "stripe_once_button", locals: {email: email, price: price}
  %p.quiet.small
    Donations over $2 are
    %strong tax deductible.
