= f.inputs description, class: "daterange" do
  = f.input start_name, label: "Start", required: false, input_html: { class: "date" }, placeholder: "from"
  = f.input end_name, label: "End", required: false, placeholder: "to"
