:markdown
  <h4 id="section4.3.4">4.3.4 Events [Mandatory]</h4>

  The `events` record contains a list of events that have occurred against the application since lodgement. The `events` record must include a list of events, where each event has an `id`, `date` and `description`. Inclusion of an `event_type` and `status` is optional.


%table
  %tr
    %th M/O
    %th{ colspan: 2 } Field
    %th Notes
  %tr
    %td M
    %td
      %code events
    %td
    %td Composite record containing a list of events for the application
  %tr
    %td M
    %td
    %td
      %code id
    %td Internal id of event raised against application
  %tr
    %td M
    %td
    %td
      %code timestamp
    %td Date+time the event occurred
  %tr
    %td M
    %td
    %td
      %code description
    %td Short, human readable description of the event
  %tr
    %td O
    %td
    %td
      %code event_type
    %td Authority-specific event type
  %tr
    %td O
    %td
    %td
      %code status
    %td Authority-specific event status code

:markdown
  **Notes**

  * This version of the specification does not define a list of valid `event_types`, so the contents of this field can be Vendor or Council specific.

  * The value for `id` should be a string. The value should be unique from the perspective of the authority such that it can be used as a reference for the underlying event.

  * The system should produce events that are ordered by `[timestamp, id]`. In systems where all events generated on the same day are given the same timestamp, then those systems should order the `id`s so that they are non-decreasing. Consuming systems should assume that ordering the events in terms of `[timestamp, id]` places them into the sequential order in which they occurred.

  * In this context, the `events` record means any kind of activity that can occur against an application. For example, “tasks" and "workflows" would be synonyms for “events”. The specification does not dictate the type of event, but rather, that if an event of any type is captured, then this is the format in which it needs to be articulated.
