<div
  class="relative inline-block"
  x-data="{
    open: false,
    cleanup: null,
    updatePosition() {
      window.FloatingUIDOM.computePosition($refs.button, $refs.popover, {
        placement: 'bottom',
        middleware: [
          // TODO: Flip is being very flaky right now
          window.FloatingUIDOM.flip(),
          window.FloatingUIDOM.offset(24),
          window.FloatingUIDOM.shift(),
          // TODO: Is it possible to avoid using this if we set the max-width ourselves?
          window.FloatingUIDOM.size({
            apply({availableWidth, availableHeight, elements}) {
              Object.assign(elements.floating.style, {
                maxWidth: availableWidth + 'px',
                maxHeight: availableHeight + 'px',
              });
            }
          }),
          window.FloatingUIDOM.arrow({ element: $refs.arrow }),
        ],
      }).then(({x, y, middlewareData, placement }) => {
        const staticSide = {
          top: 'bottom',
          bottom: 'top',
        }[placement];

        Object.assign($refs.popover.style, {
          left: x + 'px',
          top: y + 'px',
        });

        if (middlewareData.arrow) {
          const { x, y } = middlewareData.arrow;
          Object.assign($refs.arrow.style, {
            left: x != null ? (x + 'px') : '',
            top: y != null ? (y + 'px') : '',
            [staticSide]: '-12px',
          });
        }
      });
    }
  }"
  x-init="
    $watch('open', (open) => {
      if (open) {
        cleanup = window.FloatingUIDOM.autoUpdate($refs.button, $refs.popover, updatePosition);
      } else {
        if (!!cleanup) {
          cleanup();
        }
      }
    });
  ">
  <%# TODO: Button needs hover state %>
  <%# TODO: Is info icon too small? How can we make the click area larger? %>
  <button x-ref="button" x-on:click="open=!open" class="text-fuchsia">
    <%= render Tailwind::Icon.new(name: :info) %>
  </button>
  <%# TODO: Choose a more sensible default width %>
  <%# TODO: Add role %>
  <%# TODO: Make sure this all works on small screens too %>
  <%# TODO: Drop shadow doesn't currently match what was designed %>
  <%# TODO: Make something work when javascript is disabled. For example see https://stackoverflow.com/a/19199858 %>
  <%# TODO: When opening at bottom of screen box would be nice to open above info icon. (Put it on hold because a little too much effort to build right now) %>
  <div x-ref="popover" class="w-[500px] absolute" x-show="open" x-on:click.outside="open=false" x-transition>
    <div x-ref="arrow" class="absolute w-6 h-6 rotate-45 bg-navy"></div>
    <div class="px-8 py-6 text-white shadow-md bg-navy">
      <%= content %>
    </div>
  </div>
</div>
