<div class="inline-block" x-data="{open: false}">
  <%# TODO: Button needs hover state %>
  <%# TODO: Is info icon too small? How can we make the click area larger? %>
  <button x-ref="button" x-on:click="open=!open">
    <%# TODO: Use icon component instead %>
    <%= render "application/svg/info" %>
  </button>
  <%# TODO: Choose a more sensible default width %>
  <%# TODO: Add arrow to box %>
  <%# TODO: When opening at bottom of screen box should open above info icon %>
  <%# TODO: Add role %>
  <%# TODO: Make sure this all works on small screens too %>
  <%# TODO: Drop shadow doesn't currently match what was designed %>
  <%# TODO: Make something work when javascript is disabled. For example see https://stackoverflow.com/a/19199858 %>
  <div class="px-8 py-6 text-white w-[500px] bg-navy shadow-md"
       x-show="open" x-on:click.outside="open=false" x-anchor.offset.10="$refs.button" x-transition>
    <%= content %>
  </div>
</div>
