<li>
  <%# TODO: Make the link wider than the text for easier clicking %>
  <%= link_to @href, class: class_names("inline-block", "h-full", "flex", "border-b-4", { "border-fuchsia" => @selected, "border-transparent" => !@selected }) do %>
    <div class="m-auto">
      <%= content %>
    </div>
  <% end %>
</li>
