<%= render @link_block do %>
  <div class="flex items-center justify-between gap-6 px-4 py-8">
    <div><%= content %></div>
    <div class="hidden text-light-grey2 group-hover:text-navy shrink-0 sm:block">
      <%= render "application/svg/point_right" %>
    </div>
  </div>
<% end %>
