<nav role="navigation" aria-label="pager" class="flex justify-between text-2xl">
  <div>
    <% if path_to_prev_page(@collection) %>
      <%= pa_link_to "< Previous page", path_to_prev_page(@collection) %>
    <% end %>
  </div>
  <div>
    <% if path_to_next_page(@collection) %>
      <%= pa_link_to "Next page >", path_to_next_page(@collection) %>
    <% end %>
  </div>
</nav>
