<div class="relative inline-block">
  <div class="inline-block px-4 py-2 text-<%= @size %> font-bold text-white rounded-2xl bg-lavender">
    <%= content %>
  </div>
  <div class="w-0 h-0 absolute <%= @alignment %>
    border-l-[6px] border-l-transparent
    border-t-[14px] border-t-lavender
    border-r-[6px] border-r-transparent">
  </div>
</div>
