<section class="main-content__header">
  <%= button_to "Resend email", resend_nimda_comment_path(page.resource) %>
  <%= button_to "Confirm", confirm_nimda_comment_path(page.resource), disabled: page.resource.confirmed %>
</section>
