<div class="flex flex-col justify-between gap-8 px-12 py-8 my-10 md:flex-row bg-light-grey">
  <div class="text-xl text-navy">
    <%= render HeadingComponent.new(tag: :h4) do %>
      Get ongoing access with a plan
    <% end %>
    <p class="my-4">
      Different plans to choose from depending on your needs and circumstances.
    </p>
    <%= pa_link_to "View our plans", api_howto_path(anchor: "plans") %>
  </div>
  <%= image_tag "illustration/dog.svg", alt: "", size: "177x116" %>
</div>
