.box.activate-account
  %h2 Things are changing around here!

  %p Easily manage all your alerts, settings and comments in one place. Follow these steps now:

  %ol
    %li Click the button below to confirm your email address
    %li Click on the link in the email “Activate your account”
    %li Fill in your name and password

  %p= link_to "Get started", new_users_activation_url(email: alert.email), class: "cta-button"

  %p= link_to "Why we made this change", "#"
