.box.eofy-fundraiser
  %table
    %tr
      %td
        PlanningAlerts
        %strong
          urgently needs your help
        to keep running for the next 12 months
        &mdash;
        Your donation is
        %strong
          tax deductible
        %p
          = link_to "Donate now", "https://donate.planningalerts.org.au?utm_source=pa_alert", class: "button"
