%p
  You can
  = link_to "change the size", edit_profile_alert_url(alert)
  of the area you’re interested in or
  #{link_to "unsubscribe from alerts for this address", unsubscribe_alert_url(confirm_id: alert.confirm_id)}.

%p
  Need some help?
  = link_to "Contact us", documentation_contact_url
