%p It's possible your local authority may not be included yet. You can check by clicking #{link_to "here", authorities_path}. If it isn't, please sign up anyway and you'll receive alerts as soon as they're available. Also, the more people have signed up in a particular area, the harder we'll work to cover that area.
