.attention
  %h3 Thanks, your alert size area has been updated
  %p
    Your email alerts will now be for any planning applications we find
    within <strong>#{meters_in_words(@alert.radius_meters)}</strong> of #{@alert.address}.

%p
  Remember, if this alert doesn't cover everywhere you are interested in
  %span.highlight
    = link_to "you can sign up for multiple alerts", new_alert_path
