.attention
  %h3 Now check your email
  %p
    Shortly you should receive an email from PlanningAlerts.org.au. <span class="highlight">Click on the link in the email</span> to
    confirm and start receiving planning alerts.
  %p
    If you don't get an email in the next few minutes, try checking your spam filter.
