- content_for :page_title, "Confirmed"
.attention
  %h3 Thanks, your alert has been activated
  %p
    You will now receive email alerts for any planning applications we find within
    %strong= meters_in_words(@alert.radius_meters.to_f)
    of
    %strong #{@alert.address}.
%p
  You can #{link_to "change the size of the area covered by the alerts", edit_alert_path(confirm_id: @alert.confirm_id)}
  now or at a later time. Every email alert will have this link.
  If you want alerts around another address as well
  #{link_to "you can sign up for multiple alerts", new_alert_path}.
