- content_for :page_title, "Now check your email"

.attention#alert-email-confirm-prompt
  %h3= yield :page_title
  %p
    Shortly you should receive an email from PlanningAlerts.org.au.
    %span.highlight Click on the link in the email
    to confirm and start receiving planning alerts.
  %p If you don't get an email in the next few minutes, try checking your spam filter.

%p
  Return to
  = link_to "applications near #{address}", root_path(q: @address) 
