- content_for :page_title, "Unsubscribed"
.attention
  %h3 You have been unsubscribed
  - if @alert
    %p
      You will no longer receive email alerts for any planning applications we find near
      %strong= @alert.address
      (within #{meters_in_words(@alert.radius_meters)}).
  %p
    If you have unsubscribed because you would like to receive alerts at a different email address, or were getting too many emails,
    = link_to "you could always create a new alert with a new email address, or for a smaller area?",
      @alert ? new_alert_path(address: @alert.address, email: @alert.email) : new_alert_path
