#sidebar .formtastic.alert {
  width: 100%;

  .label {
    display: none;
  }

  .inline-hints {
    margin-left: 0;
  }

  p, .stringish input {
    font-size: 0.9em;
  }

  p {
    margin-bottom: 1em;
  }

  input, textarea {
    width: 100%;
  }

  .actions {
    padding: 0;

    &, li {
      width: 100%;
    }

    li {
      display: block;
      float: none;
    }
  }
}
