.formtastic#new_contact_message { 
  @include float-form(100%, 100%, 100%, 0, "buttons-left", left, "select-auto");
  margin-top: 0;

  label {
    margin: .75em 0 .25em;
    padding: 0;
    font-size: 1em;
  }

  textarea, select {
    padding: 0.5em;
  }

  textarea, input, select {
    font-family: $blueprint-font-family;
    font-size: 100%;
  }

  .inline-hints,
  .inline-errors {
    margin: 0;
  }

  .actions {
    padding: 0;
    // Formtastic overrides
    width: 100%;

    li {
      text-align: left !important;
    }
  }

  .g-recaptcha { 
    margin: 1.75em 0 .25em;
  }
}