- content_for :page_title, "Unsubscribed"
.attention
  %h3 You have been unsubscribed
  - if @alert
    %p
      You will no longer receive email alerts for any planning applications we find near
      %strong= @alert.address
      (within #{meters_in_words(@alert.radius_meters.to_f)}).
  %p
    If this was a mistake
    - if @alert
      = link_to "you could always create a new alert for the same address", new_alert_path(address: @alert.address)
    - else
      = link_to "you could always create a new alert", new_alert_path
