- content_for :page_title, "Donate to the OpenAustralia Foundation"
%h3= yield :page_title
%p
  PlanningAlerts is brought to you by the charity the OpenAustralia Foundation. We are
  = link_to "a Charitable Institution with Deductible Gift Recipient (DGR) status", "http://abr.business.gov.au/SearchByAbn.aspx?abn=24138089942"
  which means that any donation you make over $2 is <strong>tax deductible</strong>.

%p
  To date the OpenAustralia Foundation has achieved much on minimal funding and generous volunteer input. To maintain the services we offer and to build new and exciting projects however, we need the financial support of the public.

%p
  We're very proud of what we have achieved and would like to continue growing and providing a free service to the community. Your donations will help us do this. So, please make a tax-deductible donation. We will put your donation to work straight away.

%p
  Make your donation by Paypal (a cost effective and secure way to donate online) here - Credit Cards or Paypal account accepted

%p
  %form(action="https://www.paypal.com/cgi-bin/webscr" method="post")
    %input(type="hidden" name="cmd" value="_xclick")
    %input(type="hidden" name="business" value="matthew@openaustralia.org")
    %input(type="hidden" name="item_name" value="Donation to OpenAustralia Foundation")
    %input(type="hidden" name="no_shipping" value="2")
    %input(type="hidden" name="no_note" value="0")
    %input(type="hidden" name="currency_code" value="AUD")
    %input(type="hidden" name="tax" value="0")
    %input(type="hidden" name="lc" value="AU")
    %input(type="hidden" name="bn" value="PP-DonationsBF")
    %input{:type => "hidden", :name => "return", :value => donate_thanks_url}
    %input{:type => "hidden", :name => "cancel_return", :value => donate_cancel_url}
    %input(type="hidden" name="cn" value="Please tell us why you're donating")
    %input(id="amount_donate" type="text" name="amount" size="10")
    Australian Dollars (AUD)
    %input(type="submit" value="Donate")

%p
  All donations over $2 are tax deductible. We will send you a receipt for your records.

%p
  If you prefer to post a donation, send it to:

%address
  The OpenAustralia Foundation<br/>
  PO Box 147, Katoomba NSW 2780

%p
  If you would like to discuss any alternative ways you would prefer to donate please email
  = mail_to "contact@openaustraliafoundation.org.au"
  or call Katherine Szuminska on 0424 563 654.

