- content_for :page_title, "Thanks for your donation!"
%h3= yield :page_title

%p
  Your transaction has been completed, and a receipt for your purchase has been emailed to you. If you have a paypal account, you may log into your account at <a href="http://www.paypal.com/">www.paypal.com</a> to view details of this transaction.
