- content_for :page_title, "Donation cancelled!"
%h3= yield :page_title

%p
  We're sorry to hear it. Hope you think of us in the future.

%p
  If something didn't work as you expected during the donation process which led you to cancel please let us know so that we can fix it. Thanks!
