- content_for :page_title, "Donate to the OpenAustralia Foundation"
%h3= yield :page_title

%p
  PlanningAlerts is brought to you by the charity the OpenAustralia Foundation. We are
  = link_to "a Charitable Institution with Deductible Gift Recipient (DGR) status", "http://abr.business.gov.au/SearchByAbn.aspx?abn=24138089942"
  which means that any donation you make over $2 is <strong>tax deductible</strong>.

%p
  To date the OpenAustralia Foundation has achieved much on minimal funding and generous volunteer input. To maintain the services we offer and to build new and exciting projects however, we need the financial support of the public.

%p
  We're very proud of what we have achieved and would like to continue growing and providing a free service to the community. Your donations will help us do this. So, please make a tax-deductible donation. We will put your donation to work straight away.

%p
  The donation button below will take you to the secure PlanningAlerts donation page at the OpenAustralia Foundation website.
  Thank you for your support!

%p
  = link_to "Donate", "https://www.openaustraliafoundation.org.au/donate/planningalerts/", class: "button button-rounded button-action button-large"
