- content_for :page_title, "How to write a scraper"
%h3= yield :page_title
%p
  There are only 2 criteria for the
  screen scraper:
%ol
  %li
    That it can output data in the following format: <a href="/brisbane.xml">brisbane.xml</a>
  %li
    That it can accept a query string in the format day=X&amp;month=Y&amp;year=Z
%p
  Other than that it's up to you. It can be in any language. You can host them yourself or we can host it for you.
%p
  %span.highlight
    Please go ahead and grab the code for <a href="http://github.com/openaustralia/planningalerts-app">this site</a>,
    <a href="http://github.com/openaustralia/planningalerts-parsers">the scrapers</a>,
    <a href="http://tickets.planningalerts.org.au/">view some development tickets</a>
    and join the <a href="http://groups.google.com/group/openaustralia-dev">OpenAustralia Community mailing list</a>.
