- content_for :page_title, "Performance"

%h1= yield :page_title

%h2 Comments on planning applications

- if Comment.any?
  %table
    %caption
      New and returning people commenting on applications over time
    %thead
      %tr
        %th Date
        %th First time commenters
        %th Returning commenters
    %tbody
      - (3.months.ago.to_date..Date.today).to_a.reverse.each do |day|
        %tr
          %th= day
          %td= Comment.by_first_time_commenters_for_date(day).count
          %td= Comment.by_returning_commenters_for_date(day).count
- else
  Nobody has commented on an application yet.
