#main
  %h1 Get more from your alerts

  %p
    The property professionals who use PlanningAlerts are the first to know about new DAs and sub-divisions they care about. Subscribe now for powerful new tools to manage your alerts.

  %form.registration-form
    %legend
      %strong
        %span.registration-price $99
        %span.registration-period / month
      Subscribe for early access

    %fieldset
      %label{for: 'email'} Email
      %input#email{type: 'email', name: 'email', autocomplete: 'name', placeholder: 'you@email.com'}

      %label{for: 'name'} Full Name
      %input#email{type: 'text', name: 'fullname', placeholder: 'Firstname Lastname'}

    %fieldset#payment-information
      %label{for: 'card-number'} Credit Card Number
      %input{placeholder: '1234 5678 9012 3456', pattern: '[0-9]*', type: 'text', id: 'card-number', name: 'card_number', autocomplete: 'cc-number'}

      %label{for: 'card-expiration'} Expiration (MM/YYYY)
      %input{placeholder: 'MM/YYYY', type: 'text', id: 'card-expiration', name: 'card_exp_date'}

      %label{for: 'card-cvv'} CVV Number
      %input{placeholder: 'CVV', pattern: '[0-9]*', type: 'text', id: 'card-cvv', name: 'card_cvv', autocomplete: 'cc-csc'}

    %button Submit
