%p
  Hi there humans,

%p
  You've got a wonderful new councillor contribution in for
  #{@councillor_contribution.authority.full_name}.
  You can
  = "#{link_to 'review the contribution on its admin page', admin_councillor_contribution_url(@councillor_contribution.id)}.".html_safe
%p
  Don't forget to thank the lovely human who made this contribution if you know who they are!
%p
  Have a great day,
%p
  PlanningAlerts
