%p
  Hi there humans,

%p
  You've got a wonderful new councillor contribution in
  = "#{@councillor_contribution.authority.full_name}."
  Here is the
  = link_to "link.", admin_councillor_contribution_url(@councillor_contribution.id)
%p
  Don't forget to thank the lovely human who made this contribution if you know who they are!
%p
  Have a great day,

%p
  PlanningAlerts
