%dt
  The link to the council development application doesn't take me directly there. What's going on?
%dd
  Some council web sites require you to click an Agree button before you can view the details of the development
  application. The problem is they often do not redirect you to your original destination after you click Agree.
  Usually revisiting the original link again after clicking Agree should take you to the correct details page.
