-# Anything you put here will be added to a big banner across the top of each page
-# This is useful for emergency notices or end-of-financial-year funding drives

-# .container
-#   = link_to "Can you help keep PlanningAlerts running?", "https://www.oaf.org.au/donate/planningalerts/?utm_source=pa_banner"
-#   &mdash;
-#   Your donation is <strong>tax deductible</strong>.
