-# TODO: Move to head to block page until it loads
-# TODO: Deal with no JavaScript
%script{src: "https://checkout.stripe.com/checkout.js"}

%input{type: 'hidden', name: 'stripeEmail', value: email}
%input{type: 'hidden', name: 'stripeToken', value: ""}
-# TODO: Set amount to what we want
%button{type: 'submit', class: "button-action", id: "button-pro-signup", data: {key: ENV["STRIPE_PUBLISHABLE_KEY"], amount: price_in_cents(price), email: email}}
  Donate each month
