- content_for :page_title, 'Success, subscription confirmed'

.registration-success-page
  %h1 Success!

  %p The subscription for #{@email} has been confirmed.Thank&nbsp;you.

  %p
    %strong
      The new alert management tools will be available soon and
      you will be first to get access.

  %p You will&nbsp;not be charged before then.

  %p
    If you have any questions, feedback or ideas for new features
    please don’t hesitate to #{mail_to "contact@planningalerts.org.au", "contact us"}.
