%h1 Success!

%p The subscription for #{@email} has been confirmed. Thank you.

%p
  %strong
    The new alert management tools will be available soon and
    you will be first to get access.

%p You will not be charged before then.

%p
  If you have any questions or feedback on PlanningAlerts
  please don’t hesitate to #{mail_to "contact us.", "contact@planningalerts.org.au"}.
