- content_for :page_title, 'Success, subscription confirmed'

.registration-success-page
  %h1.page-title Thanks for subscribing!
  %p
    You can now #{link_to "sign up to get alerts for as many locations as you need", new_alert_path(email: @email)}.
    You’ll also keep getting alerts near the street addresses you’ve already signed up for.
  %p
    Your receipt has been emailed to you, and
    you’ll receive a monthly receipt after each payment.
  %p
    You can cancel your subscription at any time, just
    #{mail_to "contact@planningalerts.org.au", "email us at contact@planningalerts.org.au"}.
