- content_for :page_title, 'Get less email & more useful alerts'

.registration-page
  = form_tag subscriptions_path, id: 'subscription-payment-form', class: 'registration-intro' do
    %h1.page-title Get planning alerts for all the locations you need

    %p
      You need an active subscription to
      receive planning alerts from multiple locations or for commercial purposes.

    -# TODO: Move to head to block page until it loads
    %script{src: "https://checkout.stripe.com/checkout.js"}

    %input{type: 'hidden', name: 'stripeAmount', value: @amount}
    %button{disabled: true, type: 'submit', class: "button-action", id: "button-pro-signup", data: {key: Configuration::STRIPE_PUBLISHABLE_KEY, amount: @amount, email: (@email if @email)}}
      Subscribe now #{@display_amount}/month
