- content_for :page_title, 'Subscribe here'

.registration-page
  = form_tag subscriptions_path, id: 'subscription-payment-form', class: 'registration-intro' do
    %h1.page-title Subscribe here

    %p
      Subscribe here to get alerts of planning applications near several addresses.
      Once you’re subscribed you can sign up for alerts from as many locations as you need
      and use PlanningAlerts in your work.

    - if @subscription && @subscription.trial?
      %p
        You have
        = pluralize(@subscription.trial_days_remaining, 'day')
        left on your trial subscription.

    -# TODO: Move to head to block page until it loads
    %script{src: "https://checkout.stripe.com/checkout.js"}

    %input{type: 'hidden', name: 'stripeAmount', value: @amount}
    %button{disabled: true, type: 'submit', class: "button-action", id: "button-pro-signup", data: {key: Configuration::STRIPE_PUBLISHABLE_KEY, amount: @amount, email: (@email if @email)}}
      Subscribe now #{@display_amount}/month
