.registration-page
  = form_tag subscriptions_path, id: 'subscription-payment-form', class: 'registration-intro' do
    %h1 Get more from your&nbsp;alerts

    %p
      Property professionals who use PlanningAlerts are the first to know about new DAs and subdivisions they care about.
      Stay ahead with powerful new tools to maximise the return from your alerts.

    -# TODO: Move to head to block page until it loads
    %script{src: "https://checkout.stripe.com/checkout.js"}

    %button{type: 'submit', id: "button-pro-signup", data: {key: Rails.configuration.stripe[:publishable_key]}}
      %strong
        %span.registration-price $99
        %span.registration-price-per /month
      Subscribe for early access
