.registration-page
  = form_tag subscriptions_path, id: 'subscription-payment-form', class: 'registration-intro' do
    %h1 Sift through less email and get more useful&nbsp;alerts.

    %p You’ll get all your alerts in one email so you never have to sift through your inbox&nbsp;again.

    %p Discover new opportunities by watching as many locations as&nbsp;you&nbsp;need.

    %p Make sure your coverage is complete. You can easily add and edit addresses from your full list of alerts in one&nbsp;place.

    -# TODO: Move to head to block page until it loads
    %script{src: "https://checkout.stripe.com/checkout.js"}

    %input{type: 'hidden', name: 'stripeAmount', value: @amount}
    %button{disabled: true, type: 'submit', id: "button-pro-signup", data: {key: Configuration::STRIPE_PUBLISHABLE_KEY, amount: @amount, email: (@email if @email)}}
      Subscribe now #{@display_amount}/month

    %p No lock-in. Cancel anytime.
