- content_for :page_title, 'Subscribe here'

.registration-page
  = form_tag subscriptions_path, id: 'subscription-payment-form', class: 'registration-intro' do
    %h1.page-title Subscribe here

    %p
      %strong Subscribe here to get alerts for several addresses if you use PlanningAlerts for your work.
      Once you’re subscribed you can sign up for alerts from as many locations as you need.

    %p
      %strong Non-commercial use of PlanningAlerts is free for any number of addresses.
      If this sounds like you, please #{mail_to "contact@planningalerts.org.au", "email us"}—we’ll
      be happy to help with a free, non-commercial subscription.

    = render partial: "stripe_button", locals: {email: @email}
