- content_for :page_title, 'Get less email & more useful alerts'

.registration-page
  = form_tag subscriptions_path, id: 'subscription-payment-form', class: 'registration-intro' do
    %h1 Get planning alerts for all the locations you need

    %p
      While personal use of PlanningAlerts is free
      tracking multiple locations, or using it for commercial purposes,
      requires an active subscription.

    -# TODO: Move to head to block page until it loads
    %script{src: "https://checkout.stripe.com/checkout.js"}

    %input{type: 'hidden', name: 'stripeAmount', value: @amount}
    %button{disabled: true, type: 'submit', id: "button-pro-signup", data: {key: Configuration::STRIPE_PUBLISHABLE_KEY, amount: @amount, email: (@email if @email)}}
      Subscribe now #{@display_amount}/month
