In NSW, for example, it is an offence if you fail to disclose this when making a submission under the
<a href="http://www.austlii.edu.au/au/legis/nsw/consol_act/epaaa1979389/s147.html">Environmental Planning and Assessment Act 1979</a>.
If this applies to you, please ensure you contact the council responsible so that you can make this disclosure.
