<% content_for :page_title, "404 - Not Found" %>

<%= render CentreBlockWithImageComponent.new do |c| %>
  <% c.with_heading do %>
    The page you were looking for doesn't exist
  <% end %>

  <% c.with_image do %>
    <%= image_tag "tailwind/illustration/404.svg" %>
  <% end %>

  <div class="text-xl text-navy">
    <p>
      You may have mistyped the address or the page may have moved.
    </p>

    <p class="mt-8">
      <%= pa_link_to "Go to our home page", root_url %>
    </p>
  </div>
<% end %>
