- content_for :page_title, "404 - Not Found"
.attention
  %h3 The page you were looking for doesn't exist.
  %p You may have mistyped the address or the page may have moved.
  %p= link_to "Go to the home page", root_url
