%p Please click on the link below to confirm you want to receive email alerts for planning applications near #{@alert.address}:

= link_to "Confirm your alert", confirmed_alert_url(confirm_id: @alert.confirm_id)

%p If your email program does not let you click on this link, just copy and paste it into your web browser and hit return.
