%h3 Request an API key

%h4 The PlanningAlerts API key is a paid service

%p
  The PlanningAlerts API costs $2499 per month. We have a very straightforward short contract. We invoice monthly.
  Let's have a conversation to get things started.
  Fill out this form and we'll go from there.

%p
  Under certain very specific circumstances we may grant you access to the API for free. You must:

%ul
  %li Not be making money in any way using the API or in a related service - some more words that explain this in detail
  %li Not be funded
  %li Not unduly restricting access to the end result - should be available to the public
  %li You have don't oodles lying around that you could use to pay for API access
