%dt
  Do you cover the whole country?
%dd
  No, but we are working on it. There is a list of the planning authorities we currently cover
  #{link_to "here", authorities_path}. Not every planning authority publishes their planning data
  online so some places will always be missing. If your local authority is missing, you could always
  #{link_to "help out by writing a screen scraper to search their website", how_to_write_a_scraper_path}.
