%dt
  What's a planning authority?
%dd
  Your local planning authority is the part of government that assesses planning and development applications.
  Depending on where you live, this might be your local council or territory government.
