<div class="pt-32 pb-64 bg-green">
  <%= render Tailwind::ContainerComponent.new do %>
    <% if Flipper.enabled?(:switch_themes, current_user) %>
      <%= button_to "Toggle theme", toggle_theme_path, class: "text-white bg-navy font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>
    <% end %>
  <% end %>
</div>
