<%# Enabled / Disable this banner by updating layouts/applications.html.erb %>
<%# TODO: This needs a proper design. For the time being just taken the welcome banner and messed with it %>
<div x-data="{open: true}" x-show="open" x-transition class="flex items-start gap-5 p-8 mt-8 text-xl text-white rounded-lg bg-lavender">
  <div class="grow">
    <%= link_to "https://donate.planningalerts.org.au?utm_source=pa_banner", class: "hover:opacity-80 focus:outline-none focus:bg-sun-yellow focus:text-navy underline" do %>
      Planning Alerts <strong>urgently needs your help</strong> to keep running for the next 12 months
    <% end %>
  </div>
  <%# TODO: This button doesn't do anything without javascript, so hide it until js is running %>
  <button x-on:click="open=false"
          class="p-2 hover:opacity-80 focus:outline-none focus:ring-sun-yellow focus:ring-4">
    <span class="sr-only">Close</span>
    <%= render Tailwind::Icon.new(name: :dismiss) %>
  </button>
</div>
