<%# Switches between these two blocks at "sm" breakpoint %>
<div class="hidden sm:block">
  <%= image_tag "tailwind/logo.svg" %>
</div>
<div class="sm:hidden">
  <div>
    <span class="inline-block text-5xl font-extrabold text-navy font-logo">
      Planning Alerts
    </span>
  </div>
</div>
