<%# Switches between these two blocks at "sm" breakpoint %>
<div class="hidden sm:block">
  <%= image_tag "tailwind/logo.svg" %>
</div>
<div class="sm:hidden">
  <%= image_tag "tailwind/logo-on-white.svg" %>
</div>
