<div>
  <div>
    <span class="sm:px-5 sm:py-2 text-navy sm:text-[#EEEEEE] sm:bg-fuchsia font-extrabold text-5xl inline-block font-logo">
      Planning Alerts
    </span>
  </div>
  <div class="hidden sm:block">
    <span class="inline-block px-3 py-1 text-xs font-semibold text-white sm:px-5 sm:text-sm bg-lavender font-logo">
      Email alerts of planning applications near you
    </span>
  </div>
</div>
