<!DOCTYPE html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  </head>
  <body>
    <%= yield %>
    <%= render "footer" %>
  </body>
</html>
