<div class="bg-[#F4BE53] pt-8 pb-6">
  <div class="container mx-auto">
    <div>
      <span class="px-5 py-2 text-[#EEEEEE] bg-[#CD4A9A] font-extrabold text-5xl inline-block">
        Planning Alerts
      </span>
    </div>
    <div>
      <span class="px-5 py-1 bg-[#9786AD] text-white inline-block font-['Playfair_Display'] text-sm font-medium">
        Email alerts of planning applications near you
      </span>
    </div>
    <div>
      <span class="px-5 py-2 text-[#414860] inline-block text-sm font-medium">
        An OpenAustralia Foundation project
      </span>
    </div>
  </div>
</div>
<%# <h1 class="text-8xl">Hello!</h1> %>