$backer_green: #315D18;

.backer-hero-image {
  background-image: url('/assets/sceptical-climate-001-invert-crop.jpg');
}

.backers-page,
.backers-this-week {
  text-align: center;

  @include at-breakpoint(50em) {
    text-align: left;
  }
}

.backers-page {
  background: rgba(255,255,255,.8);
  color: #000;

  .main {
    background: none;

    @include at-breakpoint(50em) {
      padding-top: 4em;
      height: 45em;
    }
  }

  .page-title {
    color: #000;
    margin: 0 0 .5em;
    line-height: 1.2;
    font-weight: bold;

    @include at-breakpoint(50em) {
      font-size: 2.5em;
    }
  }
}

.backers-intro {
  p {
    font-size: 1.4em;
  }
}

.backers-payment-form {
  margin-top: 1em;
  padding: 1.5em 1em 1em;
  text-align: center;
  background: rgba(255,255,255,.8);
  border-radius: .5em;

  > p {
    margin: 0 0 1em;
  }

  p:last-child {
    margin: 0;
  }
}

.amount-setter {
  margin: 0 0 1.5em;
  line-height: 1.25;
}

.amount-setter-label-text {
  display: block;
  padding: 0 0 1.5em;
  font-weight: bold;
}

.amount-setter-container {
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    text-align: left;
    padding-left: .75em;
  }
}

.amount-setter-input {
  background: #fff;
  display: flex;
  align-items: center;
  box-shadow: inset 0 .1em .1em rgba(0,0,0,0.2);
  color: #333;
  text-shadow: none;

  input,
  i {
    font-size: 1.25em;
  }

  i {
    padding: .5em .125em .5em .5em;
    width: 1em;
    font-style: normal;
  }

  input {
    padding: .5em .5em .5em 0;
    width: 2.75em;
    text-align: right;
    border: 0;
    background: transparent;
  }
}

.backers-this-week {
  padding-top: 2em;
  background: $backer_green;
  background: linear-gradient(-45deg, $backer_green, lighten($backer_green, 5%));
  color: #eee;

  @include at-breakpoint(50em) {
    padding: 2em 0 0;
  }

  h2 {
    font-size: 1.4em;
    margin: 0 0 1.5em;
    color: #eee;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin: 0 0 2em;
  }

  p {
    font-size: 1.2em;
    margin: 0;
  }

  .number {
    font-size: 2.4em;
    font-weight: bold;
    display: block;
    line-height: 1.2;
  }

  .quote {
    font-style: italic;
    font-size: 1.4em;
    padding: .5em 0 3em;
    margin: 0;
    color: #eee;

    span {
      display: block;
      font-size: .857em;
      font-style: normal;
    }
  }

  img {
    width: 100%;
  }

  figure {
    position: relative;
    background: #000;
  }

  figcaption {
    padding-top: 1em;
    padding-bottom: 1em;
    background: rgba(0,0,0,0.2);

    @include at-breakpoint(25em) {
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    p {
      font-size: 1em;

      @include at-breakpoint(25em) {
        margin: 0 auto;
      }

      @include at-breakpoint(50em) {
        padding-right: 12em;
        box-sizing: border-box;
      }
    }
  }
}
