.backers-page {
  padding-top: 4em;
  text-align: center;

  @include at-breakpoint(40em) {
    text-align: left;
  }

  .main {
    background: none;
  }

  .page-title {
    margin: 0 0 .5em;
    line-height: 1.2;
    font-weight: bold;

    @include at-breakpoint(40em) {
      font-size: 2.5em;
    }
  }
}

.backers-intro {
  p {
    font-size: 1.4em;
  }
}

.backers-payment-form {
  margin-top: 1em;
  text-align: center;
  padding: 1em 1em 1em;
  background: rgba(200,200,200,.15);
  border-radius: .5em;

  p:last-child {
    margin-bottom: 0;
  }
}

.amount-setter {
  margin: 0 0 1.5em;
  line-height: 1.25;
}

.amount-setter-label-text {
  display: block;
  margin-bottom: .75em;
  font-size: .75em;
  text-transform: uppercase;
}

.amount-setter-container {
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    text-align: left;
    padding-left: .75em;
  }
}

.amount-setter-input {
  border: 2px #aaa solid;
  background: #fff;
  display: flex;
  align-items: center;
  box-shadow: inset 0 .1em .1em rgba(0,0,0,0.1);
  color: #333;
  text-shadow: none;

  input,
  i {
    font-size: 1.25em;
  }

  i {
    padding: .5em .125em .5em .5em;
    width: 1em;
    font-style: normal;
  }

  input {
    padding: .5em .5em .5em 0;
    width: 2.75em;
    text-align: right;
    border: 0;
    background: transparent;
  }
}

$backer_blue: #2C9EB5;
$backer_background: $backer_blue;
.backers-page-contrast-theme {
  color: white;
  background-color: $backer_background;
  background: linear-gradient(-45deg, $backer_background, lighten($backer_background, 15%));

  .page-title {
    color: white;
  }

  .backers-payment-form {
    background: rgba(255,255,255,.1);
    text-shadow: 1px 2px 0 rgba(0,0,0,.15);
  }
}
