// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-font-size: 16px;

// Susy grid settings

$total-columns  : 24;
$column-width   : 30px;
$gutter-width   : 10px;
$grid-padding   : $gutter-width;
$container-style: static;

// Colours

$almostblack: #0f0f0f;
$grey: #989898;
$darkgrey: #333;
$almostwhite: #fafafa;
$darkblue: #22579c;
$orange: #ff8c00;
$yellow: #f4f323;
$transparentyellow: rgba(244, 243, 35, 0.5);

$link-color: $darkblue;
$link-hover-color: $darkblue;
$link-active-color: $darkblue;
$link-visited-color: $darkblue;
$link-focus-color: $darkblue;
$header-color: $orange;
$font-color: $darkgrey;
$quiet-color: $grey;
$error-bg-color: $yellow;
$error-color: $font-color;
$highlight-color: $transparentyellow;