@import "compass/css3";
@import "mixins";

// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$base-font-size: 16px;
$blueprint-font-size: $base-font-size;
$blueprint-font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;

// Susy grid settings
// ---------------------------------------------------------------------------

@import "susy";

// ---------------------------------------------------------------------------
// Basic Grid

$column-width   : 1.825em;
$gutter-width   : 0.7em;
$grid-padding   : $gutter-width * 2;

$container-style: fluid;

$show-grid-backgrounds: false;

// Colours

$lightest: #ebf1d6;
$light: #fae08b;
$dark: #1d3d61;
$darkest: #333;
$warm-highlight: #e3821f;
$cool-highlight: #426357;
$light-cool-highlight: #aac7bc;
$lightest-cool-highlight: #e7e7e7;

$content-background: #fcfdfc;
$background-overlay: transparentize($darkest,0.8);
$dark-overlay: transparentize($darkest,0.2);

$font-color: $darkest;
$link-color: $dark;
$link-active-color: $cool-highlight;
$link-hover-color: $darkest;
$link-visited-color: $darkest;
$link-focus-color: $darkest;
$quiet-color: $cool-highlight;
$error-bg-color: #fbb;
$error-color: $font-color;
$highlight-color: $light; // Background
