$chart-fill-color: lighten($dark, 65%);
$chart-line-color: lighten($dark, 20%);
.chart {
  text {
    fill: $font-color;
    font-size: .875em;
  }

  .chart-area {
    fill: $chart-fill-color;
  }

  .y-axis,
  .x-axis {
    line {
      stroke: #888;
      stroke-width: .125em;
      shape-rendering: crispEdges;
    }
  }

  .y-axis {
    .domain {
      display: none;
    }
  }

  .x-axis {
    .domain {
      display: none;
    }
  }
}

.chart-line {
  fill: none;
  stroke: $chart-line-color;
  stroke-width: 2px;

  &.chart-clipping-below {
    display: none;
  }
}

.chart-area-stacked {
  .axis {
    line,
    path {
      fill: none;
      stroke: #888;
      stroke-width: 2px;
    }
  }
}

.chart-callout {
  display: block;
  float: right;
}

.chart-callout-heading {
  display: block;
}

.chart-callout-subheading {
  display: block;
  font-weight: normal;
}

.chart-overlay {
  fill: none;
  pointer-events: all;
}

.focus {
  circle {
    stroke: $chart-line-color;
    stroke-width: 2px;
    fill: transparent;
  }
}
