.chart {
  text {
    fill: $font-color;
    font-size: .875em;
  }

  .chart-area {
    fill: lighten($dark, 40%);
  }
}

.chart-line {
  fill: none;
  stroke: $dark;
  stroke-width: 2px;

  &.chart-clipping-below {
    display: none;
  }
}

.chart-area-stacked {
  .axis {
    line,
    path {
      fill: none;
      stroke: #888;
      stroke-width: 2px;
    }
  }

  .y-axis {
    .domain {
      display: none;
    }
  }
}
