// Colours

$lightest: #ebf1d6;
$light: #fae08b;
$dark: #1d3d61;
$darkest: #303030;
$warm-highlight: #e3821f;
$cool-highlight: #505050;
$light-cool-highlight: #aac7bc;
$lightest-cool-highlight: #e7e7e7;

$content-background: #fcfdfc;
$font-color: $darkest;

$quiet-color: $cool-highlight;
$highlight-color: $light; // Background

$link-color: #144b8c;
$link-active-color: $link-color;
$link-hover-color: $link-color;
$link-visited-color: $link-color;
$link-focus-color: $link-color;

$error-bg-color: #fbb;

// TODO: Remove this variable or use it for it's intended purpose
// Blueprint does weird things with this so it's been set to do nothing.
// This is to do with conflicts between blueprint classes like alert and error
// and the classes applied by Formtastic.
$error-color: $font-color;

$form-error-color: #C7523D;

$councillor-message-yellow: #FFE8B3;
$councillor-message-border-color: darken($councillor-message-yellow, 15%);
$councillor-message-header-color: lighten($councillor-message-yellow, 11%);
$councillor-message-background-color: lighten($councillor-message-yellow, 13.5%);
$formal-comment-blue: #5098B9;
$formal-comment-border-color: lighten($formal-comment-blue, 22%);
$formal-comment-header-color: lighten($formal-comment-blue, 42%);
$formal-comment-background-color: lighten($formal-comment-blue, 46.5%);

$background-overlay: transparentize($darkest,0.8);
$dark-overlay: transparentize($darkest,0.2);
