#comments-area {
  margin-top: 1em;
  border-top: 1px solid $light-cool-highlight;

  .tabs-list & {
    margin-top: 0;
    border-top: 0;
  }
}


ol#comments {
  @include no-bullets;
  padding-left: 0;
  margin-right: 0;
}

.panel {
  border: 1px $lightest-cool-highlight solid;
}

.panel-link {
  color: $font-color;

  &:hover,
  &:focus {
    text-decoration: none;

    .panel-heading {
      background-color: darken($lightest-cool-highlight, 10%);
    }
  }

  .panel-heading {
    background-color: $lightest-cool-highlight;
    -webkit-transition: background .1s linear;
    -moz-transition: background .1s linear;
    -o-transition: background .1s linear;
    -ms-transition: background .1s linear;
    transition: background .1s linear;
  }
}

.comment-item {
  margin-bottom: 2.5em;
  background: #fafafa;

  a &:hover {
    background: #f0f0f0;
    -webkit-transition: background .1s linear;
    -moz-transition: background .1s linear;
    -o-transition: background .1s linear;
    -ms-transition: background .1s linear;
    transition: background .1s linear;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.comment-text {
  font-style: normal;
  margin: 0;
  border: 0;
  color: $font-color;
}

.comment-address {
  margin: 0;
  font-size: 1em;
}

.comment-meta {
  @include quiet;
}

.comment-address,
.comment-text,
.comment-meta {
  padding: .75em 1em;
}

.comment-author {
  display: block;

  @include at-breakpoint(40em) {
    display: inline-block;
  }
}

.comment-time {
  font-size: 0.9em;
}

.comment-action {
  @include quiet;
  margin-top: .15em;
  margin-left: .5em;
  float: right;
  font-size: 0.9em;
  text-decoration: underline;
}

#councillor-message-form {
  // set box-sizing for simplicity
  &,
  * {
    box-sizing: border-box;
  }

  legend,
  fieldset,
  textarea {
    margin-bottom: 2em;
  }

  p {
    margin-bottom: 1em;
  }

  fieldset legend {
    font-weight: bold;
  }

  input[type="text"] {
    padding: .5em;
  }

  textarea {
    width: 100%;
  }
}

.councillor-select-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.councillor-select-radio {
  @include sr-only();
}

.councillor-select-label {
  margin-bottom: .5em;
  width: 100%;
  display: block;
  cursor: pointer;

  .p-name,
  .p-org {
    display: block;
  }

  .p-name {
    font-weight: bold;
  }

  :hover + &,
  :focus + &  {
    border-left: .25em $lightest-cool-highlight solid;
    padding-left: .75em;
    color: $link-hover-color;
  }

  :checked + & {
    border-left: .25em $light-cool-highlight solid;
    padding-left: .75em;
    color: $link-active-color;
  }
}

.councillor-message-block {
  input#commentor_name {
    padding-left: 1em;
    width: 25em;
  }
}
