#comments-area {
  margin-top: 1em;
  border-top: 1px solid $light-cool-highlight;
}

ol#comments {
  @include no-bullets;
  padding-left: 0;
  margin-right: 0;
}

.panel {
  border: 1px $lightest-cool-highlight solid;
}

.panel-link {
  color: $font-color;

  &:hover,
  &:focus {
    text-decoration: none;

    .panel-heading {
      background-color: darken($lightest-cool-highlight, 10%);
    }
  }

  .panel-heading {
    background-color: $lightest-cool-highlight;
    -webkit-transition: background .1s linear;
    -moz-transition: background .1s linear;
    -o-transition: background .1s linear;
    -ms-transition: background .1s linear;
    transition: background .1s linear;
  }
}

.panel-heading,
.panel-body {
  padding: .75em 1em;
}

.panel-body {
  @include clearfix;
}

.comment-item {
  margin-bottom: 2.5em;
  background: lighten(#5098B9, 46.5%);
  border-color: lighten(#5098B9, 22%);
  border-radius: .5em;

  a &:hover {
    background: #f0f0f0;
    -webkit-transition: background .1s linear;
    -moz-transition: background .1s linear;
    -o-transition: background .1s linear;
    -ms-transition: background .1s linear;
    transition: background .1s linear;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.comment-to-councillor {
  background: lighten(#FFE8B3, 13.5%);
  border-color: darken(#FFE8B3, 15%);
}

.comment-address,
.comment-meta,
.comment-text {
  color: $font-color;
}

.comment-address,
.comment-text {
  margin: 0;
}

.comment-meta {
  @include quiet;
  padding: 0 0 .75em;
}

.comment-text {
  font-style: normal;
  border: 0;
  padding: 0;
}

.comment-address {
  font-size: 1em;
}

.comment-author {
  display: inline-block;
}

.comment-recipient {
  display: inline-block;
}

.comment-time-block {
  font-size: 0.9em;
  display: block;

  @include at-breakpoint(40em) {
    display: inline-block;

    .comment-to-councillor & {
      display: block;
    }
  }
}

.comment-actions {
  float: right;
  clear: both;
  font-size: 0.9em;
  padding: .75em 0 0;

  @include at-breakpoint(40em) {
    padding: 0;
  }
}

.comment-action {
  @include quiet;
  margin-left: .5em;
  text-decoration: underline;
}
