.email-donation-banner {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 25px;
  padding-top: 0;
  padding-right: $base-email-layout-unit;
  padding-bottom: $base-email-layout-unit;
  padding-left: $base-email-layout-unit;
  background-color: $dark_blue !important;
  color: #ffffff;
  font-size: 14px;

  @media only screen and (max-width: 480px) {
    font-size: 15px;
  }

  a {
    color: #ffffff !important;
    text-decoration: underline;
  }

  p {
    margin: 0;
    padding-top: 21px;
    float: left;
    color: #ffffff;
  }
}

.email-donation-banner-button-container {
  padding-top: $base-email-layout-unit;
  padding-right: 16px;
  float: left;
}

.email-donation-banner-button {
  display: inline-block;
  border-radius: 5px;
  padding-top: 6px;
  padding-right: 10px;
  padding-bottom: 6px;
  padding-left: 10px;
  background-color: darken($orange, 2%);
  color: #ffffff;
  text-shadow: 1px 1px 0 darken($orange, 20%);
  text-decoration: none !important;

  @media only screen and (max-width: 480px) {
    font-size: 16px;
  }

  &:hover,
  &:focus {
    background-color: lighten($orange, 20%);
  }
}
