.comment {
  border-width: 1px;
  border-style: solid;
  border-color: $light_gray;
  background-color: $lightest_gray;

  p {
    margin-top: 0;
    margin-bottom: $base-email-layout-unit;
    margin-bottom: 1em;
  }
}

.action-link {
  font-weight: bold;
}

.comment-location {
  font-size: 1em;
  font-weight: normal;
  border-bottom: 1px solid $light_gray;
  color: $mid_gray;
  background-color: $light_gray;

  a {
    font-weight: normal;
  }
}

.comment-meta {
  span {
    color: $mid_gray;
  }
}

.comment-author {
  display: inline-block;
  font-weight: bold;
}
