.comment {
  border-width: 1px;
  border-style: solid;
  border-color: $formal-comment-border-color;
  background-color: $formal-comment-background-color;

  .comment-location {
    border-color: $formal-comment-border-color;
  }

  a {
    font-weight: bold;
  }

  p {
    margin-top: 0;
    margin-bottom: $base-email-layout-unit;
    margin-bottom: 1em;
  }
}

.comment-location {
  font-size: 1em;
  font-weight: normal;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  color: $mid_gray;
  background-color: $formal-comment-header-color;

  a {
    font-weight: normal;
  }
}

.comment-meta {
  span {
    color: $mid_gray;
  }
}

.comment-author,
.comment-recipient {
  display: inline-block;
  font-weight: bold;
}

.comment-to-councillor,
.comment-to-councillor .comment-location,
.comment-to-councillor-status {
  border-color: $councillor-message-border-color;
}

.comment-to-councillor {
  background: $councillor-message-background-color;
}

.comment-to-councillor .comment-location {
  background-color: $councillor-message-header-color;
}

.comment-to-councillor-status {
  border-top-width: 1px;
  border-top-style: solid;
  background-color: #fff;

  p {
    margin-bottom: 0;
  }

  span {
    display: inline-block;
  }
}
