.applications-more {
  padding-left: $base-email-layout-unit;
}

.application {
  background: $light_gray;

  .address {
    padding-bottom: 5px;

    a {
      font-size: 18px;
      font-weight: bold;
    }
  }

  .map {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    width: 155px;
  }

  .streetview {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }

  .description {
    vertical-align: top;
  }
}
