// Only apply the blueprint form styles to forms with
// a class of "bp". This makes it easier to style
// forms from scratch if you need to.

//form {
//  @include blueprint-form; }

@import "formtastic_base";

//$fb-light-text: $font-color;
$fb-gradient-style: matte;
$fb-font-size: 1.3em;
$fb-line-height: 1em;

.actions input, .btn {
  margin-top: 1em;
  // @include fancy-button-allow-disable($orange);
  font-weight: normal;
}

a.btn:hover {
  text-decoration: none;
}

.formtastic {
  @include float-form(100%, 25%, 75%, 0, "buttons-left", left, "select-auto");
  margin-top: 2em;
  margin-bottom: 2em;

  // Make text field sit nicely at the expected full width
  input, textarea {
    box-sizing: border-box;
    color: $cool-highlight;
  }

  .placeholder {
    text-align: left;
    padding-top: 0;
    font-size: 1.2em;
  }

  li {
    margin-bottom: 0.5em;

    &.error {
      background: inherit;
      border: inherit;
      color: inherit;

      input, textarea, select {
        background: $lightest;
      }
    }
  }

  .inline-hints {
    @include quiet;
    font-size: 0.8em;

    img {
      vertical-align: middle;
      margin-left: 5px;
    }
  }

  div.inline-hints p {
    padding-top: 0.5em;
  }

  .inline-errors {
    color: $error-color;
  }

  li.string,
  li.stringish,
  li.email,
  li.text {
    label {
      font-weight: 500;
      font-size: 1.1em;
    }
  }

  li.string, li.stringish, li.email {
    label {
      text-align: right;
      width: 23%;
      padding: .5em 2% 0 0;
    }

    input, textarea {
      font-size: 1.1em;
      padding: .5em;
    }
  }

  li.boolean {
    label {
      // This is so nasty and wrong
      margin-left: 25%;
      width: 100%;
    }

    input {
      width: 20px;
    }
  }
}

.formtastic.alert {
  abbr {
    display: none;
  }
}

// Special formatting for specific forms

.formtastic.user {
  input.button {
    white-space: normal;
  }
}

.formtastic#new_comment, .formtastic#new_report {
  @include float-form(100%, 100%, 100%, 0, "buttons-left", left, "select-auto");

  label {
    margin-bottom: .25em;
    font-size: 1em;
  }

  /* This is only used when the placeholder polyfill is active */
  .label span.placeholder {
    padding-top: 0.8em;
    //font-size: 1em;
  }

  textarea {
    padding: 0.5em;
  }

  textarea, input {
    font-family: $blueprint-font-family;
    font-size: 100%;
  }

  .inline-hints,
  .inline-errors {
    margin: 0;
  }

  label abbr[title="required"] {
    @include sr-only();
  }

  .actions {
    padding: 0;
  }
}

body form.alert {
  background: inherit;
  border-color: inherit;
  border: inherit;

  p {
    margin-bottom: 1em;
  }
}

form.donate {
  input[type="submit"] {
    font-weight: normal;
    margin-left: 1em;
  }

  input#amount_donate, label, span {
    font-size: 1.3em;
  }
}

#sidebar .formtastic.alert {
  @include boxed-content;
  margin-top: 0;

  .label {
    /* Use seriously old-school way of hiding these labels so that placeholder polyfill can still work */
    left: -999em;
    position: absolute;

    /* This is only used when the placeholder polyfill is active */
    span.placeholder {
      padding-top: .2em;
      font-size: .8em;
    }
  }

  .inline-hints {
    margin-left: 0;
  }

  p, .stringish input {
    font-size: 0.9em;
  }

  p {
    margin-bottom: 1em;
  }

  input, textarea {
    width: 100%;
  }

  .actions {
    padding: 0;

    &, li {
      width: 100%;
    }

    li {
      display: block;
      float: none;
    }
  }
}

.formtastic {
  fieldset.daterange {
    legend {
      width: 25%;
      float: left;
    }

    ol {
      display: inline-block;
    }

    input {
      width: 9em;
    }

    li {
      margin-right: 1em;
      display: inline-block;
      float: left;
    }

    label {
      display: none;
    }

    .inline-errors {
      margin-left: 0;
    }

    .error {
      padding-top: 0;
    }
  }
}

@import "payment_form";
