// Only apply the blueprint form styles to forms with
// a class of "bp". This makes it easier to style
// forms from scratch if you need to.

//form {
//  @include blueprint-form; }

@import "formtastic_base";

//$fb-light-text: $font-color;
$fb-gradient-style: matte;
$fb-font-size: 1.3em;
$fb-line-height: 1em;

.actions input { 
  margin-top: 1em;
  font-weight: normal;
}

.formtastic {
  @include float-form(100%, 25%, 75%, 0, "buttons-left", "left", "select-auto");
  // Make text field sit nicely at the expected full width
  input, textarea {
    @include box-sizing(border-box);
  }
  margin-top: 2em;
  margin-bottom: 2em;
  li {
    margin-bottom: 0.5em;
    &.error {
      background: inherit;
      border: inherit;
      color: inherit;
      input, textarea, select {
        background: $yellow;
      }
    }
  }
  .inline-hints {
    @include quiet;
    font-size: 0.8em;
  }
  div.inline-hints p {
    padding-top: 0.5em;
  }
  .inline-errors {
    color: $orange;
  }
  li.string input, li.email input {
    font-size: 1.3em;
  }
}

// Special formatting for specific forms

.formtastic#new_comment {
  @include float-form(100%, 0%, 100%, 0, "buttons-left", "left", "select-auto");
  /* This is only used when the placeholder polyfill is active */
  .label span.placeholder {
    font-size: 1em;
  }
}

.formtastic#new_report {
  @include float-form(950px, 190px, 754px, 0, "buttons-left", "left", "select-auto");
}

.formtastic#new_comment, .formtastic#new_report {
  textarea, input {
    font-family: $blueprint-font-family;
    font-size: 100%;
  }
  div.inline-hints p {
    padding-top: 0.5em;
  }
}

// .alert is a popular class name... override compass stuff
body form.alert {
  background: inherit;
  border-color: inherit;
  border: inherit;

  padding: 0;
  margin-top: 0;
}

form.donate {
  input[type="submit"] {
    font-weight: normal;
    margin-left: 1em;
  }
  input#amount_donate, label, span {
    font-size: 1.3em;
  }
}

#sidebar .formtastic.alert {
  @include float-form(100%, 25%, 100%, 0, "buttons-left", "left", "select-auto");
  margin-top: 0;
  font-size: 75%;
  background: $almostwhite;
  padding: 12px;

  .label {
    /* Use seriously old-school way of hiding these labels so that placeholder polyfill can still work */
    left: -999em;
    position: absolute;

    /* This is only used when the placeholder polyfill is active */
    span.placeholder {
      font-size: 1.3em;
    }
  }
  .actions {
    padding-left: 0;
  }
  .inline-hints {
    margin-left: 0;
  }
  p {
    margin-bottom: 1em;
  }
}

// Homepage's address search form
.address-search {
  label {
    text-align: right;
    font-size: 1.1em;
    width: 23%;
    padding: .5em 2% 0 0;
  }
  li.string input {
    font-size: 1.1em;
    padding: .5em;
  }
}
