.container {
  @include container;
}

@include at-breakpoint(6 30em) {

  .container {
    @include set-container-width;
  }

  #header, #menu, #footer, #main, #sidebar,
  .blog-feed, .twitter-feed, .keepintouch, .oaf {
    @include span-columns(6 omega);
  }

}

// Until we get to our largest size
@include at-breakpoint(1em 60em) {

  // Home page search form should be tweaked
  // Also alert sign up form
  form.alert, .address-search {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    label {
      float: none;
    }
    label, li.stringish input, li.string input, .inline-hints {
      text-align: center;
      width: 100%;
    }
    .inline-hints {
      margin-left: 0;
    }
    .actions {
      width: 100%;
      padding-left: 0;

      .action, .submit {
        width: 100%;
        text-align: center;
      }
    }
  }

}

@include at-breakpoint(30em 12 60em) {

  .container {
    @include set-container-width;
  }

  #header, #menu, #footer {
    @include span-columns(12 omega, 12);
  }

  #main {
    @include span-columns(9, 12);
  }

  #sidebar {
    @include span-columns(3 omega, 12)
  }

  // news
  .blog-feed {
    @include span-columns(6, 12);
  }  
  .twitter-feed {
    @include span-columns(6 omega, 12);
  }

  // #footer
  .keepintouch {
    @include span-columns(4, 12);
  }
  .oaf {
    @include pre(4);
    @include span-columns(4 omega,  12);    
    text-align: right;
  }
}

@include at-breakpoint(60em 24) {

  $container-style: static;

  .container {
    margin-left: auto;
    margin-right: auto;
    @include set-container-width;
  }

  #header, #menu, #footer {
    @include span-columns(24 omega, 24);
  }

  #header {
    height: 125px;
    h1 {
      font-size: 2.5em;
    } 
    h2 {
      font-size: 1.25em;
      margin-bottom: 1.75em;
    }
  }

  // Header's plane banner can be presented fancily
  #statsbanner {
    padding-left: 73px;
    background: url(/images/plane.png) no-repeat 0 center; 
    position: absolute;
    top: 1em;
    right: 1em;
  }

  // Navigation can be a bit larger
  #menu {
    font-size: 1em;

    a {
      padding: .5em .75em;
    }
  }

  #main {
    @include span-columns(18, 24)
  }

  #sidebar {
    @include span-columns(6 omega, 24)
  }

  // news
  .blog-feed {
    @include span-columns(11, 24);
  }  
  .twitter-feed {
    @include pre(2);
    @include span-columns(11 omega, 24);
  }

  // #footer
  .keepintouch {
    @include span-columns(11,24);
  }
  .oaf {
    @include pre(2);
    @include span-columns(11 omega, 24);    
    text-align: right;
  }

}
