.container {
  @include container;
}

@include at-breakpoint(6 30em) {

  .container {
    @include set-container-width;
  }

  #menu, #main, #sidebar,
  .blog-feed, .twitter-feed, .keepintouch, .oaf {
    @include span-columns(6 omega);
  }

}

// Until we get to our largest size
@include at-breakpoint(1em 60em) {

  .container {
    // Home page search form should be tweaked
    // Also alert sign up form
    form.alert, .address-search {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      margin-top: 0;

      label {
        float: none;
        font-size: 1.1em;
        margin-bottom: .5em;
      }
      #{nest("li.stringish, li.string", "label, input")}, .inline-hints  {
        //li.stringish, li.string, .inline-hints {
        text-align: center;
        width: 100%;
      }
      .inline-hints {
        margin-left: 0;
      }
      .actions {
        width: 100%;
        padding-left: 0;

        .action, .submit {
          width: 100%;
          text-align: center;
        }
      }
    }
  }

}

@include at-breakpoint(30em 12 60em) {

  .container {
    @include set-container-width;
  }

  #menu {
    @include span-columns(12 omega, 12);
  }

  #main {
    @include span-columns(9, 12);
  }

  #sidebar {
    @include span-columns(3 omega, 12)
  }

  // news and footer
  .blog-feed, .keepintouch {
    @include span-columns(6, 12);
  }  
  .twitter-feed, .oaf {
    @include span-columns(6 omega, 12);
  }

  .oaf {
    text-align: right;
  }
}

@include at-breakpoint(60em 24) {

  // We'll show a photo background now
  body {
    background: image-url("background.jpg") top center no-repeat;
    background-size: cover;
  }

  $container-style: static;

  .container {
    margin-left: auto;
    margin-right: auto;
    @include set-container-width;
  }

  #menu {
    @include span-columns(24 omega, 24);
  }

  #header {
    h1 {
      font-size: 2.5em;
    } 
    h2 {
      font-size: 1.25em;
    }
  }

  .main {
    background-color: transparent;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    border: .5em solid $background-overlay;
    background-color: $background-overlay;
    @include background-clip( padding-box);
    padding-left: 0;
    padding-right: 0;
    width: 61.3em;
  }

  #content {
    padding-left: $grid-padding;
    padding-right: $grid-padding;
    background-color: $content-background;
    @include border-radius(.35em);
  }

  // Header's plane banner can be presented fancily
  // We're animating this... :)
  @include keyframes(fly) {
    from {
      background-position: 0 7px;
    }
    to {
      background-position: 0 9px;
    }
  }
  @include keyframes(gettowed) {
    from {
      @include rotate(-1deg);
      background-color: rgba(255,255,255,0.9);
    }
    to {
      @include rotate(1deg);
      background-color: rgba(255,255,255,0.8);
    }
  }
  #statsbanner {
    padding-left: 73px;
    background: url(/images/plane.png) no-repeat 0 8px;
    position: absolute;
    top: 1em;
    right: 1em;
    @include animation(fly 3s ease infinite alternate);
  }
  #stats {
    @include animation(gettowed 3s ease infinite alternate);
    border-radius: 2px;
  }

  // Navigation can be a bit larger
  #menu {
    font-size: 1em;

    a {
      padding: .5em .75em;
    }
  }

  #main {
    @include span-columns(18, 24)
  }

  #sidebar {
    @include span-columns(6 omega, 24)
  }

  // news
  .blog-feed {
    @include span-columns(11, 24);
  }  
  .twitter-feed {
    @include pre(2);
    @include span-columns(11 omega, 24);
  }

  // #footer
  #footer {
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    background-color: $background-overlay;
    @include background-clip( padding-box);
    border: .5em solid $background-overlay;
    border-top: none;
    padding-bottom: none;
    margin-bottom: 1.5em;

    a:active, a:hover, a:focus {
      color: $warm-highlight;
    }
  }
  .keepintouch {
    @include span-columns(12,24);
  }
  .oaf {
    @include span-columns(12 omega, 24);    
    text-align: right;
  }

}
