.container {
  @include container;
  //@include susy-grid-background;
}

#header, #menu, #page, #footer {
  @include span-columns(24 omega, 24);
}

#main {
  @include span-columns(18, 24);
}

#sidebar {
  @include span-columns(6 omega, 24)
}

.news {
  .blog-feed {
    @include span-columns(11, 24);
  }  
  .twitter-feed {
    @include pre(2);
    @include span-columns(11 omega, 24);
  }
}

.statbox {
  @include span-columns(24 omega, 24);
}
.stat-header {
  @include span-columns(4, 24)
}
.stat {
  @include span-columns(5, 24);
}

.stat.last {
  @include span-columns(5 omega, 24);
}

#footer {
  .keepintouch {
    @include span-columns(8,24);
  }
  .oaf {
    @include pre(8);
    @include span-columns(8 omega, 24);    
  }
}