@import "compass/utilities/general/min";
@import "compass/utilities/links/hover-link";
@import "compass/utilities/lists/horizontal-list";

body {
  background: #b0b0b0;
}

#page-wrapper {
  background: white;
  padding-top: 3em;  
  padding-bottom: 2em;
}

#header-wrapper {
  background: #878787 url(/images/banner.png) repeat-x center 0;
}

#menu-wrapper {
  background: #989898;
}

// Layout elements - i.e. those on every page
#header {
  //margin: auto;
  height: 125px;
  //position: relative;
  #banner {
    @include float-left;
    //margin-left: 10px;
    margin-top: 6px;
    h1 {
      margin-bottom: 0;
      //white-space: nowrap;
      //padding: 20px 240px 0 0;
      font-size: 2.5em;
      a {
        color: $yellow;
        text-decoration: none;
      } 
      span {
        color: $orange; }
        sup {
          font-size: 0.3em;
          text-transform: uppercase;
        } 
      }
      h2 {
        font-style: italic;
        font-size: 1.15em;
      }
  }
}

#statsbanner {
  padding-left: 73px;
  background: url(/images/plane.png) no-repeat 0 center; 
  @include float-right;
  margin-top: 25px;
}

#stats {
  margin: 0;
  @include quiet;
  font-size: 0.9em;
  background: white;
  padding-left: 5px;
  padding-right: 5px;
  a {
    text-decoration: none;
    @include quiet;
  }
}

#menu {
  background: $grey;
  font-size: 0.9em; 
  ul {
    @include horizontal-list;
    @include float-right;
    li {
      padding: 0;
      a {
        padding: 0.5em 1em;
        color: white;
        text-decoration: none; 
        &:active, &:hover, &:focus {
          background: $orange;
        }
        display: block;
      }
      &.selected {
        background: $orange;
      } 
    } 
  } 
}

#footer-wrapper {
  background: #b0b0b0;
}

#footer {
  a {
    color: black;
  }
  h5 {
    font-weight: normal;
    color: #333;
    margin-bottom: 0;
  }
  padding-top: 1em;
  margin-bottom: 1em;
  font-size: 0.9em;
  ul {
    @include no-bullets;
    padding-left: 0;
    margin-right: 0;
  }
  .oaf {
    text-align: right;
  }
}

// Content

p a, li a, span a, dd a, dt a, div a {
  @include hover-link;
}

.disclaimer {
  @include quiet;
  font-size: 0.8em; }

#content {
  @include min-height(500px);
  position: relative;
}

#map_div, #pano {
  margin-bottom: 1em;
  display: inline-block;
  width: 350px;
  height: 200px;
}

/* Attention grabbers */
div.attention {
  text-align: center;
}

#privacy, #spnBeta, .explanation {
//text-align: center;
padding-left: 75px;
padding-right: 75px;
  font-size: 0.8em;
  @include quiet;
  em {
    font-weight: bold;
    font-style: normal; 
  } 
}

.appinfo {
  @include quiet;
  font-size: 0.8em;
  line-height: 1.3em; 
}

.pagination {
  text-align: center;
  margin-bottom: 1em;
}

/* api */
div.apiitem {
  border: dotted 1px $grey;
  background: $almostwhite;
  padding: 0.5em;
  margin-top: 1em;
  code {
    background: white;
    display: block;
    padding: 10px;
    border: solid 1px $grey;
    word-wrap: break-word;
  }
  p {
    font-size: 0.8em;
  } 
}

p.apiexamples {
  position: relative;
  top: 1em; 
}

#hLicenseInfo {
  background: url(/images/salicense.png) no-repeat right 1em;
  padding-top: 1em;
  padding-bottom: 12px; 
}

body dl dt {
  margin-top: 0.5em;
  font-weight: normal;
}

dl.faq dt {
  color: $orange;
}

ul#subscribe {
  @include no-bullets;
  padding: 0.5em 0.5em 0 0.5em;
  margin-right: 0;
  background: $almostwhite;
  border: solid 1px $grey;
  img {
    vertical-align: middle;
    margin-right: 0.5em;
  }
  li {
    margin-bottom: 0.5em;
  }
}

.alert.home {
  background: $almostwhite;
  border: solid 1px $grey;
  padding: 1em;
  p {
    margin-bottom: 1em;
  }
}

ol#comments {
  @include no-bullets;
  padding-left: 0;
  margin-right: 0;
}

div.comment {
  padding: 1em;
  background: #fafafa;
  .report {
    opacity: 0;
  }
}

div.comment:hover {
  background: #f0f0f0;
  -webkit-transition: background .1s linear;  
  -moz-transition: background .1s linear;  
  -o-transition: background .1s linear;  
  -ms-transition: background .1s linear;  
  transition: background .1s linear;
  .report {
    opacity: 100;
    -webkit-transition: opacity .1s linear;  
    -moz-transition: opacity .1s linear;  
    -o-transition: opacity .1s linear;  
    -ms-transition: opacity .1s linear;  
    transition: opacity .1s linear;
  }  
}

.comment {
  margin-bottom: 1em;

  p:last-child {
    margin-bottom: 0;
  }
  .author {
    @include quiet;
  }
  .report {
    @include float-right;
  }
}

body h4 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

#application {
  p.dates, p.more, p.source {
    @include quiet;
    font-size: 0.8em;
  }
}

#application-stats {
  background: $almostwhite;
  padding: 12px;
  p:last-child {
    margin-bottom: 0.5em;
  };
}

.match {
  @include highlight;
}

.authorities, .sizes {
  @include no-bullets;
}

.contributors {
  @include no-bullets;
  margin-right: 0;
  padding-left: 0;
  li {
    width: 232px;
    display: inline-block;
    margin-bottom: 5px;
  }
}

.news {
  @include no-bullets;
  ul {
    padding-left: 0;
  }
  li {
    padding-bottom: 0.5em;
  }
  .date {
    @include quiet;
    font-size: 0.8em;
  }
}

.notice {
  a {
    color: $link_color !important;
  }
}

// Social buttons
#social {
  text-align: center;
  .fb-like {
    display: block;
    margin-top: 1em;
  }
  .twitter-share-button {
    display: block;
    margin: 2em auto 0 auto;
  }
}

// Style chart on authority detail page

#chart {
  text {
    fill: gray;
    font-size: 10px;
  }
}

// Prototype of possible widget for signing up to email alerts
.widget-prototype {
  width: 700px;
  background: #f8f8f8;
  padding: 1em;
  border: 1px solid;
  #privacy {
    padding-left: 0;
  }
  .formtastic {
    margin-top: 0;
    margin-bottom: 0;
    .inline-hints {
      margin-left: 0;
    }
    padding-left: 0;
    .actions {
      padding-left: 0;
    }
    border: none;
    li label {
      display: none;
    }
    input {
      width: 100%;
    }
  }
  h3 {
    margin-bottom: 0.5em;
  }
  p {
    margin-bottom: 0;
  }
}

table.scraper_fields {
  font-size: 0.9em;
  table-layout: fixed;
  th {
    background: #e8e8e8;
  }
  td, th {
    border: 1px solid #ddd;     
    padding: 0.5em;
  }
  td {
    background: #f8f8f8;
    p:last-child {
      margin-bottom: 0;
    }
    vertical-align: top;
  }
  td.field {
    color: $orange;    
  }
  .field {
    width: 15%;
  }
  .example {
    width: 30%;
  }
}

body pre {
  white-space: pre-wrap;
}
