@import "compass/utilities/general/min";
@import "compass/utilities/links/hover-link";
@import "compass/utilities/lists/horizontal-list";

body {
  background-color: $dark;
  font-weight: 400;
}

.main {
  background: $content-background;
}

// Transition links by colour
a {
  @include single-transition(color, .3s);
}

// Layout elements - i.e. those on every page
#header {
  position: relative;

  h1 {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: .5em;

    a {
      text-decoration: none;
      text-shadow: -1px -1px 2px $dark;

      &:link, &:visited {
        color: $warm-highlight;
      }
      &:active, &:hover, &:focus {
        color: $light;
      }
    } 
  }
  h2 {
    color: $lightest;
    font-size: .9em;
    text-shadow: -1px -1px 1px $dark;
  }
}
// Don't show stats by default
#stats {
  display: none;
}

#menu {
  font-size: .9em;

  ul {
    @include horizontal-list;

    li {
      padding: 0;
      @include inline-block;
    }
  }
  a {
    padding: .5em 0;
    display: block;
    text-decoration: none; 
    @include single-transition(background-color, .5s);
    text-shadow: -1px 0 2px $dark;

    &:link, &:visited {
      color: #fff;
    }
    &:active, &:hover, &:focus {
      color: $lightest;
      background-color: $background-overlay;
    } 
  }
  abbr {
    border: none;
  }
}

body {
  &.c-applications .applications-link,
  &.c-alerts .alerts-link,
  &.c-static.a-faq .faq-link,
  &.c-authorities .authorities-link,
  &.c-static.a-get_involved .get-involved-link,
  &.c-api .api-link,
  &.c-static.a-donate .donate-link,
  &.c-static.a-about .about-link {
    a {
      color: $lightest;
      background: $background-overlay;
    }
  }
}

#content {
  @include clearfix;
  clear: both;
  position: relative;
  padding: 2em 0 1.5em 0;
}

.stats, .tweets, #footer {
  padding-top: 1em;
  padding-bottom: 1em;
}

#footer {
  color: $lightest;
  background-color: $warm-highlight;

  a {
    &:link, &:visited {
      color: $light;
    }
    &:active, &:hover, &:focus {
      color: $dark;
    }
  }
  h4, h5, {
    &, a:link {
      color: $lightest;
    }
  }
  h4 {
    margin-top: 0;
  }
  h5 {
    margin-bottom: 0;
  }
  ul {
    @include no-bullets;
    padding-left: 0;
    margin: 0;

    &.keepintouch {
      li {
        margin-bottom: 1.5em;
      }
      a {
        display: block;
      }
    }
  }
  li {
    color: $lightest;
  }
}

// Within content

p a, li a, span a, dd a, dt a, div a {
  @include hover-link;
}

// On the get involved page there are some call to action links, underline them
.cta a {
  &:link, &:visited {
    text-decoration: underline;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $light-cool-highlight;
  margin: 1em 0;
  padding: 0;
}

.container {
  .button {
    font-family: $blueprint-font-family;
    text-decoration: none;
  }
  a.button-action, input.button-action {
    color: #fff;
  }
  dd {
    margin-left: 0;
  }
}

.disclaimer {
  @include quiet;
  font-size: 0.8em; 
}

#map_div, #pano {
  margin-bottom: 1em;
}

/* Attention grabbers */
body .container .attention {
  @include boxed-content;
  padding: 1em;
  margin-bottom: 1em;

  h4 {
    margin-top: 0;
  }
}

#privacy, #spnBeta, .explanation {
  @include quiet;
  font-size: 0.8em;

  em {
    font-weight: bold;
    font-style: normal; 
  } 
}

.list-options {
  @include no-bullets;
  padding-left: 0;
  margin: 0 0 1.5em 0;

  li {
    display: inline;

    // Label for the options
    &:first-child {
      display: block;
      margin-bottom: .75em;
    }
  }
  b {
    color: $warm-highlight;
    margin-right: .5em;
  }
}

.applications {
  @include no-bullets;
  padding-left: 0;
  margin: 0;

  li {
    border-bottom: 1px solid $lightest-cool-highlight;
    padding: 1em 0;

    &:last-child {
      border-bottom: none;
    }
  }
}
.appinfo {
  font-size: 0.8em;
  color: $cool-highlight;
}

.pagination {
  text-align: center;
  margin-bottom: 1em;
}

.application {
  a:hover {
    text-decoration: none;
    .address {
      text-decoration: underline;
    }
  }
}

/* api */
div.apiitem {
  margin-bottom: 1.5em;

  h5 {
    margin-bottom: 1em;
  }
  p {
    margin-bottom: 1em;
  }
}
code {
  @include boxed-content;
  word-wrap: break-word;
  margin-bottom: 1em;

  pre {
    margin: 0;
  }
}
code.long-lines {
  font-size: .9em;
}

#hLicenseInfo {
  background: image_url("salicense.png") no-repeat right 1em;
  padding-top: 1em;
  padding-bottom: 12px; 
}

body dl dt {
  margin-top: 0.5em;
  font-weight: normal;
}

dl.faq dt {
  color: $cool-highlight;
  font-weight: bold;
}

ul#subscribe {
  @include no-bullets;
  padding: 0.5em 0.5em 0 0.5em;
  margin-right: 0;
  border: solid 1px $cool-highlight;

  img {
    vertical-align: middle;
    margin-right: 0.5em;
  }
  li {
    margin-bottom: 0.5em;
  }
}

ol#comments {
  @include no-bullets;
  padding-left: 0;
  margin-right: 0;
}

div.comment {
  padding: 1em;
  background: #fafafa;

  .report {
    opacity: 0;
  }
  &:hover {
    background: #f0f0f0;
    -webkit-transition: background .1s linear;  
    -moz-transition: background .1s linear;  
    -o-transition: background .1s linear;  
    -ms-transition: background .1s linear;  
    transition: background .1s linear;

    .report {
      opacity: 100;
      -webkit-transition: opacity .1s linear;  
      -moz-transition: opacity .1s linear;  
      -o-transition: opacity .1s linear;  
      -ms-transition: opacity .1s linear;  
      transition: opacity .1s linear;
    }  
  }
}

.comment {
  margin-bottom: 1em;

  p:last-child {
    margin-bottom: 0;
  }
  .author {
    @include quiet;
  }
  .report {
    @include float-right;
  }
}

body {
  h3, h4, h5, & a:link, & a:visited {
    color: $cool-highlight;
  }
  h4 {
    margin-top: 1em;
  }
}

#application {
  p.dates, p.more, p.source {
    @include quiet;
    font-size: 0.8em;
  }
}

#application-stats {
  .button {
    display: block; // Fill the column
  }
}

body blockquote {
  margin: 1em 0;
  padding: 1em;
  border: 3px solid lighten($warm-highlight, 40%);
  border-left: none;
  border-right: none;
  color: $cool-highlight;
  line-height: 1.6em;
}

.match {
  @include highlight;
}

.sizes {
  @include no-bullets;
}

ul li {
  color: $light-cool-highlight; // Colour the bullets
}

.contributors {
  @include no-bullets;
  margin-right: 0;
  padding-left: 0;

  li {
    width: 232px;
    display: inline-block;
    margin-bottom: 5px;
  }
}

form.address-search {
  margin-bottom: 1em;
}

.news, .tweets, .stats {
  a {
    &:link, &:visited {
      .body {
        color: $dark;
      }
    }
    &:active, &:hover, &:focus {
      text-decoration: none;

      .body {
        color: $darkest;
      }
    }
  }
  h4 {
    font-weight: 700;
    margin: 0;
  }
  ul {
    @include no-bullets;
    padding-left: 0;
    margin: 0;
  }
  li {
    border-bottom: 1px solid $lightest-cool-highlight;

    a {
      display: block;
      padding: .75em 0;
    }
    &:last-child {
      border: none;
    }
  }
  .date {
    font-size: 0.8em;
    color: $cool-highlight;
  }
  .cta {
    display: block;
    text-align: right;
    margin-top: .25em;

    &:link {
      text-decoration: underline;
    }
  }
}
.news {
  border-top: 1px solid $lightest-cool-highlight;
  padding-top: 1em;
}

.tweets, .stats {
  background-color: $lightest-cool-highlight;

  li {
    border-color: #fff;
  }
}

.notice a {
  color: $link_color !important;
}

// Social buttons
#social {
  text-align: center;

  .fb-like, .twitter-share-button {
    display: block;
  }
  .fb-like {
    margin-top: 1em;
  }
  .twitter-share-button {
    margin: 2em auto 0 auto;
  }
}

// Style chart on authority detail page
#chart {
  text {
    fill: gray;
    font-size: 10px;
  }
}

// Prototype of possible widget for signing up to email alerts
.widget-prototype {
  width: 700px;
  background: #f8f8f8;
  padding: 1em;
  border: 1px solid;

  #privacy {
    padding-left: 0;
  }
  .formtastic {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    border: none;

    .inline-hints {
      margin-left: 0;
    }
    .actions {
      padding-left: 0;
    }
    li label {
      display: none;
    }
    input {
      width: 100%;
    }
  }
  h3 {
    margin-bottom: 0.5em;
  }
  p {
    margin-bottom: 0;
  }
}

table.scraper_fields {
  font-size: 0.9em;
  table-layout: fixed;

  th {
    background: #e8e8e8;
  }
  td, th {
    border: 1px solid #ddd;     
    padding: 0.5em;
  }
  td {
    background: #f8f8f8;

    p:last-child {
      margin-bottom: 0;
    }
    vertical-align: top;
  }
  td.field {
    color: $dark;    
  }
  .field {
    width: 15%;
  }
  .error {
    width: 15%
  }
  .example {
    width: 30%;
  }
}

body pre {
  white-space: pre-wrap;
}

td pre {
  margin: 0 0;
}

.stats {
  a {
    text-decoration: none;
  }
  .number {
    @include border-radius(.25em);
    margin-right: .3em;
    padding: .15em .35em;
    background-color: lighten($lightest-cool-highlight, 40%);
    font-weight: bold;
  }
}

// At large res there's a background image. Give credit to the photographer.
.photo-credit {
  display: none; // Don't show by default - show with background image inclusion
  margin-left: .5em;
  font-size: 80%;
  color: $cool-highlight;
}

// Style the autocomplete with a powered by Google logo as per the terms and conditions
ul.ui-autocomplete {
  background: image_url("powered-by-google-on-white.png") white no-repeat bottom right;
  padding-bottom: 10px;
}
