@import "compass/utilities/general/min";
@import "compass/utilities/links/hover-link";
@import "compass/utilities/lists/horizontal-list";

body {
  font-weight: 400;
  background: image-url("background.jpg") top center no-repeat;
  background-size: cover;
}

.main {
  background: #fff;
  margin-bottom: 1.5em;
}

// Layout elements - i.e. those on every page
#header {
  position: relative;

  h1 {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: .5em;

    a {
      text-decoration: none;

      &:link, &:visited {
        color: $warm-highlight;
      }
      &:active, &:hover, &:focus {
        color: $light;
      }
    } 
  }
  h2 {
    color: $lightest;
    font-size: .9em;
  }
  #stats {
    font-size: 0.9em;
    background-color: #fff;
    background-color: rgba(255,255,255,0.9);
    padding: .5em .75em;

    a {
      text-decoration: none;
    }
  }
}

#menu {
  font-size: .9em;

  ul {
    @include horizontal-list;

    li {
      padding: 0;
    }
  }
  a {
    padding: .5em;
    text-decoration: none; 
    display: inline-block;
    border-top-left-radius: .25em;
    border-top-right-radius: .25em;

    &:link, &:visited {
      color: #fff;
    }
  }
  &.selected, a:active, a:hover, a:focus {
    color: $lightest;
    background: rgba(0,0,0,0.1);
  } 
  abbr {
    border: none;
  }
}

body {
  &.c-applications .applications-link,
  &.c-alerts .alerts-link,
  &.c-static.a-faq .faq-link,
  &.c-authorities .authorities-link,
  &.c-static.a-get_involved .get-involved-link,
  &.c-api .api-link,
  &.c-static.a-donate .donate-link,
  &.c-static.a-about .about-link {
    a {
      color: $lightest;
      background: rgba(0,0,0,0.1);
    }
  }
}

#content {
  clear: both;
  position: relative;
  padding: 1.5em 0;
}

#footer {
  padding-top: 1.5em;

  h4 {
    margin-top: 0;
  }
  h5 {
    margin-bottom: 0;
  }
  ul {
    @include no-bullets;
    padding-left: 0;
    margin-right: 0;

    &.keepintouch {
      li {
        margin-bottom: 1.5em;
      }
      a {
        display: block;
      }
    }
  }
}

// Within content

p a, li a, span a, dd a, dt a, div a {
  @include hover-link;
}

.container .button {
  font-family: $blueprint-font-family;
}

.container dd {
  margin-left: 0;
}

.disclaimer {
  @include quiet;
  font-size: 0.8em; 
}

#map_div, #pano {
  margin-bottom: 1em;
  display: inline-block;
  width: 350px;
  height: 200px;
}

/* Attention grabbers */
div.attention {
  text-align: center;
}

#privacy, #spnBeta, .explanation {
  @include quiet;
  font-size: 0.8em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;

  em {
    font-weight: bold;
    font-style: normal; 
  } 
}

.appinfo {
  @include quiet;
  font-size: 0.8em;
  line-height: 1.3em; 
}

.pagination {
  text-align: center;
  margin-bottom: 1em;
}

/* api */
div.apiitem {
  border: dotted 1px $cool-highlight;
  padding: 0.5em;
  margin-top: 1em;

  code {
    background: white;
    display: block;
    padding: 10px;
    border: solid 1px $cool-highlight;
    word-wrap: break-word;
  }
  p {
    font-size: 0.8em;
  } 
}

p.apiexamples {
  position: relative;
  top: 1em; 
}

#hLicenseInfo {
  background: url(/images/salicense.png) no-repeat right 1em;
  padding-top: 1em;
  padding-bottom: 12px; 
}

body dl dt {
  margin-top: 0.5em;
  font-weight: normal;
}

dl.faq dt {
  color: $cool-highlight;
}

ul#subscribe {
  @include no-bullets;
  padding: 0.5em 0.5em 0 0.5em;
  margin-right: 0;
  border: solid 1px $cool-highlight;

  img {
    vertical-align: middle;
    margin-right: 0.5em;
  }
  li {
    margin-bottom: 0.5em;
  }
}

.alert.home {
  border: solid 1px $cool-highlight;
  padding: 1em;

  p {
    margin-bottom: 1em;
  }
}

ol#comments {
  @include no-bullets;
  padding-left: 0;
  margin-right: 0;
}

div.comment {
  padding: 1em;
  background: #fafafa;

  .report {
    opacity: 0;
  }
  &:hover {
    background: #f0f0f0;
    -webkit-transition: background .1s linear;  
    -moz-transition: background .1s linear;  
    -o-transition: background .1s linear;  
    -ms-transition: background .1s linear;  
    transition: background .1s linear;

    .report {
      opacity: 100;
      -webkit-transition: opacity .1s linear;  
      -moz-transition: opacity .1s linear;  
      -o-transition: opacity .1s linear;  
      -ms-transition: opacity .1s linear;  
      transition: opacity .1s linear;
    }  
  }
}

.comment {
  margin-bottom: 1em;

  p:last-child {
    margin-bottom: 0;
  }
  .author {
    @include quiet;
  }
  .report {
    @include float-right;
  }
}

body {
  h3, h4, h5, & a:link, & a:visited {
    color: $cool-highlight;
  }
  h4 {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
}

#application {
  p.dates, p.more, p.source {
    @include quiet;
    font-size: 0.8em;
  }
}

#application-stats {
  padding: 12px;

  p:last-child {
    margin-bottom: 0.5em;
  }
}

.match {
  @include highlight;
}

.authorities, .sizes {
  @include no-bullets;
}

.contributors {
  @include no-bullets;
  margin-right: 0;
  padding-left: 0;

  li {
    width: 232px;
    display: inline-block;
    margin-bottom: 5px;
  }
}

.news {
  @include clearfix;

  h4 {
    font-weight: 700;
  }
  ul {
    @include no-bullets;
    padding-left: 0;
  }
  li {
    padding-bottom: 0.5em;
  }
  a:link {
    text-decoration: none;
    color: $darkest;
  }
  .date {
    font-size: 0.8em;
    color: $dark;
  }
}

.notice a {
  color: $link_color !important;
}

// Social buttons
#social {
  text-align: center;

  .fb-like, .twitter-share-button {
    display: block;
  }
  .fb-like {
    margin-top: 1em;
  }
  .twitter-share-button {
    margin: 2em auto 0 auto;
  }
}

// Style chart on authority detail page
#chart {
  text {
    fill: gray;
    font-size: 10px;
  }
}

// Prototype of possible widget for signing up to email alerts
.widget-prototype {
  width: 700px;
  background: #f8f8f8;
  padding: 1em;
  border: 1px solid;

  #privacy {
    padding-left: 0;
  }
  .formtastic {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    border: none;

    .inline-hints {
      margin-left: 0;
    }
    .actions {
      padding-left: 0;
    }
    li label {
      display: none;
    }
    input {
      width: 100%;
    }
  }
  h3 {
    margin-bottom: 0.5em;
  }
  p {
    margin-bottom: 0;
  }
}

table.scraper_fields {
  font-size: 0.9em;
  table-layout: fixed;

  th {
    background: #e8e8e8;
  }
  td, th {
    border: 1px solid #ddd;     
    padding: 0.5em;
  }
  td {
    background: #f8f8f8;

    p:last-child {
      margin-bottom: 0;
    }
    vertical-align: top;
  }
  td.field {
    color: $dark;    
  }
  .field {
    width: 15%;
  }
  .example {
    width: 30%;
  }
}

body pre {
  white-space: pre-wrap;
}
