@import "compass/utilities/general/min";
@import "compass/typography/links/hover-link";
@import "compass/typography/lists/horizontal-list";

body {
  background-color: $content-background;
  font-weight: 400;
}

.main {
  background: $content-background;
}

#header-wrapper {
  background-color: $dark;
}

// Layout elements - i.e. those on every page
#header {
  position: relative;

  h1 {
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 0;
    padding-top: .5em;

    a {
      text-decoration: none;
      text-shadow: -1px -1px 2px $dark;

      &:link,
      &:visited {
        color: $warm-highlight;
      }

      &:active,
      &:hover,
      &:focus {
        color: $light;
      }
    }
  }

  h2 {
    color: $lightest;
    font-weight: 300;
    font-size: .9em;
    text-shadow: -1px -1px 1px $dark;
  }
}

// Don't show stats by default
#stats {
  display: none;
}

#menu {
  font-size: .9em;

  ul {
    @include horizontal-list;

    li {
      padding: 0;
      @include inline-block;
    }

    li.selected a {
      color: $dark;
      background-color: $content-background;
    }

    a.donate-link-header {
      color: $warm-highlight;
    }
  }

  a {
    padding: .5em;
    display: block;
    text-decoration: none;

    &:link,
    &:visited {
      color: #fff;
    }

    &:active,
    &:hover,
    &:focus {
      color: $dark;
      background-color: $content-background;
    }
  }

  abbr {
    border: none;
  }
}

#content {
  @include clearfix;
  clear: both;
  position: relative;
  padding: 2em 0 1.5em 0;
}

.stats,
.tweets,
#footer {
  padding-top: 1em;
  padding-bottom: 1em;
}

#donations-wrapper {
  background-color: #2C9EB5;
  color: white;
  text-shadow: 1px 2px 0 #29757A;

  h4 {
    color: white;
  }

  p a {
    color: #FFFFFF;
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .button-action {
    background: #EFAB01;
    border-color: #FEB90B;
    color: #FFFFFF;
    font-size: 1.3em;
    letter-spacing: 1px;
    text-shadow: 2px 2px 0 #C87019;
    transition: .5s all ease;
    box-shadow: inset -2px -2px 0 0 darken(#EFAB01, 5%);

    &:hover,
    &:focus {
      background: lighten(#EFAB01, 10%);
      border-color: darken(#FEB90B, 5%);
      color: #FFFFFF;
      text-shadow: 2px 2px 0 darken(#C87019, 5%);
      box-shadow: inset -2px -2px 0 0 darken(#EFAB01, 10%),  0 0 2em rgba( #FAE08B, .7 );
      transition: .3s all ease;
    }

    &:active {
      background: #FFF;
      border-color: #FFF;
      color: #29757A;
      text-shadow: none;
      box-shadow: 0 0 2em #FAE08B;
    }
  }
}

.donations-banner {
  padding-top: 1em;
  padding-bottom: 2em;
}

#footer-wrapper {
  background-color: $warm-highlight;
}

#footer {
  color: #ffffff;

  a {
    &:link,
    &:hover,
    &:visited {
      color: $light;
    }

    &:active,
    &:focus {
      color: $dark;
    }
  }

  h4,
  h5 {
    &,
    a:link {
      color: #ffffff;
    }
  }

  h4 {
    margin-top: 0;
  }

  h5 {
    font-weight: normal;
    margin-bottom: 0;
  }

  ul {
    @include no-bullets;
    padding-left: 0;
    margin: 0;

    &.keepintouch {
      li {
        margin-bottom: 1.5em;
      }

      a {
        display: block;
      }
    }
  }

  .oaf ul {
    margin-bottom: 1.5em;
  }
}

// Within content

.page-title {
  @extend h3;
}

p a,
li a,
span a,
dd a,
dt a,
div a {
  @include hover-link;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $light-cool-highlight;
  margin: 1em 0;
  padding: 0;
}

.container {
  .button {
    @include button(simple, $lightest-cool-highlight);
    font-weight: normal;
    font-size: 11px;
  }

  .button-action {
    @include button(simple, $warm-highlight);
    font-weight: normal;
  }

  .button-active {
    $border-active:       adjust-color($lightest-cool-highlight, $saturation: 9%, $lightness: -14%);
    $inset-shadow-active: adjust-color($lightest-cool-highlight, $saturation: 7%, $lightness: -17%);

    border: 1px solid $border-active;
    box-shadow: inset 0 0 8px 4px $inset-shadow-active, inset 0 0 8px 4px $inset-shadow-active;
  }

  .button-large {
    font-size: 19px;
  }

  a.button-action,
  input.button-action {
    color: #fff;
  }

  dd {
    margin-left: 0;
  }
}

.button-facebook {
  @include button(simple, #4e69a2); // Facebook blue
  color: #fff !important;

  &:hover,
  &:focus {
    color: #fff !important;
  }
}

.disclaimer {
  @include quiet;
  font-size: 0.8em;
}

#map_div,
#pano {
  margin-bottom: 1em;
}

details {
  border-radius: 1em;
  background: $lightest-cool-highlight;
  padding: 0;
  cursor: pointer;

  &[open] {
    cursor: default;
    padding: 0 1em 1em;
  }
}

summary {
  padding: 1em;
  display: block;
  cursor: pointer;

  details[open] > & {
    padding: 1em 0;
    font-weight: bold;
  }

  &::before {
    content: 'Show';
    padding-right: 0.5em;

    details[open] > & {
      content: none;
    }
  }

  &::after {
    details[open] > & {
      content: 'Hide';
      float: right;
    }
  }

  &::-webkit-details-marker {
    display: none;
  }
}

/* Attention grabbers */
body .container .attention {
  @include boxed-content;
  padding: 1em;
  margin-bottom: 1em;

  h4 {
    margin-top: 0;
  }
}

#privacy,
#spnBeta,
.explanation {
  @include quiet;
  font-size: 0.8em;

  em {
    font-weight: bold;
    font-style: normal;
  }
}

.list-options {
  @include no-bullets;
  padding-left: 0;
  margin: 0 0 1.5em 0;

  li {
    display: inline;

    // Label for the options
    &:first-child {
      display: block;
      margin-bottom: .75em;
    }
  }

  b {
    margin-right: .5em;
  }
}

.applications {
  @include no-bullets;
  padding-left: 0;
  margin: 0;

  li {
    border-bottom: 1px solid $lightest-cool-highlight;
    padding: 1em 0;

    &:last-child {
      border-bottom: none;
    }

    a:visited {
      color: #344355;
    }
  }

  .description {
    color: $font-color;
    margin-bottom: 0;
  }
}

.application .comments {
  float: right;
  color: $cool-highlight;
}

.appinfo {
  font-size: 0.8em;
  color: $cool-highlight;
}

.box {
  @include boxed-content;
  h4 {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.pagination {
  text-align: center;
  margin-bottom: 1em;
}

.application {
  a:hover,
  a:focus {
    text-decoration: none;

    .address {
      text-decoration: underline;
    }
  }
}

/* api */
div.apiitem {
  margin-bottom: 1.5em;

  h5 {
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 1em;
  }

  code {
    @include boxed-content;
    word-wrap: break-word;
    white-space: pre;
    margin-bottom: 1em;

    pre {
      margin: 0;
    }
  }

  code.long-lines {
    font-size: .9em;
  }
}

#hLicenseInfo {
  background: image_url("salicense.png") no-repeat right 1em;
  padding-top: 1em;
  padding-bottom: 12px;
}

body dl dt {
  margin-top: 0.5em;
  font-weight: normal;
}

dl.faq dt {
  color: $cool-highlight;
  font-weight: bold;
}

ul#subscribe {
  @include no-bullets;
  padding: 0.5em 0.5em 0 0.5em;
  margin-right: 0;
  border: solid 1px $cool-highlight;

  img {
    vertical-align: middle;
    margin-right: 0.5em;
  }

  li {
    margin-bottom: 0.5em;
  }
}

body {
  h3,
  h4,
  h5 {
    color: $cool-highlight;
  }

  h4 {
    margin-top: 1em;
  }
}

#application {
  p.dates,
  p.more,
  p.source {
    @include quiet;
    font-size: 0.8em;
  }
}

#application-stats {
  .no_alerted {
    text-align: center;
  }

  .button {
    display: block; // Fill the column
    text-align: center;
  }
}

body blockquote {
  margin: 1em 0;
  padding: 1em;
  border: 3px solid lighten($warm-highlight, 40%);
  border-left: none;
  border-right: none;
  color: $cool-highlight;
  line-height: 1.6em;
}

.match {
  @include highlight;
}

.sizes {
  @include no-bullets;
}

.contributors {
  @include no-bullets;
  margin-right: 0;
  padding-left: 0;

  li {
    width: 232px;
    display: inline-block;
    margin-bottom: 5px;
  }
}

form.address-search {
  margin-bottom: 1em;
}

.tweets,
.stats {
  a {
    &:link,
    &:visited {
        color: $darkest;
    }

    &:active,
    &:hover,
    &:focus {
      text-decoration: none;

      .body {
        color: $darkest;
      }
    }

    .number {
      color: $warm-highlight;
    }
  }

  h4 {
    font-weight: 500;
    margin: 0;
  }

  ul {
    @include no-bullets;
    padding-left: 0;
    margin: 0;
  }

  li {
    border-bottom: 1px solid $lightest-cool-highlight;

    a {
      display: block;
      padding: .75em 0;
    }

    &:last-child {
      border: none;
    }
  }

  .date {
    font-size: 0.8em;
    color: $cool-highlight;
  }

  .cta {
    display: block;
    text-align: right;
    margin-top: .25em;

    &:link {
      text-decoration: underline;
    }
  }
}

.tweets {
  border-top: 1px solid $lightest-cool-highlight;
  padding-top: 1em;
}

.stats {
  background-color: $lightest-cool-highlight;

  li {
    border-color: #fff;
  }
}

.tweets {
  li > a {
    &:hover,
    &:focus {
      text-shadow: 0 1px 1px #fff;
      background-color: $lightest-cool-highlight;
    }
  }
}

// Social buttons
#social {
  text-align: center;

  .fb-like,
  .twitter-share-button {
    display: block;
  }

  .fb-like {
    margin-top: 1em;
  }

  .twitter-share-button {
    margin: 2em auto 0 auto;
  }
}

// Prototype of possible widget for signing up to email alerts
.widget-prototype {
  width: 700px;
  background: #f8f8f8;
  padding: 1em;
  border: 1px solid;

  #privacy {
    padding-left: 0;
  }

  .formtastic {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    border: none;

    .inline-hints {
      margin-left: 0;
    }

    .actions {
      padding-left: 0;
    }

    li label {
      display: none;
    }

    input {
      width: 100%;
    }
  }

  h3 {
    margin-bottom: 0.5em;
  }

  p {
    margin-bottom: 0;
  }
}

table.scraper_fields {
  font-size: 0.9em;
  table-layout: fixed;

  th {
    background: #e8e8e8;
  }

  td,
  th {
    border: 1px solid #ddd;
    padding: 0.5em;
  }

  td {
    background: #f8f8f8;
    vertical-align: top;

    p:last-child {
      margin-bottom: 0;
    }
  }

  td.field {
    color: $dark;
  }

  .field {
    width: 15%;
  }

  .error {
    width: 15%
  }

  .example {
    width: 30%;
  }
}

body pre {
  white-space: pre-wrap;
}

td pre {
  margin: 0 0;
}

.stats {
  a {
    text-decoration: none;
  }

  .number {
    display: block;
    font-weight: bold;
    font-size: 2em;
  }
}

// Style the autocomplete with a powered by Google logo as per the terms and conditions
ul.ui-autocomplete {
  background: image_url("powered-by-google-on-white.png") white no-repeat bottom right;
  padding-bottom: 10px;
}

#geolocate {
  visibility: hidden;
  font-size: 1em;
  margin-top: 0.5em;
  display: inline-block;
}

#application-info .button {
  margin-bottom: 2em;
}

ul.authorities {
  list-style: none;
  padding-left: 0;

  li {
    margin-bottom: 0.25em;
  }

  a {
    font-size: 1.1em;
  }

  .highlight {
    display: inline-block;
    padding: 0 .25em;
  }
}
