@import "compass/utilities/general/min";
@import "compass/utilities/links/hover-link";
@import "compass/utilities/lists/horizontal-list";

body {
  background-color: $content-background;
  font-weight: 400;
}

.main {
  background: $content-background;
}

// Transition links by colour
a {
  @include single-transition(color, .3s);
}

#header-wrapper {
  background-color: $dark;
}

// Layout elements - i.e. those on every page
#header {
  position: relative;

  h1 {
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 0;
    padding-top: .5em;

    a {
      text-decoration: none;
      text-shadow: -1px -1px 2px $dark;

      &:link, &:visited {
        color: $warm-highlight;
      }
      &:active, &:hover, &:focus {
        color: $light;
      }
    }
  }
  h2 {
    color: $lightest;
    font-weight: 300;
    font-size: .9em;
    text-shadow: -1px -1px 1px $dark;
  }
}
// Don't show stats by default
#stats {
  display: none;
}

#menu {
  font-size: .9em;

  ul {
    @include horizontal-list;

    li {
      padding: 0;
      @include inline-block;
    }
    li.selected a {
      color: $dark;
      background-color: $content-background;
    }
    li:last-child a {
      color: $warm-highlight;
    }
  }
  a {
    padding: .5em;
    display: block;
    text-decoration: none;
    @include single-transition(background-color, .5s);

    &:link, &:visited {
      color: #fff;
    }
    &:active, &:hover, &:focus {
      color: $dark;
      background-color: $content-background;
    }
  }
  abbr {
    border: none;
  }
}

body {
  &.c-applications .applications-link,
  &.c-alerts .alerts-link,
  &.c-static.a-faq .faq-link,
  &.c-authorities .authorities-link,
  &.c-static.a-get_involved .get-involved-link,
  &.c-api .api-link,
  &.c-static.a-donate .donate-link,
  &.c-static.a-about .about-link {
    a {
      color: $lightest;
      background: $background-overlay;
    }
  }
}

#content {
  @include clearfix;
  clear: both;
  position: relative;
  padding: 2em 0 1.5em 0;
}

.stats, .tweets, #footer {
  padding-top: 1em;
  padding-bottom: 1em;
}

#footer-wrapper {
  background-color: $warm-highlight;
}

#footer {
  color: $lightest;

  a {
    &:link, &:hover, &:visited {
      color: $light;
    }
    &:active, &:focus {
      color: $dark;
    }
  }
  h4, h5, {
    &, a:link {
      color: $lightest;
    }
  }
  h4 {
    margin-top: 0;
  }
  h5 {
    font-weight: normal;
    margin-bottom: 0;
  }
  ul {
    @include no-bullets;
    padding-left: 0;
    margin: 0;

    &.keepintouch {
      li {
        margin-bottom: 1.5em;
      }
      a {
        display: block;
      }
    }
  }
  li {
    color: $lightest;
  }
}

// Within content

.page-title {
  @extend h3;
}

p a, li a, span a, dd a, dt a, div a {
  @include hover-link;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $light-cool-highlight;
  margin: 1em 0;
  padding: 0;
}

.container {
  .button {
    @include button(simple, $lightest-cool-highlight);
    font-weight: normal;
  }
  .button-action {
    @include button(simple, $warm-highlight);
    font-weight: normal;
  }
  .button-active {
    $border-active:       adjust-color($lightest-cool-highlight, $saturation: 9%, $lightness: -14%);
    $inset-shadow-active: adjust-color($lightest-cool-highlight, $saturation: 7%, $lightness: -17%);

    border: 1px solid $border-active;
    box-shadow: inset 0 0 8px 4px $inset-shadow-active, inset 0 0 8px 4px $inset-shadow-active;
  }
  .button-large {
    font-size: 19px;
  }
  a.button-action, input.button-action {
    color: #fff;
  }
  dd {
    margin-left: 0;
  }
}

.disclaimer {
  @include quiet;
  font-size: 0.8em;
}

#map_div, #pano {
  margin-bottom: 1em;
}

/* Attention grabbers */
body .container .attention {
  @include boxed-content;
  padding: 1em;
  margin-bottom: 1em;

  h4 {
    margin-top: 0;
  }
}

#privacy, #spnBeta, .explanation {
  @include quiet;
  font-size: 0.8em;

  em {
    font-weight: bold;
    font-style: normal;
  }
}

.list-options {
  @include no-bullets;
  padding-left: 0;
  margin: 0 0 1.5em 0;

  li {
    display: inline;

    // Label for the options
    &:first-child {
      display: block;
      margin-bottom: .75em;
    }
  }
  b {
    margin-right: .5em;
  }
}

.applications {
  @include no-bullets;
  padding-left: 0;
  margin: 0;

  li {
    border-bottom: 1px solid $lightest-cool-highlight;
    padding: 1em 0;

    &:last-child {
      border-bottom: none;
    }
  }
  .description {
    color: $font-color;
    margin-bottom: 0;
  }
}
.appinfo {
  font-size: 0.8em;
  color: $cool-highlight;
}

.pagination {
  text-align: center;
  margin-bottom: 1em;
}

.application {
  a:hover, a:focus {
    text-decoration: none;

    .address {
      text-decoration: underline;
    }
  }
}

/* api */
div.apiitem {
  margin-bottom: 1.5em;

  h5 {
    margin-bottom: 1em;
  }
  p {
    margin-bottom: 1em;
  }
  code {
    @include boxed-content;
    word-wrap: break-word;
    margin-bottom: 1em;

    pre {
      margin: 0;
    }
  }
  code.long-lines {
    font-size: .9em;
  }
}

#hLicenseInfo {
  background: image_url("salicense.png") no-repeat right 1em;
  padding-top: 1em;
  padding-bottom: 12px;
}

body dl dt {
  margin-top: 0.5em;
  font-weight: normal;
}

dl.faq dt {
  color: $cool-highlight;
  font-weight: bold;
}

ul#subscribe {
  @include no-bullets;
  padding: 0.5em 0.5em 0 0.5em;
  margin-right: 0;
  border: solid 1px $cool-highlight;

  img {
    vertical-align: middle;
    margin-right: 0.5em;
  }
  li {
    margin-bottom: 0.5em;
  }
}

ol#comments {
  @include no-bullets;
  padding-left: 0;
  margin-right: 0;
}

.panel {
  border: 1px $lightest-cool-highlight solid;
}

.panel-link {
  color: $font-color;

  &:hover,
  &:focus {
    text-decoration: none;

    .panel-heading {
      background-color: darken($lightest-cool-highlight, 10%);
    }
  }

  .panel-heading {
    background-color: $lightest-cool-highlight;
    -webkit-transition: background .1s linear;
    -moz-transition: background .1s linear;
    -o-transition: background .1s linear;
    -ms-transition: background .1s linear;
    transition: background .1s linear;
  }
}

.comment {
  margin-bottom: 2.5em;
  background: #fafafa;

  a &:hover {
    background: #f0f0f0;
    -webkit-transition: background .1s linear;
    -moz-transition: background .1s linear;
    -o-transition: background .1s linear;
    -ms-transition: background .1s linear;
    transition: background .1s linear;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.comment-text {
  font-style: normal;
  margin: 0;
  border: 0;
  color: $font-color;
}

.comment-address {
  margin: 0;
  font-size: 1em;
}

.comment-meta {
  @include quiet;
}

.comment-address,
.comment-text,
.comment-meta {
  padding: .75em 1em;
}

.comment-author {
  display: block;

  @include at-breakpoint(40em) {
    display: inline-block;
  }
}

.comment-time {
  font-size: 0.9em;
}

.comment-report {
  @include quiet;
  margin-top: .15em;
  float: right;
  font-size: 0.9em;
  text-decoration: underline;
}

body {
  h3, h4, h5 {
    color: $cool-highlight;
  }
  h4 {
    margin-top: 1em;
  }
}

#application {
  p.dates, p.more, p.source {
    @include quiet;
    font-size: 0.8em;
  }
}

#application-stats {
  .no_alerted {
    text-align: center;
  }
  .button {
    display: block; // Fill the column
    text-align: center;
  }
}

body blockquote {
  margin: 1em 0;
  padding: 1em;
  border: 3px solid lighten($warm-highlight, 40%);
  border-left: none;
  border-right: none;
  color: $cool-highlight;
  line-height: 1.6em;
}

.match {
  @include highlight;
}

.sizes {
  @include no-bullets;
}

.contributors {
  @include no-bullets;
  margin-right: 0;
  padding-left: 0;

  li {
    width: 232px;
    display: inline-block;
    margin-bottom: 5px;
  }
}

form.address-search {
  margin-bottom: 1em;
}

.news, .tweets, .stats {
  a {
    &:link, &:visited {
        color: $darkest;
    }
    &:active, &:hover, &:focus {
      text-decoration: none;

      .body {
        color: $darkest;
      }
    }
    .number {
      color: $warm-highlight;
    }
  }
  h4 {
    font-weight: 500;
    margin: 0;
  }
  ul {
    @include no-bullets;
    padding-left: 0;
    margin: 0;
  }
  li {
    border-bottom: 1px solid $lightest-cool-highlight;

    a {
      display: block;
      padding: .75em 0;
    }
    &:last-child {
      border: none;
    }
  }
  .date {
    font-size: 0.8em;
    color: $cool-highlight;
  }
  .cta {
    display: block;
    text-align: right;
    margin-top: .25em;

    &:link {
      text-decoration: underline;
    }
  }
}
.news {
  border-top: 1px solid $lightest-cool-highlight;
  padding-top: 1em;
}

.tweets, .stats {
  background-color: $lightest-cool-highlight;

  li {
    border-color: #fff;
  }
}

.notice a {
  color: $link_color !important;
}

// Social buttons
#social {
  text-align: center;

  .fb-like, .twitter-share-button {
    display: block;
  }
  .fb-like {
    margin-top: 1em;
  }
  .twitter-share-button {
    margin: 2em auto 0 auto;
  }
}

// Style chart on authority detail page
#chart {
  text {
    fill: gray;
    font-size: 10px;
  }
}

// Prototype of possible widget for signing up to email alerts
.widget-prototype {
  width: 700px;
  background: #f8f8f8;
  padding: 1em;
  border: 1px solid;

  #privacy {
    padding-left: 0;
  }
  .formtastic {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    border: none;

    .inline-hints {
      margin-left: 0;
    }
    .actions {
      padding-left: 0;
    }
    li label {
      display: none;
    }
    input {
      width: 100%;
    }
  }
  h3 {
    margin-bottom: 0.5em;
  }
  p {
    margin-bottom: 0;
  }
}

table.scraper_fields {
  font-size: 0.9em;
  table-layout: fixed;

  th {
    background: #e8e8e8;
  }
  td, th {
    border: 1px solid #ddd;
    padding: 0.5em;
  }
  td {
    background: #f8f8f8;

    p:last-child {
      margin-bottom: 0;
    }
    vertical-align: top;
  }
  td.field {
    color: $dark;
  }
  .field {
    width: 15%;
  }
  .error {
    width: 15%
  }
  .example {
    width: 30%;
  }
}

body pre {
  white-space: pre-wrap;
}

td pre {
  margin: 0 0;
}

.stats {
  a {
    text-decoration: none;
  }
  .number {
    display: block;
    font-weight: bold;
    font-size: 2em;
  }
}

// Style the autocomplete with a powered by Google logo as per the terms and conditions
ul.ui-autocomplete {
  background: image_url("powered-by-google-on-white.png") white no-repeat bottom right;
  padding-bottom: 10px;
}

#geolocate {
  visibility: hidden;
  font-size: 1em;
  margin-top: 0.5em;
  display: inline-block;
}

#application-info .button {
  margin-bottom: 2em;
}

ul.authorities {
  list-style: none;
  padding-left: 0;
}
