.registration-page {
  padding-bottom: 2em;

  @include at-breakpoint(40em) {
    padding-bottom: 4em;
  }

  @include at-breakpoint(60em) {
    padding-bottom: 6em;
  }
}

.registration-intro {
  text-align: center;

  h1 {
    font-size: 2.5em;
  }

  p {
    font-size: 1.1em;
  }

  @include at-breakpoint(40em) {
    @include span-columns(10, 12);
    margin: 2em auto 0;
    float: none;

    p {
      font-size: 1.25em;
    }
  }

  @include at-breakpoint(60em) {
    @include span-columns(8, 12);
    margin: 2em auto 0;
    float: none;
  }
}

#button-pro-signup {
  @include box-sizing(border-box);
  margin: 0 auto 1em;
  border: 0;
  padding: 1em;
  text-align: center;
  font-size: 1.25em;
  font-family: $blueprint-font-family;
  -webkit-appearance: none;
  background: $light;
  text-shadow: 0 1px 0 $lightest;

  &:hover {
    cursor: pointer;
  }

  strong {
    display: block;
  }
}

.registration-price-container {
  margin-bottom: .5em;
}

.registration-price {
  font-size: 2.5em;
}

.registration-price-per {
  font-size: 1.25em;
}

.form-processing {
  margin: 0 auto 1em;
  padding: 1em 0 1em;
  font-size: 1.5em;
  font-weight: bold;
}
