.registration-page,
.registration-success-page {
  padding-bottom: 2em;

  @include at-breakpoint(40em) {
    padding-bottom: 4em;
  }

  @include at-breakpoint(60em) {
    padding-bottom: 6em;
  }

  p {
    font-size: 1.1em;

    @include at-breakpoint(40em) {
      font-size: 1.3em;
    }
  }
}

.registration-success-page {
  @include at-breakpoint(40em) {
    @include span-columns(11, 12);
    margin: 2em auto 0;
    float: none;
  }

  @include at-breakpoint(60em) {
    @include span-columns(10, 12);
    margin: 2em auto 0;
    float: none;
  }
}

p.form-processing {
  margin: 0 auto 1em;
  padding: 1em 0 .7em;
  font-size: 1.25em;
  font-weight: bold;
}
