.registration-page {
  padding-bottom: 2em;

  @include at-breakpoint(40em) {
    padding-bottom: 4em;
  }

  @include at-breakpoint(60em) {
    padding-bottom: 6em;
  }
}

.registration-intro {
  text-align: center;

  h1 {
    font-size: 2.5em;
  }

  p {
    font-size: 1.1em;
  }

  @include at-breakpoint(40em) {
    @include span-columns(11, 12);
    margin: 2em auto 0;
    float: none;

    p {
      font-size: 1.25em;
    }
  }
}

#button-pro-signup {
  @include box-sizing(border-box);
  margin: 0 auto 1em;
  text-align: center;
  font-size: 1.25em;
  font-family: $blueprint-font-family;

  strong {
    display: block;
  }

  .registration-price {
    font-size: 2em;
  }

  .registration-price-per {
    font-size: 1.25em;
  }
}
