.registration-intro {
  text-align: center;

  h1 {
    font-size: 2.5em;
  }

  p {
    font-size: 1.1em;
  }
}

.registration-form {
  * {
    @include box-sizing(border-box);
  }

  legend {
    margin: 0 auto 1em;
    text-align: center;
    font-size: 1.25em;

    strong {
      display: block;
    }

    .registration-price {
      font-size: 2em;
    }

    .registration-price-per {
      font-size: 1.25em;
    }
  }

  label {
    margin-bottom: .25em;
    display: block;
    font-size: 1.1em;
    font-weight: bold;
  }

  input {
    margin-bottom: 1.25em;
    width: 100%;
    font-size: 1.2em;
    padding: .5em;
    display: block;
  }

  .button-action {
    margin: 1em auto 0;
    padding: .5em 1.75em;
    display: block;
  }
}
