<script props>
  module.exports = {
    address: props.address,
    map: props.map,
    url: props.url
  }
</script>

<if condition="url">
  <a href="{{{ url }}}" class="no-underline group">
    <table class="w-full p-8 bg-white shadow-md">
      <tr>
        <td valign="top" class="xs:w-full xs:inline-block">
          <h2 class="m-0 text-lg font-bold underline line-clamp-1 text-fuchsia group-hover:text-fuchsia-darker dark-mode:text-white" style="text-decoration:underline">
            <span class="group-focus:bg-sun-yellow">{{{ address }}}</span>
          </h2>
          <p class="my-0 text-navy dark-mode:text-white line-clamp-6"><content /></p>
        </td>
        <!-- TODO: Need a space between the text and the map -->
        <td class="w-[150px] xs:w-full xs:inline-block xs:mt-4" valign="top">
          <img alt="Map of {{{ address }}}" src="{{{ map }}}" width="150" height="150">
        </td>
      </tr>
    </table>
  </a>  
</if>
<else>
  <table>
    <tr>
      <td class="w-[180px] xs:w-full xs:inline-block" valign="top">
        <img alt="Map of {{{ address }}}" src="{{{ map }}}" width="150" height="150">
      </td>
      <td valign="top" class="h-[150px] xs:w-full xs:inline-block xs:mt-4">
        <h2 class="m-0 text-lg font-bold underline line-clamp-1 text-fuchsia group-hover:text-fuchsia-darker dark-mode:text-white" style="text-decoration:underline">
          <span class="group-focus:bg-sun-yellow">{{{ address }}}</span>
        </h2>
        <p class="mt-0 text-navy line-clamp-6"><content /></p>
      </td>
    </tr>
  </table>  
</else>
