<script props>
  module.exports = {
    address: props.address
  }
</script>

<a href="#" class="no-underline group">
  <table>
    <tr>
      <td class="w-[180px] xs:w-full xs:inline-block" valign="top">
        <img alt="Map of {{ address }}" src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyCmdTv4mqSQKa2BfUvQUU3mEuj6vxnEiHI&amp;maptype=roadmap&amp;markers=color%3Ared%7C-33.90413%2C151.16163&amp;size=150x150&amp;zoom=16&amp;signature=i7QiFQ-M5phHMw9HKccQv-gReEc=" width="150" height="150">
      </td>
      <td valign="top" class="h-[150px] xs:w-full xs:inline-block xs:mt-4">
        <a href="#" class="no-underline group-hover:underline text-fuchsia dark-mode:text-white">
          <h2 class="m-0 text-lg font-bold">{{ address }}</h2>
        </a>
        <p class="mt-0">
          <content />
        </p>
      </td>
    </tr>
  </table>  
</a>
