<script props>
  module.exports = {
    url: props.url,
    icon: props.icon,
  }
</script>

<a href="{{{ url }}}" class="no-underline group">
  <table class="w-full px-6 py-4 bg-white text-navy dark-mode:bg-black">
    <tr>
      <td class="w-[36px]">
        <img src="{{{ icon }}}">
      </td>
      <td>
        <span class="font-bold underline text-fuchsia group-hover:text-fuchsia-darker group-focus:bg-sun-yellow" style="text-decoration:underline">
          <content />
        </span>    
      </td>
    </tr>
  </table>
</a>
