<script props>
  module.exports = {
    name: props.name,
    url: props.url,
    comment_as_paragraphs: props.comment_as_paragraphs,
    application_address: props.application_address,
    application_map: props.application_map,
    application_description: props.application_description
  }
</script>

<x-box>
  <p class="mt-0 text-navy dark-mode:text-white">
    <a href="{{{ url }}}" class="no-underline text-navy dark-mode:text-white">
      {{{ name }}} commented:
    </a>
  </p>
  <table class="mt-4 bg-white dark-mode:bg-black text-navy dark-mode:text-white">
    <tr>
      <td valign="top" class="pt-2 pr-4 text-7xl xs:block xs:h-8">
        <a href="{{{ url }}}" class="no-underline text-navy dark-mode:text-white">
          ”
        </a>
      </td>
      <td valign="top" class="xs:block">
        <!-- Doing this weird thing here to avoid p tags being inside of a tags -->
        <% {{{ comment_as_paragraphs }}}.each do |p| %>
          <p>
            <a href="{{{ url }}}" class="no-underline text-navy dark-mode:text-white">
              <%= p %>
            </a>
          </p>
        <% end %>
        <!-- TODO: "Comment made on" is not currently in the right place -->
        <p class="mt-8 mb-6">
          <a href="{{{ url }}}" class="no-underline text-navy dark-mode:text-white">
            Comment made on:
          </a>
        </p>
        <x-application address="{{{ application_address }}}"
                       map="{{{ application_map }}}"
                       map_alignment="left"
                       url="{{{ url }}}"
                       description="{{{ application_description }}}" />
      </td>
    </tr>
  </table>
</x-box>
