<script props>
  module.exports = {
    name: props.name
  }
</script>

<div class="p-8 border border-solid border-light-grey">
  <p class="mt-0">{{ name }} commented:</p>
  <table class="mt-4">
    <tr>
      <td valign="top" class="pt-2 pr-4 text-7xl">
        ”
      </td>
      <td valign="top">
        <content />
        <p class="mt-8 mb-6">
          Comment made on:
        </p>
        <slot:application />
        <p class="mt-6">
          <a href="#" class="text-2xl font-bold no-underline hover:underline text-fuchsia">View comment on Planning Alerts</a>
        </p>
      </td>
    </tr>
  </table>
</div>
