<script props>
  module.exports = {
    address: props.address,
    name: props.name,
    distance: props.distance
  }
</script>

<div class="p-8 border border-solid border-light-grey">
  <p class="mt-0">{{ name }} commented:</p>
  <table class="mt-4">
    <tr>
      <td valign="top" class="pt-2 pr-4 text-7xl">
        ”
      </td>
      <td valign="top">
        <content />
        <p class="mt-8 mb-1">
          Comment made on:
        </p>
        <p class="m-0 font-bold">
          {{ address }}
        </p>
        <p class="mt-1">
          {{ distance }} away
        </p>
        <p>
          <slot:description />
        </p>
        <p class="mt-6">
          <a href="#" class="text-2xl font-bold no-underline text-orange">View comment on Planning Alerts</a>
        </p>
      </td>
    </tr>
  </table>
</div>
