<p class="mt-0">
  This email was brought to you by the Planning Alerts team.
</p>
<p>
  <strong>Planning Alerts</strong>
  is a searchable collection of Australian local government planning applications, where anyone can find out what is being built and knocked down in their area.
</p>
<p>
  The collection
  is part of the
  <a href="https://www.oaf.org.au?utm_medium=email&utm_source=footer&utm_campaign=pa" class="font-bold underline text-fuchsia hover:text-fuchsia-darker focus:bg-sun-yellow">
    OpenAustralia Foundation
  </a>, an independent charity.
</p>
<p>
  <a href="<%= documentation_contact_url(utm_medium: 'email', utm_source: 'footer') %>" class="font-bold underline text-fuchsia hover:text-fuchsia-darker focus:bg-sun-yellow">
    Contact us
  </a>
  if you have questions.
</p>
