<p class="mt-0">
  This email was brought to you by the Planning Alerts team.
</p>
<p>
  <strong>Planning Alerts</strong>
  is a free service where anyone can find out what is being built and knocked down in their area.
</p>
<p>
  The service
  is run by the independent charity
  <a href="https://www.oaf.org.au/" class="font-bold underline text-fuchsia hover:text-fuchsia-darker focus:bg-sun-yellow">
    OpenAustralia Foundation
  </a>.
</p>
<p>
  <a href="<%= documentation_contact_url %>" class="font-bold underline text-fuchsia hover:text-fuchsia-darker focus:bg-sun-yellow">
    Contact us
  </a>
  if you have questions.
</p>      
