---
title: <%= subject(@alert, @applications, @comments) %>
preheader: <%= preheader(@applications, @comments) %>
bodyClass: bg-light-grey dark-mode:bg-[#333]
permalink: ../app/views/_tailwind/alert_mailer/alert.html.erb
---

<x-standard-image-in-footer>
  <x-spacer height="56px" />
  <% @applications.each do |application| %>
    <x-application address="<%= application.address %>"
                   distance="<%= distance_and_heading_in_words(@alert.location, application.location) %>"
                   url="<%= application_url_with_tracking(id: application.id) %>"
                   map="<%= google_static_map_url(lat: application.lat, lng: application.lng, size: '150x150', key: :email) %>">
      <%= application.description %>
    </x-application>
    <x-spacer height="20px" />
    <% end %>
  <x-spacer height="8px" />
  <% @comments.each do |comment| %>
    <x-spacer height="16px" />
    <x-comment name="<%= comment.name %>"
               comment="<%= comment_as_html(comment.text) %>"
               url="<%= comment_url_with_tracking(comment:) %>"
               application_address="<%= comment.application.address %>"
               application_map="<%= google_static_map_url(lat: comment.application.lat, lng: comment.application.lng, size: '150x150', key: :email) %>"
               application_description="<%= comment.application.description %>" />
  <% end %>
  <!-- TODO: Style divider correctly -->
  <x-divider />
  <a href="<%= edit_profile_alert_url(@alert) %>" class="no-underline group">
    <table class="w-full px-6 py-4 bg-white text-navy dark-mode:bg-black">
      <tr>
        <td class="w-[36px]">
          <img src="<%= attachments['pencil.png'].url %>">
        </td>
        <td>
          <span class="font-bold underline text-fuchsia group-hover:text-fuchsia-darker group-focus:bg-sun-yellow" style="text-decoration:underline">
            Edit alert
          </span>    
        </td>
      </tr>
    </table>
  </a>
  <x-spacer height="8px" />
  <a href="<%= unsubscribe_alert_url(confirm_id: @alert.confirm_id) %>" class="no-underline group">
    <table class="w-full px-6 py-4 bg-white text-navy dark-mode:bg-black">
      <tr>
        <td class="w-[36px]">
          <img src="<%= attachments['trash.png'].url %>">
        </td>
        <td>
          <span class="font-bold underline text-fuchsia group-hover:text-fuchsia-darker group-focus:bg-sun-yellow" style="text-decoration:underline">
            Unsubscribe from alert
          </span>    
        </td>
      </tr>
    </table>
  </a>
</x-standard>
