---
<!-- TODO: Needs a new title and subject  -->
title: Confirmation instructions
preheader: "Thanks for getting onboard! (just confirming you're you)"
bodyClass: bg-white dark-mode:bg-[#333]
permalink: ../app/views/devise/mailer/confirmation_instructions.html.erb
---

<x-standard>
  <div class="text-center">
    <h1 class="text-4xl">Thanks for getting onboard!</h1>
    <x-spacer height="16px" />
    <x-button href="<%= confirmation_url(@resource, confirmation_token: @token) %>">
      Create my account
    </x-button>    
    <p>(just confirming you're you)</p>
    <x-spacer height="64px" />
    <img src="<%= attachments['illustration.png'].url %>" height="308">
    <x-spacer height="64px" />
    <x-ignore />
  </div>
</x-standard>
