---
title: Reset password instructions
preheader: "Please click the button below and follow the instructions. We'll have you up and running with a new password in no time."
bodyClass: bg-white dark-mode:bg-[#333]
---

<x-standard>
  <table>
    <tr>
      <td class="w-1/2">
        <p>Hello,</p>
        <p>
          We found 2 new planning applications for you near 89
          Bridge Rd, Richmond VIC 3121.
        </p>
        <p>Thanks,<br>Planning Alerts team</p>      
      </td>
      <td class="w-1/2" align="right">
        <img src="images/dancing-man.png">
      </td>
    </tr>
  </table>
</x-standard>
