---
title: 2 new planning applications near 89 Bridge Rd, Richmond VIC 3121
<!-- TODO: Use first application for the preHeader instead -->
preheader: "We found 2 new planning applications for you near 89 Bridge Rd, Richmond VIC 3121."
bodyClass: bg-white dark-mode:bg-[#333]
---

<x-standard>
  <table>
    <tr>
      <td class="w-1/2">
        <p>Hello,</p>
        <p>
          We found 2 new planning applications for you near 89
          Bridge Rd, Richmond VIC 3121.
        </p>
        <p>Thanks,<br>Planning Alerts team</p>      
      </td>
      <td class="w-1/2" align="right">
        <img src="images/dancing-man.png">
      </td>
    </tr>
  </table>
  <x-spacer height="32px" />
  <x-divider space-y="24px" class="bg-slate-200" />
  <table>
    <tr>
      <td class="w-[180px]" valign="top">
        <img alt="Map of 50 Illawarra Road Marrickville 2204" src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyCmdTv4mqSQKa2BfUvQUU3mEuj6vxnEiHI&amp;maptype=roadmap&amp;markers=color%3Ared%7C-33.90413%2C151.16163&amp;size=150x150&amp;zoom=16&amp;signature=i7QiFQ-M5phHMw9HKccQv-gReEc=" width="150" height="150">
      </td>
      <td valign="top" class="h-[150px]">
        <a href="#" class="text-navy dark-mode:text-white">
          <h2 class="m-0 text-lg font-bold">6 Kahibah Road, Umina Beach, NSW</h2>
        </a>
        <p class="mt-0">
          S4.55 to Modify Approved Dwelling and Garage including Deletion of Clerestory, Addition of Laminated Beam, Relocation of Laundry, Deletion of Stairs and&hellip;
        </p>
        <p class="mb-0">
          <a href="#" class="text-navy dark-mode:text-white">Add your own comment</a>
        </p>      
      </td>
    </tr>
  </table>
  <x-divider space-y="24px" class="bg-slate-200" />
  <table>
    <tr>
      <td class="w-[180px]" valign="top">
        <img alt="Map of 50 Illawarra Road Marrickville 2204" src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyCmdTv4mqSQKa2BfUvQUU3mEuj6vxnEiHI&amp;maptype=roadmap&amp;markers=color%3Ared%7C-33.90413%2C151.16163&amp;size=150x150&amp;zoom=16&amp;signature=i7QiFQ-M5phHMw9HKccQv-gReEc=" width="150" height="150">
      </td>
      <td valign="top">
        <a href="#" class="text-navy dark-mode:text-white">
          <h2 class="m-0 text-lg font-bold">6 Kahibah Road, Umina Beach, NSW</h2>
        </a>
        <p class="mt-0">
          Building subdivision
        </p>
        <p class="mb-0">
          <a href="#" class="text-navy dark-mode:text-white">Add your own comment</a>
        </p>      
      </td>
    </tr>
  </table>
  <x-divider space-y="24px" class="bg-slate-200" />
  <x-spacer height="16px" />
  <x-button href="#">
    <img src="images/pencil.png" class="pr-2">
    Modify this alert
  </x-button>
  <x-spacer height="8px" />
  <x-button.secondary href="#">
    <img src="images/trash.png" class="pr-2">
    Unsubscribe from this alert
  </x-button.secondary>
  <x-spacer height="48px" />
</x-standard>
