<x-main>
  <div class="font-sans text-2xl sm:px-4 text-navy">
    <table align="center">
      <tr>
        <td class="w-[552px] max-w-full">
          <p>Hello Matthew Landauer,</p>
          <p>Please click the button below and follow the instructions.
            We'll have you up and running with a new password in no time.
          </p>
          <p>Thanks,<br>Planning Alerts team</p>

          <x-spacer height="48px" />

          <x-button href="#">
            Reset password
          </x-button>

          <p>Didn't request this email? Then you can safely ignore it.</p>

          <x-divider space-y="32px" class="bg-slate-200" />

          <h2>About Planning Alerts</h2>
          <p>Planning Alerts is a free service run by the independent charity
            <a href="https://www.oaf.org.au/" class="text-navy">OpenAustralia Foundation</a>.
          </p>
        </td>
      </tr>
    </table>
  </div>
</x-main>