---
title: Reset password instructions
preheader: "Thanks for confirming you are you. Create a new password."
bodyClass: bg-white dark-mode:bg-[#333]
permalink: ../app/views/_tailwind/devise/mailer/reset_password_instructions.html.erb
---

<x-standard>
  <div class="text-center">
    <h1 class="text-4xl">Thanks for confirming you are you</h1>
    <x-spacer height="16px" />
    <x-button href="<%= edit_password_url(@resource, reset_password_token: @token) %>">
      Create a new password
    </x-button>
    <x-spacer height="64px" />
    <img src="<%= attachments['illustration.png'].url %>" height="213" class="sm:h-auto">
    <x-spacer height="64px" />
    <x-ignore />
  </div>
</x-standard>
