%p
  We ask for your address when you comment on an application so that we can pass it on to the local authority.
  To maintain your privacy online we do <b>not</b> display your address on the site.
%p
  We do this because the vast majority of planning authorities ask for peoples' addresses to be
  included in comments on
  applications. There are a variety of reasons for this. Some councils will reply via letter even when
  the comment comes in via email. Also, the council may choose to take comments seriously only if they
  come from local residents.
