<p class="text-xl text-navy">
  We currently cover <%= percentage %>% of Australia's population
  within <%= count %> authorities.
  For this number we're only counting places where the main planning authority is covered.
  As an example, most of Victoria is covered by the SPEAR system but not all Victorian planning
  applications go through it. So, we don't include SPEAR in our population count.
</p>
