<div class="relative font-black text-7xl font-display text-warm-grey">
  <%= image_tag "tailwind/illustration/coverage.svg", alt: "" %>
  <div class="absolute left-16 top-14">
    <%= percentage %><span class="text-4xl">%</span>
  </div>
</div>
