%h4 Under the Hood
%p
  Are you a developer?
%p
  The information comes via our scraping platform #{link_to "morph.io", "https://morph.io"}. You are able to fork scrapers and collaborate
  via Git. See #{link_to authority.morph_url, authority.morph_url}
