- content_for :page_title, "Broken Scrapers"
%h3 Latest planning applications
%p
  If PlanningAlerts has not received a planning application for over
  %span.highlight two weeks
  from an authority, this may indicate an issue with the scraper.
%ul.nobullets
  - @authorities.each do |authority|
    %li
      The latest application from the
      = link_to authority.full_name, authority_applications_url(authority.short_name_encoded)
      was
      -if authority.broken?
        %span.highlight= time_ago_in_words(authority.latest_application)
      -else
        = time_ago_in_words(authority.latest_application)
      ago
