<li class="py-4">
  <table class="text-2xl text-navy">
    <tbody>
      <% application_version.changed_data_attributes.each do |key, value| %>
        <tr>
          <th class="block w-64 align-top"><%= key.humanize %></th>
          <td><%= value %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</li>
