<div class="dropdown" x-data="{open: false}">
  <button class="dropdown-toggle" x-on:click="open = !open">
    <%= button %>
    <%= image_tag "standard/chevron-up-down.svg", size: "16x16" %>
  </button>
  <%= menu %>
</div>
