// Place all the styles related to the atdis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.atdis-specification {
  table {
    font-size: 0.9em;
    th {
      background: #e8e8e8;
    }
    td, th {
      border: 1px solid #ddd;
      padding: 0.5em;
    }
    td {
      background: #f8f8f8;
      p:last-child {
        margin-bottom: 0;
      }
      vertical-align: top;
    }
    code {
      color: $warm-highlight;
    }
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

table.atdis.nested {
  td, th {
    padding: 0;
  }
  td.field, .value {
    padding: 0.5em;
  }
  margin-bottom: 0;
  .field {
    width: 20%
  }
}

table.atdis {
  font-size: 0.9em;
  table-layout: fixed;
  th {
    background: #e8e8e8;
  }
  td, th {
    border: 1px solid #ddd;
    padding: 0.5em;
  }
  td {
    background: #f8f8f8;
    p:last-child {
      margin-bottom: 0;
    }
    vertical-align: top;
  }
  td.field {
    color: $warm-highlight;
  }
  .field {
    width: 15%;
  }
  .error {
    width: 15%
  }
  .example {
    width: 30%;
  }
}
