$cyan: #d0ffff;
$yellow: #fcfbbd;
$orange: #f2630c;
$dark_gray: #878787;
$mid_gray: #989898;
$light_gray: #eeeeee;
$lightest_gray: #fafafa;
$teal_blue: #2C9EB5;

.box {
  margin: 6px 11px 25px;
  padding: 15px;
}

body {
  font-family: sans-serif;
}

a {
  color: $orange;
}

.header {
  background: $dark_gray;
  padding: 5px 0 5px 10px;

  a {
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
  }
}

.trial-banner {
  margin-top: 0;
  background-color: $teal_blue;
  color: #ffffff;
  font-size: 14px;

  a {
    color: #ffffff;
    text-decoration: underline;
  }

  p {
    margin: 0;
    padding-right: 16px;
    display: inline-block;

    @media only screen and (max-width: 480px) {
      padding-bottom: 14px;
      display: block;
    }
  }
}

.trial-banner-button {
  float: right;

  @media only screen and (max-width: 480px) {
    float: none;
  }
}

.advert {
  background: $cyan;
}

.comments-header, .applications-header {
  background: $yellow;
}

.comment {
  margin-left: 15px;
  margin-right: 15px;
  background: $lightest_gray;
  span {
    color: $mid_gray;
  }
  a {
    font-weight: bold;
  }
}

.applications-more {
  padding-left: 15px;
}

.application {
  background: $light_gray;
  .address {
    padding-bottom: 5px;
    a {
      font-size: 18px;
      font-weight: bold;
    }
  }
  .map {
    padding: 5px;
    width: 155px;
  }
  .streetview {
    padding: 5px;
  }
  .description {
    vertical-align: top;
  }
}

.footer-outer {
  border-top: solid 3px $orange;
  .footer-inner {
    padding-left: 15px; padding-top: 5px;
  }
}
