@import "partials/colours";
$cyan: #d0ffff;
$yellow: #fcfbbd;
$orange: #f2630c;
$dark_gray: #878787;
$mid_gray: #505050;
$light_gray: $lightest-cool-highlight;
$lightest_gray: #fafafa;
$dark_blue: $dark;

.box {
  margin-top: 6px;
  margin-right: 11px;
  margin-bottom: 25px;
  margin-left: 11px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

body {
  font-family: sans-serif;
}

a {
  color: $orange;
}

.header {
  background: $dark_gray;
  padding-top: 5px;
  padding-right: 0;
  padding-bottom: 5px;
  padding-left: 10px;

  a {
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
  }
}

.trial-banner {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 25px;
  padding-top: 0;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  background-color: $dark_blue !important;
  color: #ffffff;
  font-size: 14px;

  @media only screen and (max-width: 480px) {
    font-size: 15px;
  }

  a {
    color: #ffffff !important;
    text-decoration: underline;
  }

  p {
    margin: 0;
    padding-top: 21px;
    float: left;
    color: #ffffff;
  }
}

.trial-banner-button-container {
  padding-top: 15px;
  padding-right: 16px;
  float: left;
}

.trial-banner-button {
  display: inline-block;
  border-radius: 5px;
  padding-top: 6px;
  padding-right: 10px;
  padding-bottom: 6px;
  padding-left: 10px;
  background-color: $orange;
  color: #ffffff;
  text-decoration: none !important;

  @media only screen and (max-width: 480px) {
    font-size: 16px;
  }

  &:hover,
  &:focus {
    background-color: lighten($orange, 20%);
  }
}

.advert {
  background: $cyan;
}

.comments-header,
.applications-header {
  background: $yellow;
}

.comment {
  background: $lightest_gray;
  border-width: 1px;
  border-style: solid;
  border-color: $light_gray;

  a {
    font-weight: bold;
  }

  p {
    margin-top: 0;
    margin-bottom: 15px;
    margin-bottom: 1em;
  }
}

.comment-location {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: normal;
}

.comment-meta {
  span {
    color: $mid_gray;
  }
}

.comment-author,
.comment-recipient {
  display: inline-block;
  font-weight: bold;
}

.applications-more {
  padding-left: 15px;
}

.application {
  background: $light_gray;

  .address {
    padding-bottom: 5px;

    a {
      font-size: 18px;
      font-weight: bold;
    }
  }

  .map {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    width: 155px;
  }

  .streetview {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }

  .description {
    vertical-align: top;
  }
}

.expired-subscription-message {
  h1 {
    margin-top: 0;
    font-size: 24px;
    color: #303030;
    font-weight: normal;
  }
}

.footer-outer {
  border-top: solid 3px $orange;

  .footer-inner {
    padding-top: 5px;
    padding-left: 15px;
  }
}
