$cyan: #d0ffff;
$yellow: #fcfbbd;
$orange: #f2630c;
$dark_gray: #878787;
$mid_gray: #505050;
$light_gray: #e7e7e7;
$lightest_gray: #fafafa;
$dark_blue: #1d3d61;

$base-email-layout-unit: 15px;

.box {
  margin-top: 6px;
  margin-right: 0;
  margin-bottom: 25px;
  margin-left: 0;
  padding-top: $base-email-layout-unit;
  padding-right: $base-email-layout-unit;
  padding-bottom: $base-email-layout-unit;
  padding-left: $base-email-layout-unit;
}

.module {
  margin-top: 6px;
  margin-right: 0;
  margin-bottom: 25px;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.panel-body {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: $base-email-layout-unit;
  padding-right: $base-email-layout-unit;
  padding-bottom: $base-email-layout-unit;
  padding-left: $base-email-layout-unit;
}

body {
  font-family: sans-serif;
}

a {
  color: $orange;
}

.header {
  background: $dark_gray;
  padding-top: 5px;
  padding-right: 0;
  padding-bottom: 5px;
  padding-left: 10px;

  a {
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
  }
}

@import "partials/email_subscriptions";

.activate-account { 
  background-color: #222;
  color: white;
  border-radius: 10px;
}

.advert {
  background: $cyan;
}

.comments-header,
.applications-header {
  background: $yellow;
}

@import "partials/email_comments";

@import "partials/email_applications";

.expired-subscription-message {
  h1 {
    margin-top: 0;
    font-size: 24px;
    color: #303030;
    font-weight: normal;
  }
}

.footer-outer {
  border-top: solid 3px $orange;

  .footer-inner {
    padding-top: 5px;
    padding-left: $base-email-layout-unit;
  }
}
