$cyan: #d0ffff;
$dark_red: #a60201;
$yellow: #fcfbbd;
$orange: #f2630c;
$dark_gray: #878787;
$mid_gray: #989898;
$light_gray: #eeeeee;
$lightest_gray: #fafafa;

.box {
  margin: 6px 11px 25px;
  padding: 15px;
}

body {
  font-family: sans-serif;
}

.header {
  background: $dark_gray;
  padding: 5px 0 5px 10px;
  margin-bottom: 5px;
  a {
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
  }
}

.advert {
  background: $cyan;
  a {
    color: $dark_red;
  }
}

.comments-header, .applications-header {
  background: $yellow;
}

.comment {
  margin-left: 15px;
  margin-right: 15px;
  background: $lightest_gray;
  span {
    color: $mid_gray;
  }
  a {
    color: $orange;
    font-weight: bold;
  }
}

.applications-more {
  padding-left: 15px;
}

.application {
  background: $light_gray;
  .address {
    padding-bottom: 5px;
    a {
      font-size: 18px;
      font-weight: bold;
      color: $orange;
    }
  }
  .map {
    padding: 5px;
    width: 155px;
  }
  .streetview {
    padding: 5px;
  }
  .description {
    vertical-align: top;
  }
  .add-comment a {
    color: $orange;
  }
}

.footer-outer {
  border-top: solid 3px $orange;
  .footer-inner {
    padding-left: 15px; padding-top: 5px;
    a {
      color: $orange;
    }
  }
}
