@import "blueprint";

//Recommended Blueprint configuration with scoping and semantic layout:
body {
  @include blueprint-print(true); }

@media print {
  
  #menu, 
  #comments-area, 
  #sidebar #alert, 
  #stats-wrapper, 
  #donations-wrapper, 
  #footer-wrapper, 
  #application .button,
  #social,
  #statsbanner {
    display: none;
  }

  .gmnoprint {
    display: none;
  }

  #map_div, #pano {
    float: left;
    width: 312px;
    height: 330px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .description {
    clear: both;
  }
}
