// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint/typography";
@import "blueprint/utilities";
@import "blueprint/interaction";

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-interaction;
}

@import "bourbon";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
@import "partials/grid";
@import "partials/comments";
@import "partials/councillors";
@import "partials/flash_messages";
@import "partials/charts";
@import "partials/backers";

@import "atdis";
@import "jquery-ui/core";
@import "jquery-ui/datepicker";
@import "jquery-ui/theme";

@import "jquery-ui/autocomplete";
@import "jquery-ui/menu";

@media screen {
  .print-media-only { 
    display: none;
  }
}
