:markdown
  <h4 id="section4.3.5">4.3.5  Documents [Mandatory]</h4>

  The `documents` record contains a list of references (as links) to documents that relate to the application. The `documents` record must include a list of documents, where each document has a `ref`, `title` and a link (in the form of a URL) to the location where the document can be downloaded.

  <table>
  <tr><th>M/O</th><th colspan=2>Field</th><th>Notes</th>
  </tr>
  <tr><td>M </td><td><code>documents</code></td><td></td><td>Composite record containing a list of documents for the application</td>
  </tr>
  <tr><td>M</td><td></td><td><code>ref</code></td><td>Internal reference of document for this application</td>
  </tr>
  <tr><td>M</td><td></td><td><code>title</code></td><td> Short, human readable title of the document</td>
  </tr>
   <tr><td>M</td><td></td><td><code>document_url</code></td><td>URL to location of document for download</td><tr>
   </table>
