:markdown
  <h4 id="section4.3.8">4.3.8 Date Formats</h4>

  Any field within the schema of the form `*_date` or `timestamp` should be treated as an ISO-8601 date format. See: [http://www.w3.org/TR/NOTE-datetime](http://www.w3.org/TR/NOTE-datetime) for details.
