:markdown
  <h4 id="section4.3.3">4.3.3 Locations [Mandatory]</h4>

  The `locations` record is designed to provide consumers with information about the geographic locations of the development application. Because not all Authorities have access to geographic information for their development applications, parts of this record are optional. The feed must include the `address` and `land_title_ref` attributes within each location record.

  It is mandatory that feeds provide the location record with the `address` and `land_title_ref` fields, and it is anticipated that future versions of the Specification will promote the `coordinates` field into mandatory compliance.

  Because some applications cover multiple land parcels, the location record is comprised of a list of location blocks under a single locations list field.



%table
  %tr
    %th M/O
    %th{ colspan: 4 } Field
    %th Notes
  %tr
    %td M
    %td
      %code locations
    %td
    %td
    %td
    %td Composite record containing list of locations related to this app
  %tr
    %td M
    %td
    %td
      %code address
    %td
    %td
    %td Human readable street address for the application
  %tr
    %td M
    %td
    %td
    %td
      %code street
    %td
    %td Street name for land parcel
  %tr
    %td M
    %td
    %td
    %td
      %code suburb
    %td
    %td Suburb name for land parcel
  %tr
    %td M
    %td
    %td
    %td
      %code postcode
    %td
    %td Postcode for land parcel
  %tr
    %td M
    %td
    %td
    %td
      %code state
    %td
    %td State for land parcel
  %tr
    %td M
    %td
    %td
      %code land_title_ref
    %td
    %td
    %td Composite record containing Land Title Office references
  %tr
    %td M
    %td
    %td
    %td
      %code torrens | other
    %td
    %td Type of land title reference: torrens | other
  %tr
    %td M
    %td
    %td
    %td
    %td
      %code lot
    %td Lot number
  %tr
    %td M
    %td
    %td
    %td
    %td
      %code section
    %td Section number, or “null”
  %tr
    %td M
    %td
    %td
    %td
    %td
      %code dpsp_id
    %td DP/SP identifier
  %tr
    %td O
    %td
    %td
      %code geometry
    %td
    %td
    %td Composite record containing geographic coordinates (GeoJSON format)

:markdown
  **Notes**

  * The `locations` record must contain at least one `location` field, but can contain more than one.

  * The contents of `land_title_ref` can be either `torrens` or `other`. In the case of `torrens`, the field must
  include a specification of `lot`, `section` and `dpsp_id`. In the case of other the specification can include
  whatever field values are appropriate for that type.

  * In each case the values for `lot`, `section` and `dpsp_id` should all be captured as `strings`.

  * When used, GPS coordinates must make use of the WGS84 datum as per *"Earth Gravitational Model 2008
  (EGM2008)”*. See: [http://earth-info.nga.mil/GandG/wgs84/gravitymod/egm2008/index.html](http://earth-info.nga.mil/GandG/wgs84/gravitymod/egm2008/index.html) for details.

  * The format for geographic coordinates must use the GeoJSON specification as per:
  [http://geojson.org/geojson-spec.html#geojson-objects](http://geojson.org/geojson-spec.html#geojson-objects)

  * The simplest compliant version of a geometry instance would be a `Point` of the form:

    ```
    { "type": "Point", "coordinates": [100.0, 0.0] }
    ```

    Point coordinates are in x, y order (easting, northing for projected coordinates, longitude, latitude for geographic coordinates). For more advanced geometric types, please refer to the GeoJSON specification.

  * As `geometry` is optional for the Location block in ATDIS-1.0.2, there is no requirement to specify the kinds of geometric data for an application. However, if a feed is supplying geometric data, then it must be formatted according to the GeoJSON specification.

  * In general, the `dpsp_id` will start with either the letters `SP` or `DP`, and be followed by a number, but there will be cases where this does not apply.

  * A title reference does not always include a section number. If the `section` value in `land_title_ref` is not available, then it should be populated with the value “`null`”.

  * When referencing a subdivision, Vendors and Councils should use the original parcel street numbers and/or lot references. In the case of a subdivision, then the pre- subdivision data should be used.
