:markdown
  <h4 id="section4.3.7">4.3.7 Extended [Optional]</h4>

  The `extended` record is specifically designed to allow ATDIS-1.0.2 compliant feeds to include any additional information that might be relevant to an application. The contents of the `extended` record is not specified, and left up to the ATDIS Vendor and Complying Authority to populate as they see fit. There are no mandatory or optional fields for the `extended` record. Consuming systems should expect its existence, but are not required to do anything with data contained within it.

  <table>
  <tr><th>M/O</th><th>Field</th><th>Notes</th>
  </tr>
  <tr><td colspan=3>Not Specified</td>
  </tr></table>
