:markdown
  <h3 id="#section4.1">4.1 Components of the specification</h3>

  Figure 2 presents the four high-level components of the Specification:

  ![Components of the specification](/assets/atdis/image_1.png)

  <p align="center">
  Figure 2: Components of the specification
  </p>

  * **Feed**: defines a publicly available source of application tracking data. For example, each complying Council would provide a single feed for application tracking data.
  * **Schema**: defines the data elements that make up individual application tracking records. Examples include "date", "location" and "reference".
  * **Use cases**: defines the agreed use cases for which ATDIS data can participate. Examples include "enquiries" and "subscriptions".
  * **Channels**: defines the channels over which ATDIS data can be delivered. Examples include RSS, REST/[JSON, XML] and Browser.
