:markdown
  <h4 id="section4.3.6">4.3.6  People [Optional]</h4>

  The `people` record contains a list of people that relate to the application. As an optional record type, this block can be populated as required by an LGA. However, if it the people record is included at all, then it is assumed to
  include a list of people, where each person has a `name` and a `role` indicating their responsibility with the application. Optionally, the person record can include contact information.

  <table>
  <tr><th>M/O</th><th colspan=2>Field</th><th>Notes</th>
  </tr>
  <tr><td>M </td><td><code>people</code></td><td></td><td>Composite record containing a list of people related to the app</td>
  </tr>
  <tr><td>M</td><td></td><td><code>name</code></td><td>Name of person related to the application</td>
  </tr>
  <tr><td>M</td><td></td><td><code>role</code></td><td> Authority-specific role type for the person with respect to the app</td>
  </tr>
   <tr><td>O</td><td></td><td><code>contact</code></td><td>Authority-specific contact information for the related person</td><tr>
   </table>
