- content_for :page_title, "ATDIS Specification"
%h2= yield :page_title

%p For ease of reference we're including selected excerpts from the full ATDIS specification here. The complete specification is available on Github (as part of the atdis ruby gem) in Microsoft Word format and PDF.

%ul
  %li= link_to "Full ATDIS 1.0.7 specification (PDF format)", "https://github.com/openaustralia/atdis/raw/master/docs/ATDIS-1.0.7%20Application%20Tracking%20Data%20Interchange%20Specification%20(v1.0).pdf"
  %li= link_to "Full ATDIS 1.0.7 specification (Microsoft Word format)", "https://github.com/openaustralia/atdis/raw/master/docs/ATDIS-1.0.7%20Application%20Tracking%20Data%20Interchange%20Specification%20(v1.0).doc"

%p A few words of warning: Please do not use this page as the definitive reference of the specification. We've made every attempt to make this version an accurate copy of the original but there is always a possibility that there is a mistake or that this version is not up to date.

.atdis-specification
  :markdown
    ###4 ATDIS-1.0.7 Application Tracking Data Interchange Specification

    ###4.1 Components of the specification

    Figure 2 presents the four high-level components of the Specification:

    ![Components of the specification](/assets/atdis/image_1.png)

    <p align="center">
    Figure 2: Components of the specification
    </p>

    * **Feed**: defines a publicly available source of application tracking data. For example, each complying Council would provide a single feed for application tracking data.
    * **Schema**: defines the data elements that make up individual application tracking records. Examples include "date", "location" and "reference".
    * **Use cases**: defines the agreed use cases for which ATDIS data can participate. Examples include "enquiries" and "subscriptions".
    * **Channels**: defines the channels over which ATDIS data can be delivered. Examples include RSS, REST/[JSON, XML] and Browser.

    ###4.2 Feed

    Any compliant source of application tracking data is referred to as a *feed*. A feed is defined by a standard web address of the form:

    ![image alt text](/assets/atdis/image_2.png)

    <p align="center">
    Figure 3: Feed web address format
    </p>

    **Where**

    * Protocol: assume HTTP, but HTTPS can be used by a Council if required
    * Web address: the fully qualified web host name for the Complying Authority. By convention, this should be the same as the URL used to access the Council's publicly available web site.
    * Feed prefix: component of the URI that indicates a complying feed.
    * Schema version: component of the feed prefix that indicates the version of the schema offered by the feed.

    **Notes**

    * There are some options for how the schema version number might be encoded into the feed URL. The above format (where the version is encoded into the URI) is the simplest mechanism, but it is also possible to encode version number with an HTTP header variable, with a query string parameter, or by using content negotiation. There is a vibrant and passionate debate about the best way to version URLs for access to resources that shows no prospect of being settled soon. Therefore, for the purposes of ATDIS-1.0.7, a simple URI-encoded version string is proposed. If content negotiation becomes the preferred standard, then this it is relatively easy to change the prefix in a future release.
    * Given a version of the specification of the form *MAJOR.minor.patch*, it is assumed that all *patch *versions of the same major/minor version remain semantically and syntactically compatible with each other. Minor may introduce new items but will not remove any existing items. Major versions may make changes to the schema that are not backwards compatible.


    ###4.3 Schema


    The *schema* defines the specific data elements that are published in a compliant ATDIS-1.0.7 *feed*. The schema has a defined structure, broken down into one or more *application* records, which are further decomposed into *blocks* and *fields*.

    To comply with the Specification at any level, a feed must support the basic conceptual structure of a **list** of application records. Then the feed will provide blocks and fields for each application record, depending on the level of compliance.

    If a feed chooses to include a record type then it must include all mandatory fields for that record type. A feed can chose whether or not to include any optional fields within a block.

    Figure 4 describes the conceptual structure of a complying feed:

    ![image alt text](/assets/atdis/image_3.png)

    <p align="center">
     Figure 4: Feed structure
    </p>


    There are *seven* record types defined by the Specification:

    1. Info
    2. Reference
    3. Location
    4. Events
    5. Documents
    6. People
    7. Extended

    The following sections describe the semantics of each of the seven record types that make up the Specification. For each record type, the Specification indicates in which compliance level (L1, L2 or L3) the record belongs.

    ####4.3.1   Info [L1]

    The `info` record is the top-level block that contains unique identifying information about a single development application. In conjunction with the `reference` block, this represents the minimum *Level 1 Mandatory* requirements for a feed compliant with the ATDIS-1.0.7 specification.

    The `info` record must contain the following fields:

    <table>
    <tr>
      <th>M/O</th><th>Field</th><th>Notes</th>
    </tr>
    <tr>
    <td>M</td><td><code>dat_id</code></td><td>An id that uniquely identifies the application within this authority</td>
    </tr>
    <tr>
    <td>M</td><td><code>last_modified_date</code></td><td>the date of the last change to this record</td>
    </tr>
    <tr> <td>M</td><td><code>description</code></td><td>A short, human readable description of the application</td></tr>
    <tr><td>M</td><td><code>authority</code></td><td>Name of the Authority</td>
    </tr>
    <tr><td>M</td><td><code>lodgement_date</code></td><td>Date the application was lodged with the Authority</td></tr>
    <tr><td>M</td><td><code>determination_date</code></td><td>Date that the application was determined at the Authority</td></tr>

    <tr><td>M</td><td><code>status</code></td><td>Current status of the application with the Authority<td></td></tr>

    <tr><td>O</td><td><code>notification_start_date</code></td><td>Start date for notification period of application</td></tr>
    <tr><td>O</td><td><code>notification_end_date</code></td><td>End date for notification period of application</td></tr>
    <tr><td>O</td><td><code>name</code></td><td>Name of responsible officer from the Authority</td></tr>
    <tr><td>O</td><td><code>estimated_cost</code></td><td>Estimated cost of the work described by the application</td></tr>
    </table>


    **Notes**

    * The field `last_modified_date` captures the date at which the authority last modified the record. This allows consuming systems to know if an application changes over time.
    * Dates can be specified with or without time information. For example, the following are both valid date values (see also 4.3.8):
      ```
      "determination_date": "2013-06-20T02:01:07Z" 
      ```

      ```
      "determination_date": "2013-06-20" 
      ```

    * If the application does not have a determination date (yet, or at all), the value `"none"` should be specified for the `determination_date` field.
    * If the application does not have a notification period at all, the value `"none"` should be specified for the `notification_start_date` and `notification_end_date` fields.
    * The contents of `estimated_cost` should be a formatted currency string in Australian Dollars, of the form `"$300,000"`.

    ###4.3.2. Reference [L1]

    The `reference` record contains links to the original source material for the application at the Complying Authority. It can optionally contain a link for where Residents can comment on the application at the Complying Authority. In conjunction with the `info` block, this represents the minimum *Level 1 Mandatory* requirements for a feed compliant with the ATDIS-1.0.7 specification.

    In both cases, the links to URLs captured in the `reference` block would take the user to another location on the Complying Authority's web site. 

    The content behind the `more_info_url` and `comments_url` values must link to an endpoint that directly shows the information for the specific development application. The underlying content must be directly accessible without authentication, cookies or other limiting requirements for the consuming system. The data and behaviour of the pages at these links is beyond the scope of the ATDIS-1.0.7 Specification.

    The `reference` record must contain the following fields:

    <table> 
    <tr><th>M/O</th><th>Field</th><th>Notes</th>
    </tr>
    <tr><td>M</td><td><code>more_info_url</code></td><td>Web address for more information about this application</td>
    </tr>
    <td>O</td><td><code>comments_url</code></td><td>Web address for commenting on this application</td></tr>
    </table>

    ####4.3.3 Location [L1]

    The `location` record is designed to provide consumers with information about the geographic location of the development application. Because not all Authorities have access to geographic information for their development applications, parts of this record are optional. If a feed includes the location record at all, it must include the `address` and `land_title_ref` attributes within the record.

    It is mandatory that feeds provide the location record with the `address` and `land_title_ref` fields, and it is anticipated that future versions of the Specification will promote the coordinates field into mandatory compliance.

    <table> 
    <tr><th>M/O</th><th>Field</th><th>Notes</th>
    </tr>
    <tr><td>M </td><td><code>address</code></td><td>Human readable street address for the application</td>
    </tr>
    <tr><td> M </td><td><code>land_title_ref</code></td><td>Composite record containing Land Title Office references</td>
    </tr>
    <tr><td> M </td><td><code>lot</code></td><td>Lot number</td>
    </tr>
    <tr><td> M </td><td><code>section</code></td><td>Section number, or "none"</td>
    </tr>
    <tr><td> M </td><td><code>dpsp_id</code></td><td>DP/SP identifier</td>
    </tr>
    <tr><td> O  </td><td><code>geometry</code></td><td>Composite record containing geographic coordinates (GeoJSON format)</td>
    </tr>
    </table>


    **Notes**

    * In each case the values for `lot`, `section` and `dpsp_id` should all be captured as strings.
    * When used, GPS coordinates must make use of the WGS84 datum as per *"Earth Gravitational Model 2008 (EGM2008)"*. See: [http://earth-info.nga.mil/GandG/wgs84/gravitymod/egm2008/index.html](http://earth-info.nga.mil/GandG/wgs84/gravitymod/egm2008/index.html) for details.
    * The format for geographic coordinates must use the GeoJSON specification as per: [http://geojson.org/geojson-spec.html#geojson-objects](http://geojson.org/geojson-spec.html#geojson-objects) 
    * The simplest compliant version of a geometry instance would be a *Point* of the form:

      ```
      { "type": "Point", "coordinates": [100.0, 0.0] }
      ```
      
      Point coordinates are in x, y order (easting, northing for projected coordinates, longitude, latitude for geographic coordinates). For more advanced geometric types, please refer to the GeoJSON specification.
    * As `geometry` is optional for the Location block in ATDIS-1.0.7, there is no requirement to specify the kinds of geometric data for an application. However, if a feed is supplying geometric data, then it must be formatted according to the GeoJSON specification.
    * In general, the `dpsp_id` will start with either the letters `SP` or `DP`, and be followed by a number.
    * If the `section` value in `land_title_ref` is not available, then it should be populated with the value `"none"`.


    ####4.3.4 Events [L2]

    The `events` record contains a list of events that have occurred against the application since lodgement. In this version of the specification, the `events` block has been promoted to *Level 1 Mandatory*. The `events` record must include a list of events, where each event has an `id`, `date` and `description`. Inclusion of an `event_type` and `status` is optional.

    <table> 
    <tr><th>M/O</th><th>Field</th><th>Notes</th>
    </tr>
    <tr><td>M </td><td><code>events</code></td><td>Composite record containing a list of events for the application</td>
    </tr>
    <tr><td>M </td><td><code>id</code></td><td>Internal id of event raised against application</td>
    </tr>
    <tr><td>M </td><td><code>date</code></td><td>Date the event occurred</td>
    </tr>
    <tr><td>M</td><td><code>description</code></td><td>Short, human readable description of the event</td>
    </tr>
    <tr><td> O</td><td><code>event_type</code></td><td>Authority-specific event type</td>
    </tr>
    <tr><td>O</td><td><code>status</code></td></td><td>Authority-specific event status code</td>
    </tr>
    </table>


    **Notes**

    * This version of the specification does not define a list of valid `event_type`s, so the contents of this field can be Vendor or Council specific.
    * The value for `id` should be a string. The value should be unique from the perspective of the authority such that it can be used as a reference for the underlying event.

    ####4.3.5  Documents [L2]

    The `documents` record contains a list of references (as links) to documents that relate to the application. In this version of the Specification, the `documents` block has been promoted to *Level 1 Mandatory*. The `documents` record must include a list of documents, where each document has a `ref`, `title` and a link (in the form of a URL) to the location where the document can be downloaded.

    <table> 
    <tr><th>M/O</th><th>Field</th><th>Notes</th>
    </tr>
    <tr><td>M </td><td><code>documents</code></td><td>Composite record containing a list of documents for the application</td>
    </tr>
    <tr><td>M</td><td><code>ref</code></td><td>Internal reference of document for this application</td>
    </tr>
    <tr><td>M</td><td><code>title</code></td><td> Short, human readable title of the document</td>
    </tr>
     <tr><td>M</td><td><code>document_url</code></td><td>URL to location of document for download</td><tr>
     </table>
     
     

    ####4.3.6  People [L2]

    The `people` record contains a list of people that relate to the application. As an extended data item, this record is only required for *Level 2 Optional* compliance. However, if it the people record is included at all, then it is assumed to include a list of people, where each person has a `name` and a `role` indicating their responsibility with the application. Optionally, the person record can include contact information.

    <table> 
    <tr><th>M/O</th><th>Field</th><th>Notes</th>
    </tr>
    <tr><td>M </td><td><code>people</code></td><td>Composite record containing a list of people related to the app</td>
    </tr>
    <tr><td>M</td><td><code>name</code></td><td>Name of person related to the application</td>
    </tr>
    <tr><td>M</td><td><code>role</code></td><td> Authority-specific role type for the person with respect to the app</td>
    </tr>
     <tr><td>O</td><td><code>contact</code></td><td>Authority-specific contact information for the related person</td><tr>
     </table>
     
    ####4.3.7 Extended [L3]

    The `extended` record is specifically designed to allow ATDIS-1.0.7 compliant feeds to include any additional information that might be relevant to an application. The contents of the `extended` record is not specified, and left up to the ATDIS Vendor and Complying Authority to populate as they see fit. There are no mandatory or optional fields for the `extended` record. Consuming systems should expect its existence, but are not required to do anything with data contained within it.

    <table> 
    <tr><th>M/O</th><th>Field</th><th>Notes</th>
    </tr>
    <tr><td colspan=3>Not Specified</td>
    </tr></table>


    ####4.3.8 Date Formats [L1]

    Any field within the schema of the form `*_date` should be treated as an ISO-8601 date format. See: [http://www.w3.org/TR/NOTE-datetime](http://www.w3.org/TR/NOTE-datetime) for details.

    ###4.4 Other Technical Considerations

    ####4.4.1 Encoding

    All data in ATDIS requests should be encoded using UTF-8, and all data returned by ATDIS-compatible systems should be returned in UTF-8 encoding. See [http://en.wikipedia.org/wiki/UTF-8](http://en.wikipedia.org/wiki/UTF-8) for details.
