%section.donations
  %h4 Find PlanningAlerts useful?
  %p This independent project is run by a local charity, the #{ link_to "OpenAustralia Foundation", "https://www.openaustraliafoundation.org.au", title: "The OpenAustralia Foundation builds free tools to simplify the discovery and use of public data."}. PlanningAlerts is powered by small, tax-deductible donations from the people who use it to stay informed about changes to their local&nbsp;area. If&nbsp;you find it useful, chip in to support&nbsp;PlanningAlerts.
  = link_to "Back PlanningAlerts", donate_url, title: "Make a donation to support PlanningAlerts", class: "btn btn-primary"
