<p>Please click on the link below to confirm your email address to register for a PlanningAlerts account:</p>
<p>
  <%= link_to "Confirm my account", confirmation_url(@resource, confirmation_token: @token) %>
</p>
<p>If your email program does not let you click on this link, just copy and paste it into your web browser and hit return.</p>
