<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8">
  </head>
  <body>
    <% if @resource.name.present? %>
      <p>Hello <%= @resource.name %>!</p>
    <% else %>
      <p>Hello!</p>
    <% end %>

    <p>Please click the link below and follow the instructions. We'll have you up and running with a new password in no time.</p>

    <p><%= link_to "Reset password", edit_password_url(@resource, reset_password_token: @token) %></p>

    <p>Didn't request this email? Then you can safely ignore it.</p>
  </body>
</html>
