%h1 Thanks!
%p
  Thank you for this great contribution of #{@councillor_contribution.suggested_councillors.count}
  new #{@councillor_contribution.authority.full_name} #{"Councillor".pluralize(@councillor_contribution.suggested_councillors.length)}.
%p
  This data you contributed will be reviewed
  by an administrator, and go live shortly.

= link_to "Go back to home page", root_url
