<h2>Oops!</h2>

<p>You sent an email to no-reply@planningalerts.org.au</p>

<p>
  This email address is not monitored by humans.
  If you do want to get in touch please visit <strong><%= link_to "contact us", documentation_contact_url %></strong>.
</p>

<p>If you didn't mean to email us, that's okay. You can safely ignore this email.</p>

<h3>Why are we doing this?</h3>

<p>
  There has been a crazy amount of people accidently emailing us and we're just
  trying to reduce the noise so we can better support you.
</p>

<hr>

<h3>About Planning Alerts</h3>

<p>
  <%= link_to "Planningalerts.org.au", root_url %> is a free service brought to you by the OpenAustralia Foundation,
  a charity run to help people find information which we all have the right to access.
</p>

<p>
  We republish planning authorities' development application (DA) information on our free
  website so it's easier for you to use. We're not affiliated with the planning authorities
  or those submitting DAs.
</p>