-# Enabled / Disable this banner by updating _header.haml
.pa-container
  = link_to "https://donate.planningalerts.org.au?utm_source=pa_banner" do
    PlanningAlerts <strong>urgently needs your help</strong> to keep running for the next 12 months
  &mdash;
  Your donation is <strong>tax deductible</strong>.
