-#
  Anything you put here will be added to a big banner across the top of each page
  This is useful for emergency notices or end-of-financial-year funding drives

  .pa-container
    = link_to "https://donate.planningalerts.org.au?utm_source=pa_banner" do
      PlanningAlerts <strong>urgently needs your help</strong> to keep running for the next 12 months
    &mdash;
    Your donation is <strong>tax deductible</strong>.
