- if Flipper.enabled?(:maintenance_mode)
  .pa-container
    We're doing some maintenance on PlanningAlerts. Is is currently in read-only mode which means you can still browse the site
    but you won't be able to make any changes for the time being. Please try again later.
