- content_for :page_title, "Confirmed"
.attention
  %h3 Thanks, your alert has been activated
  %p
    You will now receive email alerts for any planning applications we find within <strong>#{meters_in_words(@alert.radius_meters)}</strong>
    of <strong>#{@alert.address}</strong>.
  - if Alert.active.where(email: @alert.email).count >= 3
    %p
      You now have several email alerts. PlanningAlerts is free for low-volume, non-commercial use. After a free trial, you'll need to subscribe to keep getting alerts.
%p
  You can
  = link_to "change the size of the area covered by the alerts", area_alert_path(:id => @alert.confirm_id)
  now or at a later time. Every email alert will have this link. If you want alerts around another address as well
  = link_to "you can sign up for multiple alerts", new_alert_path
