- if sort == "time"
  = render(DropdownComponent.new) do |component|
    - component.with_button do
      within
      = meters_in_words(radius)
    :ruby
      component.with_menu do |menu|
        [200, 800, 2000].each do |radius_option|
          menu.with_item(disabled: radius.to_i == radius_option) { link_to "within #{meters_in_words(radius_option)}", { q:, radius: (radius_option == 2000 ? nil : radius_option) } }
        end
      end
- else
  = render(DropdownComponent.new) do |component|
    - component.with_button do
      - if time == 365 / 4
        within the last 3 months
      - elsif time == 365 / 2
        within the last 6 months
      - elsif time == 365
        within the last year
      - elsif time == 365 * 2
        within the last 2 years
      - elsif time == 365 * 5
        within the last 5 years
      - elsif time == 365 * 10
        within the last 10 years
    :ruby
      component.with_menu do |menu|
        menu.with_item(disabled: time == 365 / 4)  { link_to "within the last 3 months", { q:, sort:, time: 365 / 4 } }
        menu.with_item(disabled: time == 365 / 2)  { link_to "within the last 6 months", { q:, sort:, time: 365 / 2 } }
        menu.with_item(disabled: time == 365)      { link_to "within the last year",     { q:, sort:, time: 365 } }
        menu.with_item(disabled: time == 365 * 2)  { link_to "within the last 2 years",  { q:, sort:, time: 365 * 2 } }
        menu.with_item(disabled: time == 365 * 5)  { link_to "within the last 5 years",  { q:, sort:, time: 365 * 5 } }
        menu.with_item(disabled: time == 365 * 10) { link_to "within the last 10 years", { q:, sort:, time: 365 * 10 } }
      end
