- if sort == "time"
  = render(DropdownComponent.new) do |component|
    - component.with_button do
      within
      = meters_in_words(radius)
    :ruby
      component.with_menu do |menu|
        menu.with_item(disabled: radius.to_i == 200) { link_to "within 200 metres", { q:, radius: 200 } }
        menu.with_item(disabled: radius.to_i == 800) { link_to "within 800 metres", { q:, radius: 800 } }
        menu.with_item(disabled: radius.to_i == 2000) { link_to "within 2 kilometres", { q:, radius: nil } }
      end
- else
  = render(DropdownComponent.new) do |component|
    - component.with_button do
      - if time == 365 / 4
        within the last 3 months
      - elsif time == 365 / 2
        within the last 6 months
      - elsif time == 365
        within the last year
      - elsif time == 365 * 2
        within the last 2 years
      - elsif time == 365 * 5
        within the last 5 years
      - elsif time == 365 * 10
        within the last 10 years
    :ruby
      component.with_menu do |menu|
        menu.with_item(disabled: time == 365 / 4)  { link_to "within the last 3 months", { q:, sort:, time: 365 / 4 } }
        menu.with_item(disabled: time == 365 / 2)  { link_to "within the last 6 months", { q:, sort:, time: 365 / 2 } }
        menu.with_item(disabled: time == 365)      { link_to "within the last year",     { q:, sort:, time: 365 } }
        menu.with_item(disabled: time == 365 * 2)  { link_to "within the last 2 years",  { q:, sort:, time: 365 * 2 } }
        menu.with_item(disabled: time == 365 * 5)  { link_to "within the last 5 years",  { q:, sort:, time: 365 * 5 } }
        menu.with_item(disabled: time == 365 * 10) { link_to "within the last 10 years", { q:, sort:, time: 365 * 10 } }
      end
