We found this application for you on the planning authority's website
= time_tag_with_hover(application.first_date_scraped, time_ago_in_words(application.first_date_scraped))
ago.
- if application.date_received
  It was received by them
  = time_tag_with_hover(application.date_received, distance_of_time_in_words(application.date_received, application.first_date_scraped))
  earlier.
- else
  The date it was received by them was not recorded.
