.dropdown
  %button.dropdown-toggle
    Sorted by
    - if sort == "time"
      most recent first
    - else
      closest first
    = image_tag "standard/chevron-up-down.svg", size: "16x16"
  %ul.dropdown-menu
    %li= link_to "most recent first", { sort: "time", page: nil }.merge(extra_params)
    %li= link_to "closest first", { sort: "distance", page: nil }.merge(extra_params)
