<% if @user.name.present? %>
  <p>Hello <%= @user.name %>!</p>
<% else %>
  <p>Hello!</p>
<% end %>

<p>Your account has already been activated.</p>

<p>If you've forgotten your password and would like to reset it instead then click the link below</p>

<p><%= link_to "Reset password", edit_user_password_url(reset_password_token: @token) %></p>

<p>Didn't request this email? Then you can safely ignore it.</p>
