<p>Hello!</p>

<p>Please click the link below and follow the instructions. We'll have you up and running in no time.</p>

<p><%= link_to "Activate my account", edit_users_activation_url(token: @token) %></p>

<p>Didn't request this email? Then you can safely ignore it.</p>
