- content_for :page_title, "Thank you!"
.attention
  %h3= yield :page_title
  %p The comment has been reported and a moderator will look into it as soon as possible.
  %p Thanks for taking the time let us know about this.
  = link_to "Return to the application page", application_path(@comment.application)
