#comments-area
  - if comments.present?
    %h4= pluralize(comments.count, "Comment")
    %p.small.quiet
      Have your say by #{link_to "adding your own comment", "#add-comment", class: "link-to-comment-form"}.
    %ol#comments
      = render comments, in_list: true, with_address: false
  = render "comments/comment_form", application: application, councillors: councillors, add_comment: add_comment, councillor_list_open: councillor_list_open
