- if application.on_notice_to
  - unless !application.councillors_available_for_contact.empty? && application.official_submission_period_expired?
    %p= on_notice_text(application)
%p
  - unless application.councillors_available_for_contact.empty?
    Post a comment for the planning authority
    or one of your elected local councillors.
  - else
    Your comment and details will be sent to
<<<<<<< HEAD
    %strong #{application.authority.full_name}, 
    - if application.official_submission_period_expired?
      but cannot be formally considered by them as the notification period for this application has expired.
    - else
      and may be considered by them as part of the decision making process for this application.
=======
    %strong #{application.authority.full_name}.
    - unless application.official_submission_period_expired?
      They may consider your submission when they decide whether to approve this application.
>>>>>>> 40b68ee6... Simply change wording from "They\'ll" to "They may"
  Your&nbsp;name and comment will be posted publicly above.
