-# Note that for simplicity here we've made it so that if the authority
-# has no email for sending official comments then you can't write
-# to councillors either even if some are set
- if application.authority.email.present?
  = render "comments/comment_form_inputs", application: application, add_comment: add_comment, councillor_list_open: councillor_list_open
- elsif application.comment_url.present?
  %h4#add-comment Add your own comment
  %p
    = link_to "How to comment", application.comment_url
    on this application (from #{application.authority.full_name}).
    - if application.on_notice_to
      = on_notice_text(application)
