!!! 5
%html(lang="en")
  = render "shared/html_head"
  %body
    = render "application/header", with_navigation: false
    = render "application/main"
    = render "shared/end_matter", with_maps_scripts: false
