- content_for :meta_description, Rails.configuration.planningalerts_meta_description

= render "home/address_search_preamble"

= render "applications/address_search_form", q: @q, error: @error

= render "home/trending", applications: @trending
